<h1 class="h3 mb-3">Modals</h1>

<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Default modal</h5>
        <h6 class="card-subtitle text-muted">Default Bootstrap modal.</h6>
      </div>
      <div class="card-body text-center">
        <p>Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>

        <!-- BEGIN primary modal -->
        <button type="button" class="btn btn-primary my-1" (click)='openModal(defaultModalPrimary)'>
          Primary
        </button>

        <ng-template #defaultModalPrimary>
          <div class="modal-header">
            <h5 class="modal-title">Default modal</h5>
            <button type="button" class="btn-close" (click)='closeModal()'></button>
          </div>
          <div class="modal-body m-3">
            <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)='closeModal()'>Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </ng-template>
        <!-- END primary modal -->
        <!-- BEGIN success modal -->
        <button type="button" class="btn btn-success my-1" (click)='openModal(defaultModalSuccess)'>
          Success
        </button>
        <ng-template #defaultModalSuccess>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Default modal</h5>
              <button type="button" class="btn-close" (click)='closeModal()'></button>
            </div>
            <div class="modal-body m-3">
              <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)='closeModal()'>Close</button>
              <button type="button" class="btn btn-success">Save changes</button>
            </div>
          </div>
        </ng-template>
        <!-- END success modal -->
        <!-- BEGIN danger modal -->
        <button type="button" class="btn btn-danger my-1" (click)='openModal(defaultModalDanger)'>
          Danger
        </button>
        <ng-template #defaultModalDanger>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Default modal</h5>
              <button type="button" class="btn-close" (click)='closeModal()'></button>
            </div>
            <div class="modal-body m-3">
              <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)='closeModal()'>Close</button>
              <button type="button" class="btn btn-danger">Save changes</button>
            </div>
          </div>
        </ng-template>
        <!-- END danger modal -->
        <!-- BEGIN warning modal -->
        <button type="button" class="btn btn-warning my-1" (click)='openModal(defaultModalWarning)'>
          Warning
        </button>
        <ng-template #defaultModalWarning>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Default modal</h5>
              <button type="button" class="btn-close" (click)='closeModal()'></button>
            </div>
            <div class="modal-body m-3">
              <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)='closeModal()'>Close</button>
              <button type="button" class="btn btn-warning">Save changes</button>
            </div>
          </div>
        </ng-template>
        <!-- END warning modal -->
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Colored modal</h5>
        <h6 class="card-subtitle text-muted">Colored Bootstrap modal.</h6>
      </div>
      <div class="card-body text-center">
        <p>Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>

        <!-- BEGIN primary modal -->
        <button type="button" class="btn btn-primary my-1" (click)='openColoredModal(coloredModalPrimary, "modal-primary")'>
          Primary
        </button>
        <ng-template #coloredModalPrimary>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Colored modal</h5>
              <button type="button" class="btn-close" (click)='closeModal()'></button>
            </div>
            <div class="modal-body m-3">
              <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)='closeModal()'>Close</button>
              <button type="button" class="btn btn-light">Save changes</button>
            </div>
          </div>
        </ng-template>
        <!-- END primary modal -->
        <!-- BEGIN success modal -->
        <button type="button" class="btn btn-success my-1" (click)='openColoredModal(coloredModalSuccess, "modal-success")'>
          Success
        </button>
        <ng-template #coloredModalSuccess>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Colored modal</h5>
              <button type="button" class="btn-close" (click)='closeModal()'></button>
            </div>
            <div class="modal-body m-3">
              <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)='closeModal()'>Close</button>
              <button type="button" class="btn btn-light">Save changes</button>
            </div>
          </div>
        </ng-template>
        <!-- END success modal -->
        <!-- BEGIN danger modal -->
        <button type="button" class="btn btn-danger my-1" (click)='openColoredModal(coloredModalDanger, "modal-danger")'>
          Danger
        </button>
        <ng-template #coloredModalDanger>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Colored modal</h5>
              <button type="button" class="btn-close" (click)='closeModal()'></button>
            </div>
            <div class="modal-body m-3">
              <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)='closeModal()'>Close</button>
              <button type="button" class="btn btn-light">Save changes</button>
            </div>
          </div>
        </ng-template>
        <!-- END danger modal -->
        <!-- BEGIN warning modal -->
        <button type="button" class="btn btn-warning my-1" (click)='openColoredModal(coloredModalWarning, "modal-warning")'>
          Warning
        </button>
        <ng-template #coloredModalWarning>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Colored modal</h5>
              <button type="button" class="btn-close" (click)='closeModal()'></button>
            </div>
            <div class="modal-body m-3">
              <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)='closeModal()'>Close</button>
              <button type="button" class="btn btn-light">Save changes</button>
            </div>
          </div>
        </ng-template>
        <!-- END warning modal -->
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Centered modal</h5>
        <h6 class="card-subtitle text-muted">Vertically centered modal.</h6>
      </div>
      <div class="card-body text-center">
        <p>Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>

        <!-- BEGIN primary modal -->
        <button type="button" class="btn btn-primary my-1" (click)='openCenteredModal(centeredModalPrimary)'>
          Primary
        </button>
        <ng-template #centeredModalPrimary>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Centered modal</h5>
              <button type="button" class="btn-close" (click)='closeModal()'></button>
            </div>
            <div class="modal-body m-3">
              <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)='closeModal()'>Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </ng-template>
        <!-- END primary modal -->
        <!-- BEGIN success modal -->
        <button type="button" class="btn btn-success my-1" (click)='openCenteredModal(centeredModalSuccess)'>
          Success
        </button>
        <ng-template #centeredModalSuccess>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Centered modal</h5>
              <button type="button" class="btn-close" (click)='closeModal()'></button>
            </div>
            <div class="modal-body m-3">
              <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)='closeModal()'>Close</button>
              <button type="button" class="btn btn-success">Save changes</button>
            </div>
          </div>
        </ng-template>
        <!-- END success modal -->
        <!-- BEGIN danger modal -->
        <button type="button" class="btn btn-danger my-1" (click)='openCenteredModal(centeredModalDanger)'>
          Danger
        </button>
        <ng-template #centeredModalDanger>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Centered modal</h5>
              <button type="button" class="btn-close" (click)='closeModal()'></button>
            </div>
            <div class="modal-body m-3">
              <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)='closeModal()'>Close</button>
              <button type="button" class="btn btn-danger">Save changes</button>
            </div>
          </div>
        </ng-template>
        <!-- END danger modal -->
        <!-- BEGIN warning modal -->
        <button type="button" class="btn btn-warning my-1" (click)='openCenteredModal(centeredModalWarning)'>
          Warning
        </button>
        <ng-template #centeredModalWarning>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Centered modal</h5>
              <button type="button" class="btn-close" (click)='closeModal()'></button>
            </div>
            <div class="modal-body m-3">
              <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)='closeModal()'>Close</button>
              <button type="button" class="btn btn-warning">Save changes</button>
            </div>
          </div>
        </ng-template>
        <!-- END warning modal -->
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Modal sizes</h5>
        <h6 class="card-subtitle text-muted">These sizes kick in at certain breakpoints to avoid scrollbars on smaller viewports.</h6>
      </div>
      <div class="card-body text-center">
        <p>Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>

        <!-- BEGIN  modal -->
        <button type="button" class="btn btn-primary my-1" (click)='openSizedModal(sizedModalSm, "modal-sm")'>
          Small
        </button>
        <ng-template #sizedModalSm>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Small modal</h5>
              <button type="button" class="btn-close" (click)='closeModal()'></button>
            </div>
            <div class="modal-body m-3">
              <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)='closeModal()'>Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </ng-template>
        <!-- END  modal -->
        <!-- BEGIN  modal -->
        <button type="button" class="btn btn-primary my-1" (click)='openSizedModal(sizedModalMd, "modal-md")'>
          Medium
        </button>
        <ng-template #sizedModalMd>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Medium modal</h5>
              <button type="button" class="btn-close" (click)='closeModal()'></button>
            </div>
            <div class="modal-body m-3">
              <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)='closeModal()'>Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </ng-template>
        <!-- END  modal -->
        <!-- BEGIN  modal -->
        <button type="button" class="btn btn-primary my-1" (click)='openSizedModal(sizedModalLg, "modal-lg")'>
          Large
        </button>
        <ng-template #sizedModalLg>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Large modal</h5>
              <button type="button" class="btn-close" (click)='closeModal()'></button>
            </div>
            <div class="modal-body m-3">
              <p class="mb-0">Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)='closeModal()'>Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </ng-template>
        <!-- END  modal -->
      </div>
    </div>
  </div>
</div>
