<h1 class="h3 mb-3">Profile</h1>

<div class="row" *ngIf="profile">
  <div class="col-md-4 col-xl-3">
    <valor-launchpad-card>
      <div card-header>
        <h5 class="card-title mb-0">Profile Details</h5>
      </div>
      <div card-body>
<!--        TODO: refactor these to not have card-body classes-->
        <div class="card-body text-center">
          <valor-launchpad-avatar [src]="profile.avatar" size="xxl" classes="mb-2 img-fluid"
                                  [alt]="profile.name"></valor-launchpad-avatar>
          <h5 class="card-title mb-0">{{profile.name}}</h5>
          <div class="text-muted mb-2">{{profile.title}}</div>
          <div>
            <a *ngIf="!profile.following" class="btn btn-primary btn-sm" href="#">Follow</a>
            <a *ngIf="profile.following" class="btn btn-primary btn-sm" href="#">Unfollow</a>
            <a class="btn btn-primary btn-sm" href="#"><i class="align-middle me-2 fas fa-fw fa-comment-alt"></i>
              Message</a>
          </div>
        </div>
        <hr class="my-0"/>
        <div class="card-body">
          <h5 class="h6 card-title">Skills</h5>
          <a href="#" class="badge bg-primary me-1 my-1" *ngFor="let skill of profile.skills">{{skill.name}}</a>
        </div>
        <hr class="my-0"/>
        <div class="card-body">
          <h5 class="h6 card-title">About</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <i class="fas fa-fw fa-home me-1"></i> Lives in<a href="#"> {{profile.location}}</a>
            </li>

            <li class="mb-1">
              <i class="feather-sm me-1 fas fa-fw fa-briefcase"></i> Works at
              <a [href]="profile.employers[0]?.employer.url" target="_blank"> {{profile.employers[0]?.employer.name}}</a>
            </li>
            <li class="mb-1">
              <i class="feather-sm me-1 fas fa-fw fa-map-pin"></i> From <a href="#">{{profile.from}}</a>
            </li>
          </ul>
        </div>
        <hr class="my-0"/>
        <div class="card-body">
          <h5 class="h6 card-title">Elsewhere</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1" *ngFor="let social of profile.social_media">
              <span class="me-1" [ngClass]="social.icon"></span>
              <a [href]="social.url">{{social.type}}</a>
            </li>
          </ul>
        </div>
      </div>
    </valor-launchpad-card>
  </div>

  <div class="col-md-8 col-xl-9">
    <div class="card">
      <div class="card-header">
        <div class="card-actions float-end">
          <div class="dropdown show">
            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
              <i class="align-middle fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <h5 class="card-title mb-0">Activities</h5>
      </div>
      <div class="card-body h-100">
        <div *ngFor="let item of profile.activity">
          <div *ngIf="item.type=='follower'">
            <div class="d-flex align-items-start">
              <valor-launchpad-avatar [src]="item.avatar" size="md" class="me-2"
                                      [alt]="item.name"></valor-launchpad-avatar>
              <div class="flex-grow-1">
                <small class="float-end">5m ago</small>
                <strong>{{item.name}}</strong> started following <strong>{{profile.name}}</strong><br/>
                <small class="text-muted">Today 7:51 pm</small><br/>
              </div>
            </div>
          </div>
          <div *ngIf="item.type=='wall'">
            <div class="d-flex align-items-start">
              <valor-launchpad-avatar [src]="item.avatar" size="md" class="me-2"
                                      [alt]="item.name"></valor-launchpad-avatar>
              <div class="flex-grow-1">
                <small class="float-end">30m ago</small>
                <strong>{{item.name}}</strong> posted something on <strong>{{profile.name}}</strong>'s timeline<br/>
                <small class="text-muted">Today 7:21 pm</small>

                <div class="border text-sm text-muted p-2 mt-1" [innerHTML]="item.body">

                </div>
                <a href="#" class="btn btn-sm btn-danger mt-1"><i class="feather-sm far fa-fw fa-heart"></i> Like</a>
              </div>
            </div>
          </div>
          <div *ngIf="item.type=='post'">
            <div class="d-flex align-items-start">
              <valor-launchpad-avatar [src]="item.avatar" size="md" class="me-2"
                                      [alt]="item.name"></valor-launchpad-avatar>
              <div class="flex-grow-1">
                <small class="float-end">3h ago</small>
                <strong>{{item.name}}</strong> posted {{item.description}} on <strong>{{profile.name}}</strong>'s
                timeline<br/>
                <small class="text-muted">Today 5:12 pm</small>

                <div class="row g-0 mt-1" [innerHTML]="item.body"></div>

                <a href="#" class="btn btn-sm btn-danger mt-1"><i class="feather-sm far fa-fw fa-heart"></i> Like</a>
              </div>
            </div>
          </div>
          <div *ngIf="item.type =='blog'">
            <div class="d-flex align-items-start">
              <valor-launchpad-avatar [src]="item.avatar" size="md" class="me-2"
                                      [alt]="item.name"></valor-launchpad-avatar>
              <div class="flex-grow-1">
                <small class="float-end">1d ago</small>
                <strong>Stacie Hall</strong> posted a new blog<br/>
                <small class="text-muted">Yesterday 2:43 pm</small>
              </div>
            </div>
          </div>
          <div *ngIf="item.type=='follower_with_comments'">
            <div class="d-flex align-items-start">
              <valor-launchpad-avatar [src]="item.avatar" size="md" class="me-2"
                                      [alt]="item.name"></valor-launchpad-avatar>
              <div class="flex-grow-1">
                <small class="float-end">1d ago</small>
                <strong>{{item.name}}</strong> started following <strong>{{profile.name}}</strong><br/>
                <small class="text-muted">Yesterday 3:12 pm</small>

                <div class="d-flex align-items-start mt-1" *ngFor="let child of item.children">
                  <a class="pe-3" href="#">
                    <valor-launchpad-avatar [src]="child.avatar" size="md" class="me-2"
                                            [alt]="child.name"></valor-launchpad-avatar>
                  </a>
                  <div class="flex-grow-1">
                    <div class="border text-sm text-muted p-2 mt-1" [innerHTML]="child.body"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr/>
        </div>
<!--        TODO implement this-->
        <div class="d-grid">
          <a href="#" class="btn btn-primary">Load more</a>
        </div>
      </div>
    </div>
  </div>
</div>
