<footer class="d-flex container footer flex-column justify-content-center align-items-center main-text">
  <a href="#">
    <div class="admin-logo"></div>
  </a>
  <span class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
    <br />sed do eiusmod tempor incididunt ut laboreet.
  </span>
  <div class="my-5 d-flex justify-content-around w-50">
    <span class="purple-blue-ft">ABOUT US</span>
    <span class="purple-blue-ft">FOLLOW US</span>
    <span class="purple-blue-ft">CONTACT US</span>
  </div>
  <div class="mb-6 d-flex align-items-center">
    <span>MADE WITH</span>
    <i class="purple-blue-ft mx-2 align-middle fas fa-fw fa-heart"></i>
    <span>BY VALOR SOFTWARE</span>
  </div>
</footer>