<section class="architecture">
  <h2 class="title">Architecture</h2>
  <div class="tech-container">
    <div class="tech-title">Back end</div>
    <div class="sub-tech-container">
      <div class="sub-tech">
        <div class="sub-tech-title">Auth</div>
        <div class="sub-tech-img">
          <a href="https://jwt.io/" target="_blank">
            <img src="assets/img/jwt-logo.svg" alt="jwt" />
          </a>
        </div>
      </div>
      <div class="sub-tech">
        <div class="sub-tech-title">Framework</div>
        <div class="sub-tech-img">
          <a href="https://nestjs.com/" target="_blank">
            <img src="assets/img/nest-logo.png" alt="nest" />
          </a>
        </div>
        <div class="sub-tech-img">
          <a href="https://nodejs.org/" target="_blank">
            <img src="assets/img/node-logo.png" alt="node" />
          </a>
        </div>
      </div>
      <div class="sub-tech">
        <div class="sub-tech-title">ORM</div>
        <div class="sub-tech-img">
          <a href="https://www.prisma.io/" target="_blank">
            <img src="assets/img/prisma-logo.png" alt="prisma" />
          </a>
        </div>
      </div>
      <div class="sub-tech">
        <div class="sub-tech-title">Caching</div>
        <div class="sub-tech-img">
          <a href="https://redis.io/" target="_blank">
            <img src="assets/img/redis-logo.png" alt="redis" />
          </a>
        </div>
      </div>
      <div class="sub-tech">
        <div class="sub-tech-title">Database</div>
        <div class="sub-tech-img">
          <a href="https://www.mysql.com/" target="_blank">
            <img src="assets/img/mysql-logo.png" alt="mysql" />
          </a>
        </div>
        <div class="sub-tech-img">
          <a href="https://www.postgresql.org/" target="_blank">
            <img src="assets/img/pgsql-logo.svg" alt="pgsql" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="tech-container">
    <div class="tech-title">Front end</div>
    <div class="sub-tech-container">
      <div class="sub-tech">
        <div class="sub-tech-title">Auth</div>
        <div class="sub-tech-img">
          <a href="https://jwt.io/" target="_blank">
            <img src="assets/img/jwt-logo.svg" alt="jwt" />
          </a>
        </div>
      </div>
      <div class="sub-tech text-center">
        <div class="sub-tech-title">UX</div>
        <div class="sub-tech-img">
          <a href="http://ngx-bootstrap.com/" target="_blank">
            <img src="assets/img/ngx-bootstrap-logo.svg" alt="ngx-bootstrap" />
          </a>
        </div>
        <div class="sub-tech-img">
          <a href="https://getbootstrap.com/" target="_blank">
            <img
              class="ms-2"
              src="assets/img/bootstrap-logo.svg"
              alt="bootstrap"
            />
          </a>
        </div>
      </div>
      <div class="sub-tech">
        <div class="sub-tech-title">Auth</div>
        <div class="sub-tech-img">
          <a href="https://angular.io/" target="_blank">
            <img src="assets/img/angular-logo.svg" alt="angular" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="tech-container">
    <div class="tech-title">Development</div>
    <div class="sub-tech-container">
      <div class="sub-tech">
        <div class="sub-tech-img">
          <a href="https://nx.dev/" target="_blank">
            <img src="assets/img/nx-logo.png" alt="nx" />
          </a>
        </div>
      </div>
      <div class="sub-tech">
        <div class="sub-tech-img">
          <a href="https://docs.docker.com/compose/" target="_blank">
            <img src="assets/img/docker-logo.png" alt="docker" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="tech-container">
    <div class="tech-title">Provider</div>
    <div class="sub-tech-container">
      <div class="sub-tech">
        <div class="sub-tech-img">
          <a href="https://cloud.google.com/" target="_blank">
            <img src="assets/img/google-cloud-logo.svg" alt="google-cloud" />
          </a>
        </div>
      </div>
      <div class="sub-tech">
        <div class="sub-tech-img">
          <a href="https://aws.amazon.com/" target="_blank">
            <img src="assets/img/aws-logo.svg" alt="aws" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="tech-container">
    <div class="tech-title">CI/CD</div>
    <div class="sub-tech-container">
      <div class="sub-tech">
        <div class="sub-tech-img">
          <a href="https://github.com/features/actions" target="_blank">
            <img src="assets/img/github-actions-logo.svg" alt="github-actions">
          </a>
        </div>
      </div>
      <div class="sub-tech">
        <div class="sub-tech-img">
          <a href="https://www.terraform.io/" target="_blank">
            <img class="terraform" src="assets/img/terraform-logo.svg" alt="terraform">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="tech-container">
    <div class="tech-title">Design</div>
    <div class="sub-tech-container">
      <div class="sub-tech">
        <div class="sub-tech-img">
          <a href="http://figma.com/" target="_blank">
            <img src="assets/img/figma-logo.svg" alt="figma">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="tech-container">
    <div class="tech-title">Integrations</div>
    <div class="sub-tech-container">
      <div class="sub-tech">
        <div class="sub-tech-title">Pricing</div>
        <div class="sub-tech-img">
          <a href="https://stripe.com/" target="_blank">
            <img src="assets/img/stripe-logo.svg" alt="stripe">
          </a>
        </div>
        <div class="sub-tech-img">
          <a href="http://paypal.com/" target="_blank">
            <img src="assets/img/paypal-logo.svg" alt="paypal">
          </a>
        </div>
      </div>
      <div class="sub-tech">
        <div class="sub-tech-title">Communication</div>
        <div class="sub-tech-img">
          <a href="https://www.twilio.com/" target="_blank">
            <img src="assets/img/twilio-logo.svg" alt="twilio">
          </a>
        </div>
        <div class="sub-tech-img">
          <a href="https://sendgrid.com/" target="_blank">
            <img src="assets/img/sendgrid-logo.svg" alt="sendgrid">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>