<div class="button-container">
  <button class="tab-button selected">
    <span class="purple-blue-ft">Payment</span>
    <div class="button-bottom-line"></div>
  </button>
  <button class="tab-button">
    <span class="text">Communication</span>
    <div class="button-bottom-line"></div>
  </button>
</div>
<div class="card-container">
  <img src="assets/img/stripe-logo.svg" />
  <div class="main-text">
    Suspendisse tristique fringilla pretium fringilla. Diam lorem eget ornare
    laoreet.
  </div>
  <div class="url-container">
    <div class="url-one">Website</div>
    <div class="url-two">
      <span>View integration</span>
      <i
        _ngcontent-wbs-c170=""
        class="align-middle fas fa-fw fa-long-arrow-alt-right"
      ></i>
    </div>
  </div>
</div>
<div class="card-container">
  <img src="assets/img/paypal-logo-now.svg" />
  <div class="main-text">
    Suspendisse tristique fringilla pretium fringilla. Diam lorem eget ornare
    laoreet.
  </div>
  <div class="url-container">
    <div class="url-one">Website</div>
    <div class="url-two">
      <span>View integration</span>
      <i
        _ngcontent-wbs-c170=""
        class="align-middle fas fa-fw fa-long-arrow-alt-right"
      ></i>
    </div>
  </div>
</div>
