<section class="questions">
  <h2 class="title">Frequently asked <br />questions</h2>
  <div class="button-container">
    <button class="tab-button selected">
      <span class="purple-blue-ft">Development</span>
    </button>
    <button class="tab-button">
      <span class="text">Buy This</span>
    </button>
    <button class="tab-button">
      <span class="text">Integrations</span>
    </button>
  </div>
  <div class="text-title">Why are androids dreaming of sheep?</div>
  <div class="main-text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat m dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor inc.
  </div>
  <div class="read-more">
    <span class="purple-blue-ft">Read more </span>
    <i
      class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"
    ></i>
  </div>
  <div class="faq-compact">Lorem ipsum dolor sit amet?</div>
  <div class="faq-compact">Lorem ipsum dolor sit amet?</div>
  <div class="faq-compact">Lorem ipsum dolor sit amet?</div>
  <div class="faq-compact">Lorem ipsum dolor sit amet?</div>
  <div class="faq-compact">Lorem ipsum dolor sit amet?</div>
</section>
