<h1 class="h3 mb-3">Carousel</h1>
<div valorLaunchpadRow>
  <div valorLaunchpadCol [span]="12" [lg]="6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 class="card-title">Slides only</h5>
        <h6 class="card-subtitle text-muted">
          Here’s a carousel with slides only. Note the presence of the
          <code>.d-block</code> and <code>.w-100</code> on carousel images to
          prevent browser default image alignment.
        </h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <valor-launchpad-carousel>
          <valor-launchpad-carousel-item *ngFor="let item of normalList">
            <img [src]="item.imgUrl" class="d-block w-100" alt="Unsplash" />
          </valor-launchpad-carousel-item>
        </valor-launchpad-carousel>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>

  <div valorLaunchpadCol [span]="12" [lg]="6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 class="card-title">With controls</h5>
        <h6 class="card-subtitle text-muted">
          Adding in the previous and next controls.
        </h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <valor-launchpad-carousel [controls]="true">
          <valor-launchpad-carousel-item *ngFor="let item of normalList">
            <img [src]="item.imgUrl" class="d-block w-100" alt="Unsplash" />
          </valor-launchpad-carousel-item>
        </valor-launchpad-carousel>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>

  <div valorLaunchpadCol [span]="12" [lg]="6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 class="card-title">With indicators</h5>
        <h6 class="card-subtitle text-muted">
          You can also add the indicators to the carousel, alongside the
          controls, too.
        </h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <valor-launchpad-carousel [controls]="true" [showDots]="true">
          <valor-launchpad-carousel-item *ngFor="let item of normalList">
            <img [src]="item.imgUrl" class="d-block w-100" alt="Unsplash" />
          </valor-launchpad-carousel-item>
        </valor-launchpad-carousel>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>

  <div valorLaunchpadCol [span]="12" [lg]="6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 class="card-title">With captions</h5>
        <h6 class="card-subtitle text-muted">
          Add captions to your slides easily with the
          <code>.carousel-caption</code> element within any
          <code>.carousel-item</code>.
        </h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <valor-launchpad-carousel [controls]="true" [showDots]="true">
          <valor-launchpad-carousel-item *ngFor="let item of captionList">
            <img [src]="item.imgUrl" class="d-block w-100" alt="Unsplash" />
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ item.title }}</h5>
              <p>{{ item.content }}</p>
            </div>
          </valor-launchpad-carousel-item>
        </valor-launchpad-carousel>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>

  <div valorLaunchpadCol [span]="12" [lg]="6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 class="card-title">Crossfade</h5>
        <h6 class="card-subtitle text-muted">
          Add <code>.carousel-fade</code> to your carousel to animate slides
          with a fade transition instead of a slide.
        </h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <valor-launchpad-carousel [controls]="true" [isFade]="true">
          <valor-launchpad-carousel-item *ngFor="let item of normalList">
            <img [src]="item.imgUrl" class="d-block w-100" alt="Unsplash" />
          </valor-launchpad-carousel-item>
        </valor-launchpad-carousel>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
</div>
