<h1 class="h3 mb-3">Carousel</h1>
<div class="row">
  <div class="col-12 col-lg-6">
    <valor-launchpad-card padding="mb-3">
      <div card-header>
        <h5 class="card-title">Slides only</h5>
        <h6 class="card-subtitle text-muted">Here’s a carousel with slides only. Note the presence of the <code>.d-block</code> and <code>.w-100</code> on carousel images to prevent browser default image alignment.</h6>
        <button (click)="handleClick()">切换</button>
      </div>
      <div card-body>
        <valor-launchpad-carousel>
          <valor-launchpad-carousel-item>
            <img class="d-block w-100" src="assets/img/photos/unsplash-1.jpg" alt="Unsplash">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </valor-launchpad-carousel-item>
          <valor-launchpad-carousel-item>
            <img class="d-block w-100" src="assets/img/photos/unsplash-2.jpg" alt="Unsplash">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </valor-launchpad-carousel-item>
          <valor-launchpad-carousel-item>
            <img class="d-block w-100" src="assets/img/photos/unsplash-3.jpg" alt="Unsplash">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </valor-launchpad-carousel-item>
          <valor-launchpad-carousel-item>
            <img class="d-block w-100" src="assets/img/photos/unsplash-2.jpg" alt="Unsplash">
            <div class="carousel-caption d-none d-md-block">
              <h5>four slide label</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </valor-launchpad-carousel-item>
        </valor-launchpad-carousel>
      </div>
    </valor-launchpad-card>
  </div>
</div>