<h1 class="h3 mb-3">Chips</h1>

<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Basic Chips</h5>
        <h6 class="card-subtitle text-muted">Default chip styles.</h6>
      </div>
      <div class="card-body text-center">
        <div class="mb-3">
          <valor-launchpad-chip (chipClose)="closeEvent($event)" type="primary">Primary</valor-launchpad-chip>
          <valor-launchpad-chip type="secondary">Secondary</valor-launchpad-chip>
          <valor-launchpad-chip type="success">Success</valor-launchpad-chip>
          <valor-launchpad-chip type="danger">Danger</valor-launchpad-chip>
          <valor-launchpad-chip type="warning">Warning</valor-launchpad-chip>
          <valor-launchpad-chip type="info">Info</valor-launchpad-chip>
          <valor-launchpad-chip type="light">Light</valor-launchpad-chip>
          <valor-launchpad-chip type="dark">Dark</valor-launchpad-chip>
        </div>
      </div>
    </div>
  </div>
</div>
