<h1 class="h3 mb-3">Editors</h1>

<div valorLaunchpadRow>
  <div valorLaunchpadCol [span]='12'>
    <valor-launchpad-card>
      <div card-header>
        <h5 class="card-title">Quill</h5>
        <h6 class="card-subtitle text-muted">Modern WYSIWYG editor built for compatibility and extensibility.</h6>
      </div>
      <div card-body>
        <div class="clearfix">
          <div id="quill-toolbar" class="ql-toolbar ql-snow">
            <span class="ql-formats">
              <select class='ql-font'></select>
              <select class='ql-size'></select>
            </span>
            <span class="ql-formats">
              <button class='ql-bold'></button>
              <button class='ql-italic'></button>
              <button class='ql-underline'></button>
              <button class='ql-strike'></button>
            </span>
            <span class="ql-formats">
              <select class='ql-color'></select>
              <select class='ql-background'></select>
            </span>
            <span class="ql-formats">
              <button class='ql-script' value="sub"></button>
              <button class='ql-script' value="super"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-header" value="1" type="button"></button>
              <button class="ql-header" value="2" type="button"></button>
              <button class="ql-blockquote" type="button"></button>
              <button class="ql-code-block" type="button"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-list" value="ordered" type="button"></button>
              <button class="ql-list" value="bullet" type="button"></button>
              <button class="ql-indent" value="-1" type="button"></button>
              <button class="ql-indent" value="+1" type="button"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-direction" value="rtl" type="button"></button>
              <select class='ql-align'></select>
            </span>
            <span class="ql-formats">
              <button class="ql-link" type="button"></button>
              <button class="ql-image" type="button"></button>
              <button class="ql-video" type="button"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-clean" type="button"></button>
            </span>
          </div>
          <div id="quill-editor" class="ql-container ql-snow"></div>
        </div>
      </div>
    </valor-launchpad-card>
  </div>

  <div valorLaunchpadCol [span]='12'>
    <valor-launchpad-card>
      <div card-header>
        <h5 class="card-title">Bubble</h5>
        <h6 class="card-subtitle text-muted">Bubble is a simple tooltip based theme for Quill.</h6>
      </div>
      <div card-body>
        <div class="clearfix">
          <div id='quill-bubble-toolbar' class="ql-toolbar">
            <span class="ql-formats">
              <button class='ql-bold'></button>
              <button class='ql-italic'></button>
              <button class='ql-underline'></button>
            </span>
            <span class="ql-formats">
              <select class='ql-color'></select>
              <select class='ql-background'></select>
            </span>
            <span class="ql-formats">
              <button class='ql-script' value="sub"></button>
              <button class='ql-script' value="super"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-header" value="1" type="button"></button>
              <button class="ql-header" value="2" type="button"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-list" value="ordered" type="button"></button>
              <button class="ql-list" value="bullet" type="button"></button>
              <button class="ql-indent" value="-1" type="button"></button>
              <button class="ql-indent" value="+1" type="button"></button>
            </span>
            <span class="ql-formats">
              <select class='ql-align'></select>
            </span>
            <span class="ql-formats">
              <button class="ql-link" type="button"></button>
              <button class="ql-image" type="button"></button>
              <button class="ql-video" type="button"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-clean" type="button"></button>
            </span>
          </div>
          <div id="quill-bubble-editor" class="ql-container ql-bubble"></div>
        </div>
      </div>
    </valor-launchpad-card>
  </div>
</div>
