<h1 class="h3 mb-3">Editors</h1>

<div valorLaunchpadRow>
  <div valorLaunchpadCol [span]='12'>
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 class="card-title">Slate</h5>
        <h6 class="card-subtitle text-muted">Modern WYSIWYG editor built for compatibility and extensibility.</h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <valor-launchpad-editor-slate [(schema)]='schema'></valor-launchpad-editor-slate>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
</div>
