<!--<div style="text-align: center">-->
<!--  <h1>Welcome to admin!</h1>-->
<!--  <img-->
<!--    width="450"-->
<!--    src="https://raw.githubusercontent.com/nrwl/nx/master/images/nx-logo.png"-->
<!--    alt="Nx - Powerful, Extensible Dev Tools"-->
<!--  />-->
<!--</div>-->
<!--<div>Message: {{ hello$ | async | json }}</div>-->
<div class="wrapper">
  <valor-launchpad-navigation></valor-launchpad-navigation>
  <div class="main">
    <valor-launchpad-header></valor-launchpad-header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <valor-launchpad-footer></valor-launchpad-footer>
  </div>
</div>
