<section class="masthead mt-5 position-relative">
  <div class="container main-max h-100 d-flex flex-column">
    <h1 class="headline-1 pt-6">
      <span class="purple-blue-ft">Integrations</span>
    </h1>
    <div class="masthead-text pt-4">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat accumsan in tellus non risus iaculis tempus, in vestibulum. Nisl mauris velit tristique a, tellus ut.
      </span>
    </div>
    <div class="d-flex flex-grow-1 justify-content-start align-items-center">
      <button class="get-started-btn">
        <span class="fw-bold">See our integrations</span>
        <i class="align-middle fas fa-fw fa-long-arrow-alt-down shallow-gradient"></i>
      </button>
    </div>
  </div>
  <div class="masthead-bg integrations-bg h-100"></div>
</section>
<router-outlet></router-outlet>