<div class="tab-pane" id="password" role="tabpanel">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Password</h5>
      <form [formGroup]="formGroup">
        <valor-launchpad-form-item [errTip]="'The field is required'">
          <label for="inputPasswordCurrent" class="form-label"
            >Current password</label
          >
          <input
            type="password"
            valorLaunchpadInput
            id="inputPasswordCurrent"
            formControlName="currentPassword"
          />
          <small
            ><a routerLink="/reset-password">Forgot your password?</a></small
          >
        </valor-launchpad-form-item>
        <valor-launchpad-form-item>
          <valor-launchpad-checkbox-group
            [options]="verticalCheckboxOptions"
            formControlName="vCheckboxControl"
          ></valor-launchpad-checkbox-group>
        </valor-launchpad-form-item>
        <valor-launchpad-form-item
          [errTip]="passwordErr"
          [successTip]="passwordSuccess"
        >
          <label for="inputPasswordNew" class="form-label">New password</label>
          <input
            type="password"
            valorLaunchpadInput
            class="float-start"
            id="inputPasswordNew"
            formControlName="newPassword"
          />
          <ng-template #passwordErr let-control>
            <ng-container *ngIf="control.hasError('required')"
              >This field is required.</ng-container
            >
            <ng-container
              *ngIf="
                control.hasError('pattern') &&
                !control.hasError('maxlength') &&
                !control.hasError('minlength')
              "
            >
              {{ errorMessage }}
            </ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">
              Maximum password length 15
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')">
              Minimum password length 6
            </ng-container>
          </ng-template>
          <ng-template #passwordSuccess let-control>
            <ng-container *ngIf="control.valid">
              <i
                class="
                  align-middle
                  me-2
                  fas
                  fa-fw fa-check-circle
                  badge-soft-success
                "
              ></i>
              <label class="small form-text">
                Nice work. This is an excellent password
              </label>
            </ng-container>
          </ng-template>
        </valor-launchpad-form-item>
        <valor-launchpad-form-item>
          <label for="inputPasswordNew2" class="form-label"
            >Verify password</label
          >
          <input
            type="password"
            valorLaunchpadInput
            id="inputPasswordNew2"
            formControlName="confirmPassword"
          />
          <label
            class="error small form-text invalid-feedback"
            *ngIf="
              formGroup.get('confirmPassword').dirty &&
              formGroup.hasError('pwdNotSame')
            "
          >
            Password is not same with new password
          </label>
        </valor-launchpad-form-item>
        <button
          valor-launchpad-button
          [loading]="isLoading"
          (click)="saveChanges()"
        >
          Save changes
        </button>
      </form>
    </div>
  </div>
</div>
