<div class="tab-pane" id="password" role="tabpanel">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Password</h5>
      <form [formGroup]='formGroup'>
        <valor-launchpad-form-item [errTip]='"The field is required"'>
          <label for="inputPasswordCurrent" class="form-label">Current password</label>
          <input type="password" valorLaunchpadInput id="inputPasswordCurrent" formControlName='currentPassword'>
          <small><a routerLink="/reset-password">Forgot your password?</a></small>
        </valor-launchpad-form-item>
        <valor-launchpad-form-item [errTip]='"The field is required"'>
          <label for="inputPasswordNew" class="form-label">New password</label>
          <input type="password" valorLaunchpadInput id="inputPasswordNew" formControlName='newPassword'>
        </valor-launchpad-form-item>
        <valor-launchpad-form-item>
          <label for="inputPasswordNew2" class="form-label">Verify password</label>
          <input type="password" valorLaunchpadInput id="inputPasswordNew2" formControlName='confirmPassword'>
          <label class='error small form-text invalid-feedback' *ngIf='formGroup.get("confirmPassword").dirty && formGroup.hasError("pwdNotSame")'>
            Password is not same with new password
          </label>
        </valor-launchpad-form-item>
        <button class="btn btn-primary" (click)='saveChanges()'>Save changes</button>
      </form>
    </div>
  </div>
</div>
