// Variables
@import "../../../../../../apps/admin/scss/1-variables/app";


@import '~ngx-bootstrap/datepicker/utils/scss/variables';
@import '~ngx-bootstrap/datepicker/utils/scss/mixins';


bs-datepicker-inline-container {
  width: 100%;
}

.bs-datepicker {
  /* .bs-datepicker-head */
  &-head {
    color: #6c757d;
    min-width: 270px;
    height: 50px;
    padding: 10px;
    text-align: justify;

    &:after {
      content: "";
      display: inline-block;
      vertical-align: top;
      width: 100%;
    }

    /* .bs-datepicker-head button */
    button {
      color: #6c757d;
      display: inline-block;
      vertical-align: top;
      padding: 0;
      height: 30px;
      line-height: 30px;
      border: 0;
      background: transparent;
      text-align: center;
      cursor: pointer;
      transition: 0.3s;

      &[disabled],
      &[disabled]:hover,
      &[disabled]:active {
        background: $disabled-background;
        color: $disabled-color;
        cursor: not-allowed;
      }

      &.next,
      &.previous {
        width: 30px;
        height: 30px;

        span {
          font-size: 28px;
          line-height: 1;
          display: inline-block;
          position: relative;
          height: 100%;
          width: 100%;
        }
      }

      &.current {
        max-width: 155px;
        padding: 0 13px;
      }
    }
  }

  &-head {
    button {
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .bs-datepicker-body {
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
      color: $gray-600;

      th {
        font-size: 13px;
        color: $font-color-02;
        font-weight: 400;
        text-align: center;
      }

      td {
        color: $font-color-03;
        text-align: center;
        position: relative;
        padding: 0;

        span {
          display: block;
          margin: 0 auto;
          font-size: 13px;
          /*z-index: 1;*/
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
        }

        // todo: check first :not(.disabled) usage
        &:not(.disabled):not(.week) span:not(.disabled):not(.is-other-month) {
          cursor: pointer;
        }

        &.is-highlighted:not(.disabled):not(.selected) span,
        span.is-highlighted:not(.disabled):not(.selected) {
          background-color: $highlighted;
          transition: 0s;
        }

        &.is-active-other-month:not(.disabled):not(.selected) span,
        span.is-active-other-month:not(.disabled):not(.selected) {
          background-color: $highlighted;
          transition: 0s;
          cursor: pointer;
        }

        span.disabled,
        &.disabled span {
          color: $font-color-02;
        }

        span.selected,
        &.selected span {
          color: $font-color-01;
          background-color: #3F80EA;
        }

        span.is-other-month,
        &.is-other-month span {
          color: rgba(0, 0, 0, 0.25);
        }

        &.active {
          position: relative;

          &.select-start:before {
            left: 35%;
          }

          &.select-end:before {
            left: -85%;
          }
        }

        span.active.select-start:after,
        span.active.select-end:after,
        &.active.select-start span:after,
        &.active.select-end span:after {
          content: "";
          display: block;
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
          transition: 0.3s;
          top: 0;
        }

        &:before,
        span:before {
          content: "";
          display: block;
          position: absolute;
          z-index: -1;
          top: 6px;
          bottom: 6px;
          left: -3px;
          right: -2px;
          box-sizing: content-box;
          background: transparent;
        }

        &.active.select-start + td.active:before {
          left: -20%;
        }

        &:last-child.active:before {
          width: 125%;
          left: -25%;
        }

        span[class*="select-"],
        &[class*="select-"] span {
          color: $font-color-01;
        }
      }

      /* .bs-datepicker-body table.days */
      &.days {
        td,
        span {
          &.active:not(.select-start):before,
          &.in-range:not(.select-start):before {
            background: $highlighted;
          }
        }

        span {
          width: 32px;
          height: 32px;
          line-height: 32px;

          &.select-start {
            z-index: 2;
          }

          &.is-highlighted.in-range:before {
            right: 3px;
            left: 0;
          }

          &.in-range.select-end:before {
            right: 4px;
            left: 0;
          }
        }

        td {
          &.select-start + td.select-end:before,
          &.select-start + td.is-highlighted:before,
          &.active + td.is-highlighted:before,
          &.active + td.select-end:before,
          &.in-range + td.is-highlighted:before,
          &.in-range + td.select-end:before {
            background: $highlighted;
            width: 100%;
          }
        }
      }

      /* .bs-datepicker-body table.weeks */
      &.weeks {
        tr {
          td {
            &:nth-child(2).active:before {
              left: 0;
              width: 100%;
            }
          }
        }
      }

      &:not(.weeks) {
        tr {
          td {
            &:first-child:before {
            }
          }
        }
      }

      &.years {
        td {
          span {
            width: 46px;
            height: 46px;
            line-height: 45px;
            margin: 0 auto;
          }
        }

        tr:not(:last-child) {
          td {
            span {
              margin-bottom: 8px;
            }
          }
        }
      }

      &.months {
        td {
          height: 52px;

          span {
            padding: 6px;
          }
        }
      }
    }
  }

  &-container{
    width: 100%;
    bs-days-calendar-view,
    bs-month-calendar-view,
    bs-years-calendar-view {
      width: 100%;
    }
  }
}

