<div class='row mb-2 mb-xl-3'>
  <div class='col-auto d-none d-sm-block'>
    <h3>Dashboard</h3>
  </div>

  <div class='col-auto ms-auto text-end mt-n1'>
    <div class='dropdown me-2 d-inline-block' dropdown container="body" placement="bottom right">
      <a class='btn btn-light bg-white shadow-sm dropdown-toggle' dropdownToggle data-bs-toggle='dropdown'
         data-bs-display='static'>
        <i class='align-middle mt-n1  far fa-fw fa-calendar'></i> Today
      </a>

      <div class='dropdown-menu dropdown-menu-end' *dropdownMenu>
        <h6 class='dropdown-header'>Settings</h6>
        <a class='dropdown-item' (click)="onClickAction()">Action</a>
        <a class='dropdown-item' (click)="onClickAnotherAction()">Another action</a>
        <a class='dropdown-item' (click)="onClickSomethingElse()">Something else here</a>
        <div class='dropdown-divider'></div>
        <a class='dropdown-item'>Separated link</a>
      </div>
    </div>

    <button class='btn btn-primary shadow-sm'>
      <i class='align-middle  fas fa-fw fa-filter'>&nbsp;</i>
    </button>
    <button class='btn btn-primary shadow-sm'>
      <i class='align-middle fas fa-fw fa-sync'>&nbsp;</i>
    </button>
  </div>
</div>
<div class='row'>
  <div class='col-12 col-sm-6 col-xxl d-flex'>
    <div class='card illustration flex-fill'>
      <div class='card-body p-0 d-flex flex-fill'>
        <div class='row g-0 w-100'>
          <div class='col-6'>
            <div class='illustration-text p-3 m-1'>
              <h4 class='illustration-text'>Welcome Back, {{user?.firstName}}!</h4>
              <p class='mb-0'>Launchpad Dashboard</p>
            </div>
          </div>
          <div class='col-6 align-self-end text-end'>
            <img src='assets/img/illustrations/customer-support.png' alt='Customer Support'
                 class='img-fluid illustration-img'>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-12 col-sm-6 col-xxl d-flex'>
    <div class='card flex-fill'>
      <div class='card-body py-4'>
        <div class='d-flex align-items-start'>
          <div class='flex-grow-1'>
            <h3 class='mb-2'>$ {{dashboardData?.totalEarning}}</h3>
            <p class='mb-2'>Total Earnings</p>
            <div class='mb-0'>
              <span class='badge badge-soft-success me-2'> <i
                class='mdi mdi-arrow-bottom-right'></i> {{dashboardData?.totalEarningSinceLastWeek}} </span>
              <span class='text-muted'>Since last week</span>
            </div>
          </div>
          <div class='d-inline-block ms-3'>
            <div class='stat'>
              <i class='align-middle me-2 text-success fas fa-fw fa-dollar-sign'></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-12 col-sm-6 col-xxl d-flex'>
    <div class='card flex-fill'>
      <div class='card-body py-4'>
        <div class='d-flex align-items-start'>
          <div class='flex-grow-1'>
            <h3 class='mb-2'>{{dashboardData?.pendingOrders}}</h3>
            <p class='mb-2'>Pending Orders</p>
            <div class='mb-0'>
              <span class='badge badge-soft-danger me-2'> <i
                class='mdi mdi-arrow-bottom-right'></i> {{dashboardData?.pendingOrdersSinceLastWeek}} </span>
              <span class='text-muted'>Since last week</span>
            </div>
          </div>
          <div class='d-inline-block ms-3'>
            <div class='stat'>
              <i class='align-middle text-danger fas fa-fw fa-shopping-bag'></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-12 col-sm-6 col-xxl d-flex'>
    <div class='card flex-fill'>
      <div class='card-body py-4'>
        <div class='d-flex align-items-start'>
          <div class='flex-grow-1'>
            <h3 class='mb-2'>$ {{dashboardData?.totalRevenue}}</h3>
            <p class='mb-2'>Total Revenue</p>
            <div class='mb-0'>
              <span class='badge badge-soft-success me-2'> <i
                class='mdi mdi-arrow-bottom-right'></i> {{dashboardData?.totalRevenueSinceLastWeek}} </span>
              <span class='text-muted'>Since last week</span>
            </div>
          </div>
          <div class='d-inline-block ms-3'>
            <div class='stat'>
              <i class='align-middle me-2 fas fa-fw fa-dollar-sign'></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-12 col-lg-8 d-flex'>
    <div class='card flex-fill w-100'>
      <div class='card-header'>
        <div class='card-actions float-end'>
          <div class='dropdown show' dropdown>
            <a data-bs-toggle='dropdown' data-bs-display='static' dropdownToggle>
              <i class='align-middle    fas fa-fw fa-ellipsis-h'></i>
            </a>

            <div class='dropdown-menu dropdown-menu-end' *dropdownMenu>
              <a class='dropdown-item' (click)="onClickAction()">Action</a>
              <a class='dropdown-item' (click)="onClickAnotherAction()">Another action</a>
              <a class='dropdown-item' (click)="onClickSomethingElse()">Something else here</a>
            </div>
          </div>
        </div>
        <h5 class='card-title mb-0'>Sales / Revenue</h5>
      </div>
      <div class='card-body d-flex w-100'>
        <div class='align-self-center chart chart-lg'>
          <ngx-charts-bar-vertical-stacked
            [scheme]='salesRevenueConfig.colorScheme'
            [results]='salesRevenueChartData'
            [gradient]='salesRevenueConfig.gradient'
            [xAxis]='salesRevenueConfig.showXAxis'
            [yAxis]='salesRevenueConfig.showYAxis'
            [legend]='salesRevenueConfig.showLegend'
            [showXAxisLabel]='salesRevenueConfig.showXAxisLabel'
            [showYAxisLabel]='salesRevenueConfig.showYAxisLabel'
            [xAxisLabel]='salesRevenueConfig.xAxisLabel'
            [yAxisLabel]='salesRevenueConfig.yAxisLabel'
            [animations]='salesRevenueConfig.animations'></ngx-charts-bar-vertical-stacked>
        </div>
      </div>
    </div>
  </div>
  <div class='col-12 col-lg-4 d-flex'>
    <div class='card flex-fill w-100'>
      <div class='card-header'>
        <span class='badge bg-info float-end'>Today</span>
        <h5 class='card-title mb-0'>Daily feed</h5>
      </div>
      <div class='card-body'>
        <div class='d-flex align-items-start'>
          <img src='assets/img/avatars/avatar-5.jpg' width='36' height='36' class='rounded-circle me-2'
               alt='Ashley Briggs'>
          <div class='flex-grow-1'>
            <small class='float-end'>5m ago</small>
            <strong>Ashley Briggs</strong> started following <strong>Stacie Hall</strong><br/>
            <small class='text-muted'>Today 7:51 pm</small><br/>

          </div>
        </div>

        <hr/>
        <div class='d-flex align-items-start'>
          <img src='assets/img/avatars/avatar.jpg' width='36' height='36' class='rounded-circle me-2' alt='Chris Wood'>
          <div class='flex-grow-1'>
            <small class='float-end'>30m ago</small>
            <strong>Chris Wood</strong> posted something on <strong>Stacie Hall</strong>'s timeline<br/>
            <small class='text-muted'>Today 7:21 pm</small>

            <div class='border text-sm text-muted p-2 mt-1'>
              Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet
              adipiscing...
            </div>
          </div>
        </div>

        <hr/>
        <div class='d-flex align-items-start'>
          <img src='assets/img/avatars/avatar-4.jpg' width='36' height='36' class='rounded-circle me-2'
               alt='Stacie Hall'>
          <div class='flex-grow-1'>
            <small class='float-end'>1h ago</small>
            <strong>Stacie Hall</strong> posted a new blog<br/>

            <small class='text-muted'>Today 6:35 pm</small>
          </div>
        </div>

        <hr/>
        <div class='d-grid'>
          <a href='#' class='btn btn-primary'>Load more</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-12 col-lg-6 col-xl-4 d-flex'>
    <div class='card flex-fill'>
      <div class='card-header'>
        <div class='card-actions float-end'>
          <div class='dropdown show' dropdown>
            <a data-bs-toggle='dropdown' data-bs-display='static' dropdownToggle>
              <i class='align-middle    fas fa-fw fa-ellipsis-h'></i>
            </a>

            <div class='dropdown-menu dropdown-menu-end' *dropdownMenu>
              <a class='dropdown-item' (click)="onClickAction()">Action</a>
              <a class='dropdown-item' (click)="onClickAnotherAction()">Another action</a>
              <a class='dropdown-item' (click)="onClickSomethingElse()">Something else here</a>
            </div>
          </div>
        </div>
        <h5 class='card-title mb-0'>Calendar</h5>
      </div>
      <div class='card-body d-flex'>
        <div class='w-100'>
          <div class='chart'>
            <div id='datetimepicker-dashboard'>
              <bs-datepicker-inline [bsValue]='bsInlineValue'
                                    [bsConfig]="{containerClass: 'bootstrap-datetimepicker-widget chart'}"></bs-datepicker-inline>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-12 col-xl-4 d-none d-xl-flex'>
    <div class='card flex-fill w-100'>
      <div class='card-header'>
        <div class='card-actions float-end'>
          <div class='dropdown show' dropdown>
            <a data-bs-toggle='dropdown' data-bs-display='static' dropdownToggle>
              <i class='align-middle    fas fa-fw fa-ellipsis-h'></i>
            </a>

            <div class='dropdown-menu dropdown-menu-end' *dropdownMenu>
              <a class='dropdown-item' (click)="onClickAction()">Action</a>
              <a class='dropdown-item' (click)="onClickAnotherAction()">Another action</a>
              <a class='dropdown-item' (click)="onClickSomethingElse()">Something else here</a>
            </div>
          </div>
        </div>
        <h5 class='card-title mb-0'>Weekly sales</h5>
      </div>
      <div class='card-body d-flex'>
        <div class='align-self-center w-100'>
          <div class='py-3'>
            <div class='chart chart-xs'>
              <ngx-charts-pie-chart
                [scheme]='weeklySalesConfig.colorScheme'
                [results]='weeklySalesChartData'
                [gradient]='weeklySalesConfig.gradient'
                [legend]='weeklySalesConfig.showLegend'
                [legendPosition]='weeklySalesConfig.legendPosition'
                [labels]='weeklySalesConfig.showLabels'
                [doughnut]='weeklySalesConfig.isDoughnut'>
              </ngx-charts-pie-chart>
            </div>
          </div>

          <table class='table mb-0'>
            <thead>
            <tr>
              <th>Source</th>
              <th class='text-end'>Revenue</th>
              <th class='text-end'>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of weeklySalesTableData">
              <td><i [ngClass]="item.type"></i> {{item.source}}</td>
              <td class='text-end'>{{item.revenue}}</td>
              <td class='text-end text-success'>{{item.value}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class='col-12 col-lg-6 col-xl-4 d-flex'>
    <div class='card flex-fill w-100'>
      <div class='card-header'>
        <div class='card-actions float-end'>
          <div class='dropdown show' dropdown container="body">
            <a data-bs-toggle='dropdown' data-bs-display='static' dropdownToggle>
              <i class='align-middle    fas fa-fw fa-ellipsis-h'></i>
            </a>

            <div class='dropdown-menu dropdown-menu-end' *dropdownMenu>
              <a class='dropdown-item' (click)="onClickAction()">Action</a>
              <a class='dropdown-item' (click)="onClickAnotherAction()">Another action</a>
              <a class='dropdown-item' (click)="onClickSomethingElse()">Something else here</a>
            </div>
          </div>
        </div>
        <h5 class='card-title mb-0'>Appointments</h5>
      </div>
      <div class='card-body'>
        <ul class='timeline'>
          <li *ngFor="let item of appointmentsData" class='timeline-item'>
            <strong>{{item.title}}</strong>
            <span class='float-end text-muted text-sm'>{{item.timeElapse}}</span>
            <p>{{item.content}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='card flex-fill'>
  <div class='card-header'>
    <div class='card-actions float-end'>
      <div class='dropdown show'>
        <a href='#' data-bs-toggle='dropdown' data-bs-display='static'>
          <i class='align-middle    fas fa-fw fa-ellipsis-h'></i>
        </a>

        <div class='dropdown-menu dropdown-menu-end'>
          <a class='dropdown-item' href='#'>Action</a>
          <a class='dropdown-item' href='#'>Another action</a>
          <a class='dropdown-item' href='#'>Something else here</a>
        </div>
      </div>
    </div>
    <h5 class='card-title mb-0'>Latest Projects</h5>
  </div>
  <div>
    <ngx-datatable class="table table-striped my-0"
                   #myTable
                   [rows]="latestProjectsTableData"
                   [columns]="latestProjectsTableColumn"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   rowHeight="auto"
                   [columnMode]="'force'"
                   [rowHeight]="46"
                   [limit]="5"
    >
      <ngx-datatable-footer>
        <ng-template
          ngx-datatable-footer-template
          let-rowCount="rowCount"
          let-pageSize="pageSize"
          let-curPage="curPage"
          let-offset="offset"
        >
          <div class="page-count">
            Showing {{curPage}} to {{pageSize}} of {{rowCount}} entries
          </div>
          <datatable-pager
            [pagerLeftArrowIcon]="'datatable-valor-left'"
            [pagerRightArrowIcon]="'datatable-valor-right'"
            [page]="curPage"
            [size]="pageSize"
            [count]="rowCount"
            [hidden]="!((rowCount / pageSize) > 1)"
            (change)="myTable.onFooterPage($event)"
          ></datatable-pager>
        </ng-template>
      </ngx-datatable-footer>
    </ngx-datatable>
    <ng-template #statusRef let-row="row">
      <span [ngClass]="row.badgeType">{{row.status}}</span>
    </ng-template>
  </div>
</div>
