<div class="d-flex align-items-start">
  <valor-launchpad-avatar
    [src]="story.user.profile.avatar | valorImage"
    [alt]="story.user.profile.avatar?.alt"
    [firstName]="story.user.firstName"
    [lastName]="story.user.lastName"
    width="56"
    height="56"
    classes="me-3"
  ></valor-launchpad-avatar>
  <div class="flex-grow-1">
    <small class="float-end">{{ story.createdDate | timeAgo }}</small>
    <p class="mb-2">
      <strong>{{ story.user.firstName + ' ' + story.user.lastName }}</strong>
    </p>
    <p>{{ story.content }}</p>

    <div
      class="row g-0 mt-1"
      *ngIf="story.mediaAsset && story.mediaAsset.length > 0"
    >
      <div class="col-6" *ngFor="let image of story.mediaAsset">
        <img [src]="image.src" class="img-fluid pe-1" [alt]="image.alt" />
      </div>
    </div>

    <small class="text-muted">{{
      story.createdDate | date: 'MMM d h:mm a'
    }}</small
    ><br />
    <button
      *ngIf="!story.likedByYou"
      valor-launchpad-button
      size="sm"
      theme="danger"
      class="mt-1"
      (click)="likeStory()"
    >
      <i class="feather-sm far fa-fw fa-heart"></i> Like
    </button>
    <button
      *ngIf="story.likedByYou"
      valor-launchpad-button
      size="sm"
      theme="danger"
      class="mt-1"
      [outlined]="true"
      (click)="unlikeStory()"
    >
      <i class="feather-sm far fa-fw fa-heart"></i> Unlike
    </button>

    <div
      class="d-flex align-items-start mt-3"
      *ngFor="let comment of story.comments"
    >
      <a class="pe-2">
        <!--        <img-->
        <!--          [src]="comment.author.avatar.src"-->
        <!--          width="36"-->
        <!--          height="36"-->
        <!--          class="rounded-circle me-2"-->
        <!--          [alt]="comment.author.avatar.alt"-->
        <!--        />-->
      </a>
      <div class="flex-grow-1">
        <p class="text-muted">
          <strong>{{
            comment.author.firstName + ' ' + comment.author.lastName
          }}</strong
          >: {{ comment.body }}
        </p>
      </div>
    </div>
  </div>
</div>
