<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Jsvectormap</h5>
        <h6 class="card-subtitle text-muted">
          A lightweight JavaScript library for creating interactive maps.
        </h6>
      </div>
      <div class="card-body py-1">
        <ul>
          <li>
            <a
              target="_blank"
              rel="noreferrer noopener nofollow"
              href="https://github.com/themustafaomar/jsvectormap"
              >Documentation</a
            >
          </li>
          <li>
            <a
              target="_blank"
              rel="noreferrer noopener nofollow"
              href="https://github.com/themustafaomar/jsvectormap/tree/master/dist/maps"
              >Available maps</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>World Map</h5>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <div id="world_map" style="height: 350px"></div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>

  <div class="col-6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>World Map</h5>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <div id="usa_map" style="height: 350px"></div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
</div>
