<div class="row mb-2 mb-xl-3">
  <div class="col-auto d-none d-sm-block">
    <h3>Analytics</h3>
  </div>

  <div class="col-auto ms-auto text-end mt-n1">

    <div class="dropdown me-2 d-inline-block">
      <a class="btn btn-light bg-white shadow-sm dropdown-toggle" href="#" data-bs-toggle="dropdown"
         data-bs-display="static">
        <i class="align-middle mt-n1  far fa-fw fa-calendar"></i> Today
      </a>

      <div class="dropdown-menu dropdown-menu-end">
        <h6 class="dropdown-header">Settings</h6>
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>

    <button class="btn btn-primary shadow-sm">
      <i class="align-middle  fas fa-fw fa-filter">&nbsp;</i>
    </button>
    <button class="btn btn-primary shadow-sm">
      <i class="align-middle fas fa-fw fa-sync">&nbsp;</i>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-xl-5 d-flex">
    <div class="w-100">

      <div class="row">
        <div class="col-sm-6 col-lg-12 col-xxl-6 d-flex">
          <div class="card illustration flex-fill">
            <div class="card-body p-0 d-flex flex-fill">
              <div class="row g-0 w-100">
                <div class="col-6">
                  <div class="illustration-text p-3 m-1">
                    <h4 class="illustration-text">Welcome Back, Chris!</h4>
                    <p class="mb-0">AppStack Dashboard</p>
                  </div>
                </div>
                <div class="col-6 align-self-end text-end">
                  <img src="assets/img/illustrations/searching.png" alt="Searching" class="img-fluid illustration-img">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-12 col-xxl-6 d-flex">
          <div class="card flex-fill">
            <div class="card-body">
              <div class="row">
                <div class="col mt-0">
                  <h5 class="card-title">Bounce</h5>
                </div>

                <div class="col-auto">
                  <div class="stat stat-sm">
                    <i class="align-middle" data-feather="arrow-up-right"></i>
                  </div>
                </div>
              </div>
              <span class="h1 d-inline-block mt-1 mb-4">2.364</span>
              <div class="mb-0">
                <span class="badge badge-soft-success me-2"> <i class="mdi mdi-arrow-bottom-right"></i> +3.65% </span>
                <span class="text-muted">Since last week</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-lg-none d-xxl-flex">
        <div class="col-sm-6 col-lg-12 col-xxl-6 d-flex">
          <div class="card flex-fill">
            <div class="card-body">
              <div class="row">
                <div class="col mt-0">
                  <h5 class="card-title">Real-Time</h5>
                </div>

                <div class="col-auto">
                  <div class="stat stat-sm">
                    <i class="align-middle far fa-fw fa-clock"></i>
                  </div>
                </div>
              </div>
              <span class="h1 d-inline-block mt-1 mb-4">1.856</span>
              <div class="mb-0">
                <span class="badge badge-soft-success me-2"> <i class="mdi mdi-arrow-bottom-right"></i> +2.25% </span>
                <span class="text-muted">Since last week</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-12 col-xxl-6 d-flex">
          <div class="card flex-fill">
            <div class="card-body">
              <div class="row">
                <div class="col mt-0">
                  <h5 class="card-title">Visitors</h5>
                </div>

                <div class="col-auto">
                  <div class="stat stat-sm">
                    <i class="align-middle fas fa-fw fa-users"></i>
                  </div>
                </div>
              </div>
              <span class="h1 d-inline-block mt-1 mb-4">17.212</span>
              <div class="mb-0">
                <span class="badge badge-soft-danger me-2"> <i class="mdi mdi-arrow-bottom-right"></i> -1.25% </span>
                <span class="text-muted">Since last week</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-6 col-xl-7">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <div class="card-actions float-end">
          <div class="dropdown show">
            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
              <i class="align-middle fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <h5 class="card-title mb-0">Real-Time</h5>
      </div>
      <div class="card-body p-2">
        <div id="world_map" style="height:279px;"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-4 d-flex">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <div class="card-actions float-end">
          <div class="dropdown show">
            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
              <i class="align-middle    fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <h5 class="card-title mb-0">Languages</h5>
      </div>
      <table class="table table-striped my-0">
        <thead>
        <tr>
          <th>Language</th>
          <th class="text-end">Users</th>
          <th class="d-none d-xl-table-cell w-75">% Users</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>en-us</td>
          <td class="text-end">735</td>
          <td class="d-none d-xl-table-cell">
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 43%;" aria-valuenow="43"
                   aria-valuemin="0" aria-valuemax="100">43%
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>en-gb</td>
          <td class="text-end">223</td>
          <td class="d-none d-xl-table-cell">
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 27%;" aria-valuenow="27"
                   aria-valuemin="0" aria-valuemax="100">27%
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>fr-fr</td>
          <td class="text-end">181</td>
          <td class="d-none d-xl-table-cell">
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 22%;" aria-valuenow="22"
                   aria-valuemin="0" aria-valuemax="100">22%
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>es-es</td>
          <td class="text-end">132</td>
          <td class="d-none d-xl-table-cell">
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 16%;" aria-valuenow="16"
                   aria-valuemin="0" aria-valuemax="100">16%
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>de-de</td>
          <td class="text-end">118</td>
          <td class="d-none d-xl-table-cell">
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 15%;" aria-valuenow="15"
                   aria-valuemin="0" aria-valuemax="100">15%
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>ru-ru</td>
          <td class="text-end">98</td>
          <td class="d-none d-xl-table-cell">
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 13%;" aria-valuenow="13"
                   aria-valuemin="0" aria-valuemax="100">13%
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12 col-lg-4 d-flex">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <div class="card-actions float-end">
          <div class="dropdown show">
            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
              <i class="align-middle    fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <h5 class="card-title mb-0">Mobile / Desktop</h5>
      </div>
      <div class="card-body d-flex w-100">
        <div class="align-self-center chart">
          <canvas id="chartjs-dashboard-bar-devices"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-4 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <div class="card-actions float-end">
          <div class="dropdown show">
            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
              <i class="align-middle    fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <h5 class="card-title mb-0">Interests</h5>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas id="chartjs-dashboard-radar"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-5 col-xl-4 d-flex">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <div class="card-actions float-end">
          <div class="dropdown show">
            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
              <i class="align-middle    fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <h5 class="card-title mb-0">Source / Medium</h5>
      </div>
      <div class="card-body d-flex">
        <div class="align-self-center w-100">
          <div class="py-3">
            <div class="chart chart-xs">
              <canvas id="chartjs-dashboard-pie"></canvas>
            </div>
          </div>

          <table class="table mb-0">
            <thead>
            <tr>
              <th>Source</th>
              <th class="text-end">Revenue</th>
              <th class="text-end">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><i class="fas fa-square-full text-primary"></i> Direct</td>
              <td class="text-end">$ 2602</td>
              <td class="text-end text-success">+43%</td>
            </tr>
            <tr>
              <td><i class="fas fa-square-full text-warning"></i> Affiliate</td>
              <td class="text-end">$ 1253</td>
              <td class="text-end text-success">+13%</td>
            </tr>
            <tr>
              <td><i class="fas fa-square-full text-danger"></i> E-mail</td>
              <td class="text-end">$ 541</td>
              <td class="text-end text-success">+24%</td>
            </tr>
            <tr>
              <td><i class="fas fa-square-full text-dark"></i> Other</td>
              <td class="text-end">$ 1465</td>
              <td class="text-end text-success">+11%</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-7 col-xl-8 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <div class="card-actions float-end">
          <div class="dropdown show">
            <a href="#" data-bs-toggle="dropdown" data-bs-display="static">
              <i class="align-middle    fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <h5 class="card-title mb-0">Traffic</h5>
      </div>
      <table id="datatables-dashboard-traffic" class="table table-striped my-0">
        <thead>
        <tr>
          <th>Source</th>
          <th class="text-end">Users</th>
          <th class="d-none d-xl-table-cell text-end">Sessions</th>
          <th class="d-none d-xl-table-cell text-end">Bounce Rate</th>
          <th class="d-none d-xl-table-cell text-end">Avg. Session Duration</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Google</td>
          <td class="text-end">1023</td>
          <td class="d-none d-xl-table-cell text-end">1265</td>
          <td class="d-none d-xl-table-cell text-end text-success">27.23%</td>
          <td class="d-none d-xl-table-cell text-end">00:06:25</td>
        </tr>
        <tr>
          <td>Bing</td>
          <td class="text-end">504</td>
          <td class="d-none d-xl-table-cell text-end">623</td>
          <td class="d-none d-xl-table-cell text-end text-danger">66.76%</td>
          <td class="d-none d-xl-table-cell text-end">00:04:42</td>
        </tr>
        <tr>
          <td>Twitter</td>
          <td class="text-end">462</td>
          <td class="d-none d-xl-table-cell text-end">571</td>
          <td class="d-none d-xl-table-cell text-end text-success">31.53%</td>
          <td class="d-none d-xl-table-cell text-end">00:08:05</td>
        </tr>
        <tr>
          <td>Pinterest</td>
          <td class="text-end">623</td>
          <td class="d-none d-xl-table-cell text-end">770</td>
          <td class="d-none d-xl-table-cell text-end text-danger">52.81%</td>
          <td class="d-none d-xl-table-cell text-end">00:03:10</td>
        </tr>
        <tr>
          <td>Facebook</td>
          <td class="text-end">812</td>
          <td class="d-none d-xl-table-cell text-end">1003</td>
          <td class="d-none d-xl-table-cell text-end text-success">24.83%</td>
          <td class="d-none d-xl-table-cell text-end">00:05:56</td>
        </tr>
        <tr>
          <td>DuckDuckGo</td>
          <td class="text-end">693</td>
          <td class="d-none d-xl-table-cell text-end">856</td>
          <td class="d-none d-xl-table-cell text-end text-success">37.36%</td>
          <td class="d-none d-xl-table-cell text-end">00:09:12</td>
        </tr>
        <tr>
          <td>GitHub</td>
          <td class="text-end">713</td>
          <td class="d-none d-xl-table-cell text-end">881</td>
          <td class="d-none d-xl-table-cell text-end text-success">38.09%</td>
          <td class="d-none d-xl-table-cell text-end">00:06:19</td>
        </tr>
        <tr>
          <td>Direct</td>
          <td class="text-end">872</td>
          <td class="d-none d-xl-table-cell text-end">1077</td>
          <td class="d-none d-xl-table-cell text-end text-success">32.70%</td>
          <td class="d-none d-xl-table-cell text-end">00:09:18</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
