<div class="row mb-2 mb-xl-3">
  <div class="col-auto d-none d-sm-block">
    <h3>Analytics</h3>
  </div>

  <div class="col-auto ms-auto text-end mt-n1">

    <div class="dropdown me-2 d-inline-block" dropdown container='body'>
      <a class="btn btn-light bg-white shadow-sm dropdown-toggle" dropdownToggle>
        <i class="align-middle mt-n1  far fa-fw fa-calendar"></i> Today
      </a>

      <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
        <h6 class="dropdown-header">Settings</h6>
        <a class='dropdown-item' (click)='onClickAction()'>Action</a>
        <a class='dropdown-item' (click)='onClickAnotherAction()'>Another action</a>
        <a class='dropdown-item' (click)='onClickSomethingElse()'>Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>

    <button class="btn btn-primary shadow-sm">
      <i class="align-middle  fas fa-fw fa-filter">&nbsp;</i>
    </button>
    <button class="btn btn-primary shadow-sm">
      <i class="align-middle fas fa-fw fa-sync">&nbsp;</i>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-xl-5 d-flex">
    <div class="w-100">

      <div class="row">
        <div class="col-sm-6 col-lg-12 col-xxl-6 d-flex">
          <div class="card illustration flex-fill">
            <div class="card-body p-0 d-flex flex-fill">
              <div class="row g-0 w-100">
                <div class="col-6">
                  <div class="illustration-text p-3 m-1">
                    <h4 class="illustration-text">Welcome Back, Chris!</h4>
                    <p class="mb-0">Admin Dashboard</p>
                  </div>
                </div>
                <div class="col-6 align-self-end text-end">
                  <img src="assets/img/illustrations/searching.png" alt="Searching" class="img-fluid illustration-img">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-12 col-xxl-6 d-flex">
          <div class="card flex-fill">
            <div class="card-body">
              <div class="row">
                <div class="col mt-0">
                  <h5 class="card-title">Bounce</h5>
                </div>

                <div class="col-auto">
                  <div class="stat stat-sm">
                    <i class="align-middle fas fa-arrow-up" data-feather="arrow-up-right"></i>
                  </div>
                </div>
              </div>
              <span class="h1 d-inline-block mt-1 mb-4">2.3647</span>
              <div class="mb-0">
                <span class="badge badge-soft-success me-2"> <i class="mdi mdi-arrow-bottom-right"></i> +3.65% </span>
                <span class="text-muted">Since last week</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-lg-none d-xxl-flex">
        <div class="col-sm-6 col-lg-12 col-xxl-6 d-flex">
          <div class="card flex-fill">
            <div class="card-body">
              <div class="row">
                <div class="col mt-0">
                  <h5 class="card-title">Real-Time</h5>
                </div>

                <div class="col-auto">
                  <div class="stat stat-sm">
                    <i class="align-middle far fa-fw fa-clock"></i>
                  </div>
                </div>
              </div>
              <span class="h1 d-inline-block mt-1 mb-4">1.856</span>
              <div class="mb-0">
                <span class="badge badge-soft-success me-2"> <i class="mdi mdi-arrow-bottom-right"></i> +2.25% </span>
                <span class="text-muted">Since last week</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-12 col-xxl-6 d-flex">
          <div class="card flex-fill">
            <div class="card-body">
              <div class="row">
                <div class="col mt-0">
                  <h5 class="card-title">Visitors</h5>
                </div>

                <div class="col-auto">
                  <div class="stat stat-sm">
                    <i class="align-middle fas fa-fw fa-users"></i>
                  </div>
                </div>
              </div>
              <span class="h1 d-inline-block mt-1 mb-4">17.212</span>
              <div class="mb-0">
                <span class="badge badge-soft-danger me-2"> <i class="mdi mdi-arrow-bottom-right"></i> -1.25% </span>
                <span class="text-muted">Since last week</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-6 col-xl-7">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <div class="card-actions float-end">
          <div class="dropdown show" dropdown container='body'>
            <a dropdownToggle>
              <i class="align-middle fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <a class='dropdown-item' (click)='onClickAction()'>Action</a>
              <a class='dropdown-item' (click)='onClickAnotherAction()'>Another action</a>
              <a class='dropdown-item' (click)='onClickSomethingElse()'>Something else here</a>
            </div>
          </div>
        </div>
        <h5 class="card-title mb-0">Real-Time</h5>
      </div>
      <div class="card-body p-2">
        <div id="real-time-world" style="height:279px;"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-4 d-flex">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <div class="card-actions float-end">
          <div class="dropdown show" dropdown>
            <a dropdownToggle>
              <i class="align-middle    fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu" *dropdownMenu>
              <a class='dropdown-item' (click)='onClickAction()'>Action</a>
              <a class='dropdown-item' (click)='onClickAnotherAction()'>Another action</a>
              <a class='dropdown-item' (click)='onClickSomethingElse()'>Something else here</a>
            </div>
          </div>
        </div>
        <h5 class="card-title mb-0">Languages</h5>
      </div>
      <table class="table table-striped my-0">
        <thead>
        <tr>
          <th>Language</th>
          <th class="text-end">Users</th>
          <th class="d-none d-xl-table-cell w-75">% Users</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of languagesData">
          <td>{{item.language}}</td>
          <td class="text-end">{{item.users}}</td>
          <td class="d-none d-xl-table-cell">
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" [style.width.px]="item.percentage" aria-valuenow="{{item.percentage}}" aria-valuemin="0" aria-valuemax="100">{{item.percentage}}
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12 col-lg-4 d-flex">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <div class="card-actions float-end">
          <div class="dropdown show" dropdown>
            <a dropdownToggle>
              <i class="align-middle    fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu" *dropdownMenu>
              <a class='dropdown-item' (click)='onClickAction()'>Action</a>
              <a class='dropdown-item' (click)='onClickAnotherAction()'>Another action</a>
              <a class='dropdown-item' (click)='onClickSomethingElse()'>Something else here</a>
            </div>
          </div>
        </div>
        <h5 class="card-title mb-0">Mobile / Desktop</h5>
      </div>
      <div class="card-body d-flex w-100">
        <div class="align-self-center chart">
          <ngx-charts-bar-vertical-stacked
            [scheme]="mobileDesktopConfig.colorScheme"
            [results]="mobileDesktopChartData"
            [gradient]="mobileDesktopConfig.gradient"
            [xAxis]="mobileDesktopConfig.showXAxis"
            [yAxis]="mobileDesktopConfig.showYAxis"
            [legend]="mobileDesktopConfig.showLegend"
            [showXAxisLabel]="mobileDesktopConfig.showXAxisLabel"
            [showYAxisLabel]="mobileDesktopConfig.showYAxisLabel"
            [xAxisLabel]="mobileDesktopConfig.xAxisLabel"
            [yAxisLabel]="mobileDesktopConfig.yAxisLabel"
            [animations]="mobileDesktopConfig.animations"></ngx-charts-bar-vertical-stacked>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-4 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <div class="card-actions float-end">
          <div class="dropdown show" dropdown container="body">
            <a dropdownToggle>
              <i class="align-middle    fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <a class='dropdown-item' (click)='onClickAction()'>Action</a>
              <a class='dropdown-item' (click)='onClickAnotherAction()'>Another action</a>
              <a class='dropdown-item' (click)='onClickSomethingElse()'>Something else here</a>
            </div>
          </div>
        </div>
        <h5 class="card-title mb-0">Interests</h5>
      </div>
      <div class="card-body">
        <div class="chart">
          <ngx-charts-polar-chart
            [scheme]="interestsConfig.colorScheme"
            [legend]="interestsConfig.legend"
            [showXAxisLabel]="interestsConfig.showXAxisLabel"
            [showYAxisLabel]="interestsConfig.showYAxisLabel"
            [xAxis]="interestsConfig.xAxis"
            [yAxis]="interestsConfig.yAxis"
            [results]="interestsConfig.multi"
          >
          </ngx-charts-polar-chart>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-5 col-xl-4 d-flex">
    <div class="card flex-fill w-100">
      <div class="card-header">
        <div class="card-actions float-end">
          <div class="dropdown" dropdown>
            <a dropdownToggle>
              <i class="align-middle    fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu" *dropdownMenu>
              <a class='dropdown-item' (click)='onClickAction()'>Action</a>
              <a class='dropdown-item' (click)='onClickAnotherAction()'>Another action</a>
              <a class='dropdown-item' (click)='onClickSomethingElse()'>Something else here</a>
            </div>
          </div>
        </div>
        <h5 class="card-title mb-0">Source / Medium</h5>
      </div>
      <div class="card-body d-flex">
        <div class="align-self-center w-100">
          <div class="py-3">
            <div class="chart chart-xs">
              <ngx-charts-pie-chart
                [scheme]="sourceMediumConfig.colorScheme"
                [results]="sourceMediumChartData"
                [gradient]="sourceMediumConfig.gradient"
                [legend]="sourceMediumConfig.showLegend"
                [legendPosition]="sourceMediumConfig.legendPosition"
                [labels]="sourceMediumConfig.showLabels"
                [doughnut]="sourceMediumConfig.isDoughnut">
              </ngx-charts-pie-chart>
            </div>
          </div>

          <table class="table mb-0">
            <thead>
            <tr>
              <th>Source</th>
              <th class="text-end">Revenue</th>
              <th class="text-end">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of sourceMediumTableData">
              <td><i class="{{item.type}}"></i> {{item.source}}</td>
              <td class="text-end">{{item.revenue}}</td>
              <td class="text-end text-success">{{item.value}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-7 col-xl-8 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <div class="card-actions float-end">
          <div class="dropdown" dropdown container="body">
            <a dropdownToggle>
              <i class="align-middle    fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <a class='dropdown-item' (click)='onClickAction()'>Action</a>
              <a class='dropdown-item' (click)='onClickAnotherAction()'>Another action</a>
              <a class='dropdown-item' (click)='onClickSomethingElse()'>Something else here</a>
            </div>
          </div>
        </div>
        <h5 class="card-title mb-0">Traffic</h5>
      </div>
      <table id="datatables-dashboard-traffic" class="table table-striped my-0">
        <thead>
        <tr>
          <th>Source</th>
          <th class="text-end">Users</th>
          <th class="d-none d-xl-table-cell text-end">Sessions</th>
          <th class="d-none d-xl-table-cell text-end">Bounce Rate</th>
          <th class="d-none d-xl-table-cell text-end">Avg. Session Duration</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of trafficTableData">
          <td>{{item.source}}</td>
          <td class="text-end">{{item.users}}</td>
          <td class="d-none d-xl-table-cell text-end">{{item.sessions}}</td>
          <td class="d-none d-xl-table-cell text-end text-success">{{item.bounceRate}}</td>
          <td class="d-none d-xl-table-cell text-end">{{item.duration}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
