<h1 class="h3 mb-3">Google Maps</h1>

<div class="row">
  <div class="col-12 col-lg-6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Default Map</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">
          Displays the default road map view.
        </h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content class="pt-0">
        <div class="content" id="default_map" style="height: 300px"></div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
  <div class="col-12 col-lg-6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Hybrid Map</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">
          Displays a mixture of normal and satellite views.
        </h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content class="pt-0">
        <div class="content" id="hybrid_map" style="height: 300px"></div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>

  <div class="col-12 col-lg-6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Light Style</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">
          Light color scheme.
        </h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content class="pt-0">
        <div class="content" id="light_map" style="height: 300px"></div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>

  <div class="col-12 col-lg-6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Dark Style</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">
          Dark color scheme.
        </h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content class="pt-0">
        <div class="content" id="dark_map" style="height: 300px"></div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>

  <div class="col-12 col-lg-6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Streetview</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">
          Panoramic 360 degree views from designated roads throughout its
          coverage area.
        </h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content class="pt-0">
        <div class="content" id="streetview_map" style="height: 300px"></div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>

  <div class="col-12 col-lg-6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Markers</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">
          Identify a location on a map.
        </h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content class="pt-0">
        <div class="content" id="markers_map" style="height: 300px"></div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
</div>
