<div valorLaunchpadRow>
  <div valorLaunchpadCol [span]='12' [lg]='8'>
    <valor-launchpad-card>
      <valor-launchpad-card-content class="h-100">
        <ng-container  *ngFor='let s of (stories$ | async) as stories; index as i'>
          <valor-launchpad-social-story [story]='s'></valor-launchpad-social-story>
          <hr *ngIf='i !== stories.length - 1'/>
        </ng-container>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>

  <div valorLaunchpadCol [span]='12' [lg]='4'>
    <valor-launchpad-card class="mb-3">
      <valor-launchpad-card-content class="text-center">
        <ng-container *ngIf='(userinfo$ | async) as userinfo'>
          <img [src]="userinfo.avatarUrl" [alt]="userinfo.username" class="img-fluid rounded-circle mb-2" width="128" height="128"/>
          <h4 class="card-title mb-0">{{userinfo.username}}</h4>
          <div class="text-muted mb-2">{{userinfo.job}}</div>

          <div>
            <button valor-launchpad-button size='sm' *ngIf='!userinfo.followed'>Follow</button>
            <button valor-launchpad-button size='sm' [outlined]='true' *ngIf='userinfo.followed'>Unfollow</button>
            <button valor-launchpad-button size='sm'><i class="align-middle me-2 far fa-fw fa-comment-alt"></i> Message</button>
          </div>
        </ng-container>
      </valor-launchpad-card-content>
    </valor-launchpad-card>

    <valor-launchpad-card class="mb-3">
      <valor-launchpad-card-header>
        <div class="card-actions float-end">
          <div dropdown placement='bottom right' container='body'>
            <a dropdownToggle>
              <i class="align-middle fas fa-fw fa-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <a class="dropdown-item">Action</a>
              <a class="dropdown-item">Another action</a>
              <a class="dropdown-item">Something else here</a>
            </div>
          </div>
        </div>
        <h5 class="card-title mb-0">Following</h5>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <ng-container *ngFor='let item of (followings$ | async) as followings; index as i'>
          <div class="d-flex align-items-start">
            <img [src]="item.avatarUrl" width="56" height="56" class="rounded-circle me-2" [alt]="item.username">
            <div class="flex-grow-1">
              <p class="my-1"><strong>{{item.username}}</strong></p>
              <button valor-launchpad-button size='sm' *ngIf='!item.followed'>Follow</button>
              <button valor-launchpad-button size='sm' [outlined]='true' *ngIf='item.followed'>Unfollow</button>
            </div>
          </div>
          <hr class="my-2" *ngIf='i !== followings.length - 1'/>
        </ng-container>
      </valor-launchpad-card-content>
    </valor-launchpad-card>

    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <div class="card-actions float-end">
          <div dropdown placement='bottom right' container='body'>
            <a dropdownToggle>
              <i class="align-middle fas fa-fw fa-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <a class="dropdown-item">Action</a>
              <a class="dropdown-item">Another action</a>
              <a class="dropdown-item">Something else here</a>
            </div>
          </div>
        </div>
        <h5 class="card-title mb-0">Activities</h5>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content class="h-100">
        <ng-container *ngFor='let activity of activities$ | async'>
          <valor-launchpad-social-activity  [activity]='activity'></valor-launchpad-social-activity>
          <hr />
        </ng-container>
        <button valor-launchpad-button class='w-100'>Load More</button>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
</div>
