<h1 class="h3 mb-3">Fixed Header</h1>

<div class="row">
  <div class="col-12">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 class="card-title">DataTables with Fixed Header</h5>
        <h6 class="card-subtitle text-muted">
          This example shows the multi option. Note how a click on a row will
          toggle its selected state without effecting other rows, unlike the os
          and single options shown in other examples. See official
          documentation. <br />
          The Fixed Header DataTables extension ensures the table headers don't
          leave the user's viewport when scrolling down. See official
          documentation
          <a
            href="https://datatables.net/extensions/fixedheader/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >here</a
          >.
        </h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <div class="dataTables_wrapper">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length">
                <label>
                  Show
                  <select
                    class="
                      custom-select custom-select-sm
                      form-control form-control-sm
                    "
                    [(ngModel)]="pageNumLimit"
                  >
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_filter">
                <label
                  >Search:<input
                    type="search"
                    class="form-control form-control-sm"
                    (input)="onChangeSearch($event.target.value)"
                /></label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="table table-striped my-0"
            [ngClass]="tableClass"
            #myTable
            [rows]="tableResponsiveData"
            [columns]="tableResponsiveColumns"
            [headerHeight]="50"
            [footerHeight]="50"
            rowHeight="auto"
            [columnMode]="'force'"
            [rowHeight]="46"
            [limit]="pageNumLimit"
          >
            <ngx-datatable-footer>
              <ng-template
                ngx-datatable-footer-template
                let-rowCount="rowCount"
                let-pageSize="pageSize"
                let-curPage="curPage"
                let-offset="offset"
              >
                <div class="page-count">
                  Showing
                  {{ curPage === 1 ? 1 : (curPage - 1) * pageSize + 1 }}
                  to
                  {{
                    pageSize * curPage > rowCount
                      ? rowCount
                      : pageSize * curPage
                  }}
                  of
                  {{ rowCount }}
                  entries
                </div>
                <datatable-pager
                  [pagerLeftArrowIcon]="'datatable-valor-left'"
                  [pagerRightArrowIcon]="'datatable-valor-right'"
                  [page]="curPage"
                  [size]="pageSize"
                  [count]="rowCount"
                  [hidden]="!(rowCount / pageSize > 1)"
                  (change)="myTable.onFooterPage($event)"
                ></datatable-pager>
              </ng-template>
            </ngx-datatable-footer>
          </ngx-datatable>
        </div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
</div>
