<h1>Payment Integrations</h1>
<p>
  There are two payment providers currently supported as part of this template.
  PayPal and Stripe
</p>
<div valorLaunchpadRow class="justify-content-center">
  <!--        TODO: We need to implement this button https://developer.paypal.com/docs/platforms/checkout/reference/style-guide/-->
  <!-- <valor-launchpad-card valorLaunchpadCol [span]='5'>
    <valor-launchpad-card-header>
      <a class='card-title mb-0' routerLink='paypal'>
        <div class='row justify-content-center'>
          <img class='hero-logo' src='assets/img/brands/paypal.svg' alt='PayPal Logo'>
        </div>
      </a>
    </valor-launchpad-card-header>
    <valor-launchpad-card-content>
      <h2>PayPal simplifies your life</h2>
      <p class='payment-description'>We believe it should be simple to get, spend, and send your money. That’s why our
        services are designed to
        fit into your everyday life. Whether you’re shopping, splitting expenses, or getting paid for sales, we’re
        here to help make it as easy as possible.</p>
      <a valor-launchpad-button class='w-100'>Explore
        PayPal
      </a>
    </valor-launchpad-card-content>
  </valor-launchpad-card>

  <div valorLaunchpadCol [span]='1'></div> -->

  <valor-launchpad-card valorLaunchpadCol [span]="5">
    <valor-launchpad-card-header>
      <a class="card-title mb-0" routerLink="paypal">
        <div class="row justify-content-center">
          <img
            class="hero-logo"
            src="assets/img/brands/stripe-blurple.svg"
            alt="PayPal Logo"
          />
        </div>
      </a>
    </valor-launchpad-card-header>
    <valor-launchpad-card-content>
      <h2>Payments infrastructure for the internet</h2>
      <p class="payment-description">
        Millions of companies of all sizes—from startups to Fortune 500s—use
        Stripe’s software and APIs to accept payments, send payouts, and manage
        their businesses online.
      </p>
      <a valor-launchpad-button routerLink="./stripe" class="w-100"
        >Explore Stripe</a
      >
      <!--        TODO: We need to implement these badges as well https://stripe.com/newsroom/brand-assets -->
    </valor-launchpad-card-content>
  </valor-launchpad-card>
  <div valorLaunchpadCol [span]="7"></div>
</div>
