<h1 class="h3 mb-3">Tabs</h1>

<div class="row">
  <div class="col-12 col-lg-6">
    <div class="tab">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#tab-1" data-bs-toggle="tab" role="tab">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#tab-2" data-bs-toggle="tab" role="tab">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="#tab-3" data-bs-toggle="tab" role="tab">Messages</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-1" role="tabpanel">
          <h4 class="tab-title">Default tabs</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
        <div class="tab-pane" id="tab-2" role="tabpanel">
          <h4 class="tab-title">Another one</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
        <div class="tab-pane" id="tab-3" role="tabpanel">
          <h4 class="tab-title">One more</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="tab tab-primary">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#primary-tab-1" data-bs-toggle="tab" role="tab">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#primary-tab-2" data-bs-toggle="tab" role="tab">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="#primary-tab-3" data-bs-toggle="tab" role="tab">Messages</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="primary-tab-1" role="tabpanel">
          <h4 class="tab-title">Colored tabs</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
        <div class="tab-pane" id="primary-tab-2" role="tabpanel">
          <h4 class="tab-title">Another one</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
        <div class="tab-pane" id="primary-tab-3" role="tabpanel">
          <h4 class="tab-title">One more</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="tab">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#icon-tab-1" data-bs-toggle="tab" role="tab">
            <i class="align-middle" data-feather="home"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#icon-tab-2" data-bs-toggle="tab" role="tab">
            <i class="align-middle" data-feather="settings"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#icon-tab-3" data-bs-toggle="tab" role="tab">
            <i class="align-middle" data-feather="message-square"></i>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="icon-tab-1" role="tabpanel">
          <h4 class="tab-title">Icon tabs</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
        <div class="tab-pane" id="icon-tab-2" role="tabpanel">
          <h4 class="tab-title">Another one</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
        <div class="tab-pane" id="icon-tab-3" role="tabpanel">
          <h4 class="tab-title">One more</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="tab tab-success">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#colored-icon-1" data-bs-toggle="tab" role="tab">
            <i class="align-middle" data-feather="home"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#colored-icon-2" data-bs-toggle="tab" role="tab">
            <i class="align-middle" data-feather="settings"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#colored-icon-3" data-bs-toggle="tab" role="tab">
            <i class="align-middle" data-feather="message-square"></i>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="colored-icon-1" role="tabpanel">
          <h4 class="tab-title">Colored icon tabs</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
        <div class="tab-pane" id="colored-icon-2" role="tabpanel">
          <h4 class="tab-title">Another one</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
        <div class="tab-pane" id="colored-icon-3" role="tabpanel">
          <h4 class="tab-title">One more</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="tab tab-vertical">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#vertical-icon-tab-1" data-bs-toggle="tab" role="tab">
            <i class="align-middle" data-feather="home"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#vertical-icon-tab-2" data-bs-toggle="tab" role="tab">
            <i class="align-middle" data-feather="settings"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#vertical-icon-tab-3" data-bs-toggle="tab" role="tab">
            <i class="align-middle" data-feather="message-square"></i>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="vertical-icon-tab-1" role="tabpanel">
          <h4 class="tab-title">Vertical icon tabs</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus. In enim justo, rhoncus ut,
            imperdiet a, venenatis vitae, justo.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
        <div class="tab-pane" id="vertical-icon-tab-2" role="tabpanel">
          <h4 class="tab-title">Another one</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus. In enim justo, rhoncus ut,
            imperdiet a, venenatis vitae, justo.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
        <div class="tab-pane" id="vertical-icon-tab-3" role="tabpanel">
          <h4 class="tab-title">One more</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus. In enim justo, rhoncus ut,
            imperdiet a, venenatis vitae, justo.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="tab tab-vertical tab-danger">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#colored-vertical-icon-tab-1" data-bs-toggle="tab" role="tab">
            <i class="align-middle" data-feather="home"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#colored-vertical-icon-tab-2" data-bs-toggle="tab" role="tab">
            <i class="align-middle" data-feather="settings"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#colored-vertical-icon-tab-3" data-bs-toggle="tab" role="tab">
            <i class="align-middle" data-feather="message-square"></i>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="colored-vertical-icon-tab-1" role="tabpanel">
          <h4 class="tab-title">Colored vertical icon tabs</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus. In enim justo, rhoncus ut,
            imperdiet a, venenatis vitae, justo.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
        <div class="tab-pane" id="colored-vertical-icon-tab-2" role="tabpanel">
          <h4 class="tab-title">Another one</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus. In enim justo, rhoncus ut,
            imperdiet a, venenatis vitae, justo.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
        <div class="tab-pane" id="colored-vertical-icon-tab-3" role="tabpanel">
          <h4 class="tab-title">One more</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor tellus eget
            condimentum rhoncus. Aenean massa. Cum sociis natoque
            penatibus et magnis neque dis parturient montes, nascetur ridiculus mus. In enim justo, rhoncus ut,
            imperdiet a, venenatis vitae, justo.</p>
          <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
            pede justo, fringilla vel, aliquet nec, vulputate
            eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
      </div>
    </div>
  </div>
</div>
