<h1 class="h3 mb-3">Tabs</h1>

<div class="row">
  <div class="col-12 col-lg-6">
    <div class="tab">
      <valor-launchpad-tabs [activeTab]="'Profile'">
        <valor-launchpad-tab 
          *ngFor="let tab of tabItems"
          [disabled]="tab.disabled"
          [title]="tab.title"
          [id]="tab.id">
          <ng-template valorLaunchpadTabContent>
            <h4>{{tab.cTitle}}</h4>
            <p *ngFor="let item of tab.content">
              {{item}}
            </p>
          </ng-template>
        </valor-launchpad-tab>
      </valor-launchpad-tabs>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="tab tab-primary">
      <valor-launchpad-tabs>
        <valor-launchpad-tab 
          *ngFor="let tab of tabItems"
          [disabled]="tab.disabled"
          [title]="tab.title"
          [id]="tab.id">
          <ng-template valorLaunchpadTabContent>
            <h4>{{tab.cTitle}}</h4>
            <p *ngFor="let item of tab.content">
              {{item}}
            </p>
          </ng-template>
        </valor-launchpad-tab>
      </valor-launchpad-tabs>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="tab">
      <valor-launchpad-tabs>
        <valor-launchpad-tab 
          *ngFor="let tab of tabItems"
          [disabled]="tab.disabled"
          [id]="tab.id">
          <ng-template valorLaunchpadTabTitle>
            <i [ngClass]="tab.icon"></i>
          </ng-template>
          <ng-template valorLaunchpadTabContent>
            <h4>{{tab.cTitle}}</h4>
            <p *ngFor="let item of tab.content">
              {{item}}
            </p>
          </ng-template>
        </valor-launchpad-tab>
      </valor-launchpad-tabs>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="tab tab-success">
      <valor-launchpad-tabs>
        <valor-launchpad-tab 
          *ngFor="let tab of tabItems"
          [disabled]="tab.disabled"
          [id]="tab.id">
          <ng-template valorLaunchpadTabTitle>
            <i [ngClass]="tab.icon"></i>
          </ng-template>
          <ng-template valorLaunchpadTabContent>
            <h4>{{tab.cTitle}}</h4>
            <p *ngFor="let item of tab.content">
              {{item}}
            </p>
          </ng-template>
        </valor-launchpad-tab>
      </valor-launchpad-tabs>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="tab tab-vertical">
      <valor-launchpad-tabs>
        <valor-launchpad-tab 
          *ngFor="let tab of tabItems"
          [disabled]="tab.disabled"
          [id]="tab.id">
          <ng-template valorLaunchpadTabTitle>
            <i [ngClass]="tab.icon"></i>
          </ng-template>
          <ng-template valorLaunchpadTabContent>
            <h4>{{tab.cTitle}}</h4>
            <p *ngFor="let item of tab.content">
              {{item}}
            </p>
          </ng-template>
        </valor-launchpad-tab>
      </valor-launchpad-tabs>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="tab tab-vertical tab-danger">
      <valor-launchpad-tabs>
        <valor-launchpad-tab 
          *ngFor="let tab of tabItems"
          [disabled]="tab.disabled"
          [id]="tab.id">
          <ng-template valorLaunchpadTabTitle>
            <i [ngClass]="tab.icon"></i>
          </ng-template>
          <ng-template valorLaunchpadTabContent>
            <h4>{{tab.cTitle}}</h4>
            <p *ngFor="let item of tab.content">
              {{item}}
            </p>
          </ng-template>
        </valor-launchpad-tab>
      </valor-launchpad-tabs>
    </div>
  </div>
</div>
