<h1 class="h3 mb-3">Messages</h1>

<div class="card">
  <div class="row g-0">
    <div class="col-12 col-lg-5 col-xl-3 border-end">
      <div class="px-4 d-none d-md-block">
        <valor-launchpad-input-group class="my-3">
          <input type="text" class="form-control" placeholder="Search..." />
          <button
            valor-launchpad-button
            theme="secondary"
            (click)="displayCreateGroupModal()"
          >
            +
          </button>
        </valor-launchpad-input-group>
      </div>

      <valor-launchpad-valor-launchpad-messenger
        *ngFor="let item of messengers"
        [messenger]="item"
        [active]="item.id === activeThread?.id"
        (click)="onSelectThread(item)"
      ></valor-launchpad-valor-launchpad-messenger>
      <hr class="d-block d-lg-none mt-1 mb-0" />
    </div>
    <div class="col-12 col-lg-7 col-xl-9">
      <ng-container *ngIf="activeThread">
        <div class="py-2 px-4 border-bottom d-none d-lg-block">
          <div class="d-flex align-items-start align-items-center py-1">
            <div class="position-relative">
              <valor-launchpad-thread-avatar
                [thread]="activeThread"
              ></valor-launchpad-thread-avatar>
            </div>
            <div class="flex-grow-1 ps-3">
              <strong>{{ activeThread.name }}</strong>
              <div class="text-muted small" style="height: 1em">
                <em>{{
                  (activeThread.isTyping | async) ? 'Typing...' : ''
                }}</em>
              </div>
            </div>
            <div>
              <button class="btn btn-primary btn-lg me-1 px-3">
                <i class="feather-lg fas fa-fw fa-phone"></i>
              </button>
              <button
                class="btn btn-info btn-lg me-1 px-3 d-none d-md-inline-block"
              >
                <i class="feather-lg fas fa-fw fa-video"></i>
              </button>
              <button
                class="btn btn-light border btn-lg px-3"
                (click)="showThreadDetail()"
              >
                <i class="feather-lg fas fa-fw fa-ellipsis-h"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="position-relative">
          <div class="chat-messages p-4" #chatMsg>
            <ng-container *ngIf="messagesLoading; else msg">
              <div class="d-flex justify-content-center">
                <valor-launchpad-spinner
                  class="me-2"
                  theme="primary"
                ></valor-launchpad-spinner>
              </div>
            </ng-container>
            <ng-template #msg>
              <valor-launchpad-valor-launchpad-message
                *ngFor="let item of messages"
                [message]="item"
              ></valor-launchpad-valor-launchpad-message>
            </ng-template>
          </div>
        </div>
      </ng-container>
      <div class="flex-grow-0 border-top pb-3">
        <valor-launchpad-editor-slate
          [borderless]="true"
          [preventEnter]="true"
          (enterClicked)="onSend(editor)"
          #editor
        ></valor-launchpad-editor-slate>
        <div class="d-flex justify-content-end me-3">
          <button
            valor-launchpad-button
            theme="primary"
            (click)="onSend(editor)"
            [disabled]="editor.isEmpty"
            [loading]="sendingMessage"
          >
            <i class="fas fa-paper-plane fa-fw"></i>
            Send
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<valor-launchpad-offcanvas
  *ngIf="activeThread"
  [title]="''"
  position="end"
  [show]="showDetail"
  (onClose)="showDetail = false"
>
  <div offcanvas-body>
    <ng-container *ngIf="activeThread.isGroup; else userDetail">
      <form>
        <valor-launchpad-form-item>
          <valor-launchpad-form-label [required]="true">
            Group name
          </valor-launchpad-form-label>
          <input
            type="text"
            valorLaunchpadInput
            [formControl]="activeThreadNameCtrl"
          />
        </valor-launchpad-form-item>
        <button valor-launchpad-button (click)="updateGroupProfile()">
          Save
        </button>
      </form>
      <div class="dropdown-divider my-4"></div>
      <div
        class="d-flex align-items-center my-3 cursor-pointer"
        (click)="displayGroupAddUserModal()"
      >
        <div
          class="
            add-remove-user
            border-secondary
            text-secondary
            rounded-circle
            display-flex
            align-items-center
            text-center
          "
        >
          +/-
        </div>
        <span class="ms-3">Add/Remove user</span>
      </div>
      <div *ngFor="let user of activeThread.chatThreadUsers" class="my-3">
        <valor-launchpad-avatar
          [src]="user.profile.avatar | valorImage"
          [firstName]="user.firstName"
          [lastName]="user.lastName"
          size="lg"
        ></valor-launchpad-avatar>
        <span class="ms-3">{{ user | fullName }}</span>
      </div>
    </ng-container>
    <ng-template #userDetail>
      <div class="m-3 text-center">
        <valor-launchpad-avatar
          [src]="activeThread.avatar | valorImage"
          [alt]="activeThread.avatar?.alt"
          [firstName]="activeThread.targetingUser.firstName"
          [lastName]="activeThread.targetingUser.lastName"
          width="128"
          height="128"
          classes="mb-2 img-fluid"
        >
        </valor-launchpad-avatar>
        <h5 class="card-title mb-0">
          {{ activeThread.targetingUser | fullName }}
        </h5>
      </div>
      <ng-container *ngIf="activeSingleUserProfile">
        <hr class="my-0" />
        <div class="m-3">
          <h5 class="h6 card-title">Skills</h5>
          <span
            valor-launchpad-badge
            class="me-1 my-1"
            *ngFor="let skill of activeSingleUserProfile.skills"
          >
            {{ skill.skill.name }}
          </span>
        </div>
        <hr class="my-0" />
        <div class="m-3">
          <h5 class="h6 card-title">About</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <i class="fas fa-fw fa-home me-1"></i>
              Lives in
              <a href="#">{{ activeSingleUserProfile.location }}</a>
            </li>

            <li class="mb-1">
              <i class="feather-sm me-1 fas fa-fw fa-briefcase"></i> Works at
              <a
                [href]="activeSingleUserProfile.employers[0]?.employer.url"
                target="_blank"
              >
                {{ activeSingleUserProfile.employers[0]?.employer.name }}</a
              >
            </li>
            <li class="mb-1">
              <i class="feather-sm me-1 fas fa-fw fa-map-pin"></i> From
              <a href="#">{{ activeSingleUserProfile.from }}</a>
            </li>
          </ul>
        </div>
        <hr class="my-0" />
        <div class="m-3">
          <h5 class="h6 card-title">Elsewhere</h5>
          <ul class="list-unstyled mb-0">
            <li
              class="mb-1"
              *ngFor="let social of activeSingleUserProfile.socialMedia"
            >
              <span class="me-1" [ngClass]="social.socialMedia.icon"></span>
              <a [href]="social.socialMediaUrl" target="_blank">{{
                social.socialMedia.name
              }}</a>
            </li>
          </ul>
        </div>
      </ng-container>
    </ng-template>
  </div>
</valor-launchpad-offcanvas>
