:host {
  .chat-messages::-webkit-scrollbar {
    display: none;
  }
  .add-remove-user {
    font-size: 22px;
    width: 40px !important;
    height: 40px !important;
    border: 1px dashed;
    font-weight: lighter;
  }
}
