<nav class="navbar navbar-expand navbar-light navbar-bg">
  <a class="sidebar-toggle" (click)="toggleMenu()">
    <i class="hamburger align-self-center"></i>
  </a>

  <form class="d-none d-sm-inline-block">
    <div class="input-group input-group-navbar">
      <input
        type="text"
        class="form-control"
        placeholder="Search projects…"
        aria-label="Search"
        [formControl]="projectSearchFc"
        valorLaunchpadAutocompleteTrigger
        [appAutocomplete]="autocomplete"
      />
      <button class="btn" type="button">
        <i class="align-middle fas fa-fw fa-search"></i>
      </button>
      <valor-launchpad-autocomplete #autocomplete="valorLaunchpadAutoComplete">
        <ng-template valorLaunchpadAutocompleteContent>
          <valor-launchpad-autocomplete-option
            *ngFor="let option of filteredProjectOptions"
            [value]="option.title"
          >
            <div
              class="d-flex align-items-start"
              routerLink="/projects-detail/{{ option.id }}"
            >
              <img
                [src]="option?.hero | valorImage"
                width="36"
                height="36"
                class="rounded-circle me-2"
                [alt]="option?.hero?.alt"
              />
              <div class="flex-grow-1">
                <strong>{{ option.title }}</strong>
                <br />
                <small class="option-text">{{ option.body }}</small>
              </div>
            </div>
          </valor-launchpad-autocomplete-option>
          <app-option class="no-result" *ngIf="!filteredProjectOptions?.length"
            >No result...
          </app-option>
        </ng-template>
      </valor-launchpad-autocomplete>
    </div>
  </form>

  <ul class="navbar-nav">
    <li class="nav-item px-2 dropdown">
      <valor-launchpad-dropdown
        direction="start"
        classes="nav-link dropdown-toggle d-none d-sm-inline-block"
      >
        <span dropdown-nav>Mega menu</span>
        <valor-launchpad-dropdown-mega-menu
          [columns]="megaMenus$ | async"
        ></valor-launchpad-dropdown-mega-menu>
      </valor-launchpad-dropdown>
    </li>
  </ul>

  <div class="navbar-collapse collapse">
    <ul class="navbar-nav navbar-align">
      <valor-launchpad-dropdown size="lg" classes="nav-icon dropdown-toggle">
        <div
          class="position-relative nav-item"
          dropdown-nav
          id="messagesDropdown"
        >
          <i class="align-middle far fa-fw fa-comment-alt"></i>
          <span class="indicator">{{ messages?.length }}</span>
        </div>

        <div dropdown-content>
          <div class="dropdown-menu-header">
            <div class="position-relative">
              {{ messages?.length }} New Messages
            </div>
          </div>
          <div class="list-group">
            <a
              routerLink="chat"
              class="list-group-item"
              *ngFor="let message of messages"
            >
              <div class="row g-0 align-items-center">
                <div class="col-2">
                  <img
                    [src]="message.user.avatar"
                    class="avatar img-fluid rounded-circle"
                    [alt]="message.user.name"
                  />
                </div>
                <div class="col-10 ps-2">
                  <div class="text-dark">{{ message.user.name }}</div>
                  <div class="text-muted small mt-1">{{ message.message }}</div>
                  <div class="text-muted small mt-1">{{ message.time }}</div>
                </div>
              </div>
            </a>
          </div>

          <div class="dropdown-menu-footer">
            <a routerLink="chat" class="text-muted">Show all messages</a>
          </div>
        </div>
      </valor-launchpad-dropdown>

      <valor-launchpad-notification-dropdown></valor-launchpad-notification-dropdown>

      <li class="nav-item dropdown">
        <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#">
          <i class="align-middle fas fa-fw fa-cogs"></i>
        </a>

        <valor-launchpad-dropdown
          classes="nav-link dropdown-toggle d-none d-sm-inline-block"
        >
          <span *ngIf="user$ | async as user" dropdown-nav>
            <valor-launchpad-avatar
              [src]="user.profile.avatar | valorImage"
              [alt]="user.profile.avatar?.alt"
              [firstName]="user.firstName"
              [lastName]="user.lastName"
              classes="avatar img-fluid me-1"
            ></valor-launchpad-avatar>
            <span class="text-dark"
              >{{ user.firstName }} {{ user.lastName }}</span
            >
          </span>
          <valor-launchpad-dropdown-actions-menu
            [actions]="profileActions"
          ></valor-launchpad-dropdown-actions-menu>
        </valor-launchpad-dropdown>
      </li>
    </ul>
  </div>

  <valor-launchpad-modal
    bsModal
    #defaultWarningModal="bs-modal"
    heading="Sign Out Confirm"
    [content]="content"
    [footer]="defaultWarningModalFooter"
  >
    <ng-template #defaultWarningModalFooter>
      <button
        valor-launchpad-button
        theme="secondary"
        (click)="defaultWarningModal.hide()"
      >
        Cancel
      </button>
      <button valor-launchpad-button theme="warning" (click)="confirmSignOut()">
        Confirm
      </button>
    </ng-template>
  </valor-launchpad-modal>
</nav>
