<h1 class="h3 mb-3">Clients</h1>

<div class="row">
  <div class="col-xl-8">
    <valor-launchpad-card>
      <div card-header>
        <div class="card-actions float-end">
          
          <valor-launchpad-dropdown
            [direction]="'end'"
          >
             <i dropdown-nav class="align-middle fas fa-fw fa-ellipsis-h"></i>
             <valor-launchpad-dropdown-actions-menu [data]="actions1"></valor-launchpad-dropdown-actions-menu>
          </valor-launchpad-dropdown>  
          


        </div>
        <h5 class="card-title mb-0">Clients</h5>
      </div>
      <div card-body>
        <valor-launchpad-tables
          [data]="tableData"
          [columns]="tableColumns"
          [class]="'table-striped'"
          [style]="'width:100%'"
        ></valor-launchpad-tables>
      </div>
    </valor-launchpad-card>
  </div>

  <div class="col-xl-4">
    <valor-launchpad-card>
      <div card-header>
        <div class="card-actions float-end"> 
            <valor-launchpad-dropdown
            [direction]="'end'"
          >
             <i dropdown-nav class="align-middle fas fa-fw fa-ellipsis-h"></i>
             <valor-launchpad-dropdown-actions-menu [data]="actions2"></valor-launchpad-dropdown-actions-menu>
          </valor-launchpad-dropdown>         
        </div>
        <h5 class="card-title mb-0">{{profile.detail.name}}</h5>
      </div>
      <div card-body>
        <div class="row g-0">
          <div class="col-sm-3 col-xl-12 col-xxl-3 text-center">
            <valor-launchpad-avatar
              [src]="profile.avatar"
              [size]="'xl'"
              [classes]="'rounded-circle mt-2'"
              [alt]="'Angelica Ramos'"
            ></valor-launchpad-avatar>
          </div>
          <div class="col-sm-9 col-xl-12 col-xxl-9">
            <strong>About me</strong>
            <p>{{ profile.description }}</p>
          </div>
        </div>

        <table class="table table-sm my-2">
          <tbody>
            <tr *ngFor="let key of profileKeys">
              <th>{{ key }}</th>
              <td [innerHtml]="profile.detail[key]"></td>
            </tr>
          </tbody>
        </table>

        <hr />

        <strong>Activity</strong>

        <valor-launchpad-timeline
          [timeline]="timeline" [classes]="'mt-2 mb-0'"
        ></valor-launchpad-timeline>
      </div>
    </valor-launchpad-card>
  </div>
</div>
