<h1 class="h3 mb-3">Clients</h1>

<div valorLaunchpadRow>
  <div valorLaunchpadCol [xl]="8">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <div class="card-actions float-end">
          <valor-launchpad-dropdown [direction]="'end'">
            <i dropdown-nav class="align-middle fas fa-fw fa-ellipsis-h"></i>
            <valor-launchpad-dropdown-actions-menu
              [actions]="actions1"
            ></valor-launchpad-dropdown-actions-menu>
          </valor-launchpad-dropdown>
        </div>
        <h5 class="card-title mb-0">Clients</h5>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <div class="d-flex flex-row align-items-center justify-content-between">
          <span class="d-flex flex-row align-items-center">
            Show
            <select
              class="form-select form-select-sm ms-1 me-1"
              (change)="onSelectChange($event.target.value)"
            >
              <option>Choose...</option>
              <option *ngFor="let item of entries" [value]="item">
                {{ item }}
              </option>
            </select>
            entries
          </span>
          <div class="d-flex flex-row align-items-center">
            Search:<input
              valorLaunchpadInput
              type="text"
              name="client"
              [(ngModel)]="clientName"
              id="inputUsername"
              class="ms-1"
              placeholder="Search Client"
              (keyup)="searchClient($event.target.value)"
            />
          </div>
        </div>
        <valor-launchpad-tables
          [data]="paginationTableData"
          [columns]="tableColumns"
          [class]="'table table-hover'"
          [style]="'width:100%'"
          (selcteded)="handleRowSelected($event)"
        ></valor-launchpad-tables>
        <valor-launchpad-pagination
          [totalItems]="searchTableData.length"
          [isEntriesShow]="isShow"
          [itemPage]="itemsPerPage"
          (pageChanged)="onPageChanged($event)"
        ></valor-launchpad-pagination>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>

  <div valorLaunchpadCol [xl]="4">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <div class="card-actions float-end">
          <valor-launchpad-dropdown [direction]="'end'">
            <i dropdown-nav class="align-middle fas fa-fw fa-ellipsis-h"></i>
            <valor-launchpad-dropdown-actions-menu
              [actions]="actions2"
            ></valor-launchpad-dropdown-actions-menu>
          </valor-launchpad-dropdown>
        </div>
        <h5 class="card-title mb-0">{{ selectData.name }}</h5>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <div valorLaunchpadRow class="g-0">
          <div
            valorLaunchpadCol
            [sm]="3"
            [xl]="12"
            [xxl]="3"
            class="text-center"
          >
            <valor-launchpad-avatar
              [src]="selectData.avatar"
              [size]="'xl'"
              [classes]="'rounded-circle mt-2'"
              [alt]="'Angelica Ramos'"
            ></valor-launchpad-avatar>
          </div>
          <div valorLaunchpadCol [sm]="9" [xl]="12" [xxl]="9">
            <strong>About me</strong>
            <p>{{ selectData.description }}</p>
          </div>
        </div>

        <table class="table table-sm my-2">
          <tbody>
            <tr *ngFor="let key of profileKeys">
              <th>{{ key }}</th>
              <td [innerHtml]="selectData[key]"></td>
            </tr>
          </tbody>
        </table>

        <hr />

        <strong>Activity</strong>

        <valor-launchpad-timeline
          [timeline]="selectData.timeline"
          [classes]="'mt-2 mb-0'"
        ></valor-launchpad-timeline>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
</div>
