<div class="container-fluid sub-nav">
  <!-- <div class="sub-nav d-flex px-6"> -->
  <a class="navbar-brand logo-brand" href="#">
    <!-- <img src="assets/admin-logo-light.svg" /> -->
    <div class="admin-logo"></div>
  </a>
  <div class="flex-grow-1 d-flex navbar-light navbar-expand nav-subscribe">
    <div class="d-inline-block form-check form-switch form-mode">
      <label class="form-check-label" for="themeChecked">Switch to dark mode</label>
      <input class="form-check-input" [checked]="checked" type="checkbox" role="switch" id="themeChecked" (change)="themeChange($event)">
    </div>

    <div class="navbar-text flex-grow-1">
      <ul class="navbar-nav navbar-align">
        <li class="nav-item dropdown">
          <valor-launchpad-dropdown
            classes="nav-link dropdown-toggle d-sm-inline-block">
            <span dropdown-nav>
              <span class="text-dark sub-nav-text">Corporate</span>
              </span>
            <valor-launchpad-dropdown-actions-menu
              [actions]="CorporateMenu"
            ></valor-launchpad-dropdown-actions-menu>
          </valor-launchpad-dropdown>
        </li>
        <li class="nav-item dropdown">
          <valor-launchpad-dropdown classes="nav-link dropdown-toggle d-sm-inline-block">
            <span dropdown-nav>
              <span class="text-dark sub-nav-text">Open source</span>
              </span>
            <valor-launchpad-dropdown-actions-menu
              [actions]="CorporateMenu"
            ></valor-launchpad-dropdown-actions-menu>
          </valor-launchpad-dropdown>
        </li>
      </ul>
    </div>

    <div class="input-group input-group-navbar">
      <input
        type="text"
        class="form-control"
        placeholder="E-mail" />
      <button class="btn">
        <span class="azure-gradient">Subscribe</span>
        <i class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"></i>
      </button>
    </div>
  </div>
</div>

<section class="conduct-wrap mt-5">
  <div class="conduct-text-wrap">
    <div class="container d-flex flex-column align-items-center justify-content-center">
      <a href="#">
        <img class="ngx-bootstrap-logo" [src]="'assets/ngx-bootstrap-' + theme + '.svg'" alt="ngx-bootstrap">
      </a>
      <h1 class="lg-text pt-5">Stop wasting
        <span class="purple-blue-ft">your time</span>
      </h1>
      <div class="row flex-grow-1 pt-4 d-flex justify-content-center">
        <div class="col-3 wast-li">
          <li>One monorepo</li>
          <span>Everything you need in one Nx Workspace</span>
        </div>
        <div class="col-3 wast-li">
          <li>Complete</li>
          <span>Everything you need to launch in minutes</span>
        </div>
        <div class="col-3 wast-li">
          <li>Extensible</li>
          <span>Built with technologies and an architecture you know and trust</span>
        </div>
      </div>
    </div>
  </div>
  <div class="get-started d-flex align-items-center justify-content-center">
    <button class="get-started-btn">
      <span class="fw-bold">Get started now</span>
      <i class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"></i>
    </button>
  </div>
</section>

<section class="list-page">
  <div class="list-page-info text-center pb-5 mt-n4">
    <h1>Over 90 pages</h1>
    <span class="main-text">Totally customizable</span>
  </div>
  <div class="container list-page-bg"></div>
  <div class="py-4 text-center">
    <button class="gradual-btn">
      <span class="purple-blue-ft">All pages</span>
      <i class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"></i>
    </button>
  </div>
</section>

<section class="introduce">
  <div class="introduce-wrap container position-relative">
    <div class="position-absolute top-50 start-0 translate-middle-y card-text">
      Everything <br/> you need
    </div>
    <div class="position-absolute top-50 end-0 translate-middle-y card">
      <div class="text-center">
        <div class="save-time mb-2"></div>
        <h3 class="card-info">Save Time</h3>
        <span class="purple-blue-ft">See more 
          <i class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"></i>
        </span>
      </div>
      <div class="text-center">
        <div class="deliver-faster mb-2"></div>
        <h3 class="card-info">Deliver Faster</h3>
        <span class="purple-blue-ft">See more 
          <i class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"></i>
        </span>
      </div>
    </div>
  </div>
</section>

<section class="container d-flex justify-content-between align-items-center benefits">
  <div class="benefits-img"> </div>
  <div class="flex-grow-1 d-flex align-items-center flex-column">
    <h2 class="headline-2">Benefits</h2>
    <span>Lorem ipsum dolor sit amet, consectetur</span>
    <span>adipisicing elit, sed do eiusmod tempor incididunt</span>
    <span>ut labore et dolore magna.</span>
    <div class="text-center pt-6">
      <button class="gradual-btn">
        <span class="purple-blue-ft">Start now</span>
        <i class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"></i>
      </button>
      <button class="gradual-btn ms-3">
        <span class="purple-blue-ft">Watch intro</span>
        <i class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"></i>
      </button>
    </div>
  </div>
</section>

<section class="no-repeat d-flex flex-column justify-content-center align-items-center">
  <h2 class="text-center headline-2">We built Valor Admin out
    <br />of a desire to stop
    <br />repeating ourselves.
  </h2>
  <div class="pt-5 text-center">
    <span>Reuse the codes created for your Admin Panels in a smart way,
      <br />without needing to build everything all over again.
    </span>
  </div>
</section>

<section class="container py-6">
  <div class="full-btn py-6 d-flex justify-content-around align-items-center">
    <h3 class="headline-3">Accelerate your work</h3>
    <button class="hyaline-btn">
      <span>Start now</span>
      <i class="align-middle fas fa-fw fa-long-arrow-alt-right"></i>
    </button>
  </div>
</section>

<section class="has-need">
  <div class="container d-flex justify-content-start align-items-center">
    <h2 class="pb-6 headline-2">
      <span class="purple-blue-ft">Valor Admin</span>
      <br />has everything 
      <br />you need to get
      <br />started on your 
      <br />admin panel.
    </h2>
  </div>
</section>

<section class="container flex-column archit mt-6 p-5 d-flex">
  <h2 class="text-center headline-2 pb-4">Architecture</h2>
  <div class="d-flex flex-row mt-5">
    <div class="flex-shrink-0 archit-tl archit-tl-s">
      <div class="archit-b">Back end</div>
    </div>
    <div class="flex-shrink-0 archit-auth">
      <div class="d-flex align-items-center archit-b archit-s">Auth</div>
      <div class="archit-logo d-flex align-items-center">
        <img src="assets/img/jwt-logo.svg" alt="jwt">
      </div>
    </div>
    <div class="flex-grow-1 d-flex flex-column">
      <div class="d-flex align-items-center archit-b archit-s">Framework</div>
      <div class="archit-logo d-flex align-items-center">
        <img src="assets/img/nest-logo.png" alt="nest">
      </div>
      <div class="archit-logo d-flex align-items-center">
        <img src="assets/img/node-logo.png" alt="node">
      </div>
    </div>
    <div class="flex-grow-1 d-flex flex-column">
      <div class="d-flex align-items-center archit-b archit-s">ORM</div>
      <div class="archit-logo d-flex align-items-center">
        <img src="assets/img/prisma-logo.png" alt="prisma">
      </div>
    </div>
    <div class="flex-grow-1 d-flex flex-column">
      <div class="d-flex align-items-center archit-b archit-s">Caching</div>
      <div class="archit-logo d-flex align-items-center">
        <img src="assets/img/redis-logo.png" alt="redis">
      </div>
    </div>
    <div class="flex-grow-1 d-flex flex-column">
      <div class="d-flex align-items-center archit-b archit-s">Database</div>
      <div class="archit-logo d-flex align-items-center">
        <img src="assets/img/mysql-logo.png" alt="mysql">
      </div>
      <div class="archit-logo d-flex">
        <img src="assets/img/pgsql-logo.svg" alt="pgsql">
      </div>
    </div>

  </div>

  <div class="d-flex flex-row mt-5">
    <div class="flex-shrink-0 archit-tl archit-tl-s">
      <div class="archit-b">Front end</div>
    </div>
    <div class="flex-shrink-0 archit-auth">
      <div class="d-flex align-items-center archit-b archit-s">Auth</div>
      <div class="archit-logo d-flex align-items-center">
        <img src="assets/img/jwt-logo.svg" alt="jwt">
      </div>
    </div>
    <div class="flex-shrink-0 archit-user d-flex flex-column">
      <div class="d-flex align-items-center archit-b archit-s">User experience</div>
      <div class="archit-logo archit-logo-s d-flex align-items-center">
        <img src="assets/img/ngx-bootstrap-logo.svg" alt="ngx-bootstrap">
        <img class="ms-2" src="assets/img/bootstrap-logo.svg" alt="bootstrap">
      </div>
    </div>
    <div class="flex-grow-1 d-flex flex-column">
      <div class="d-flex align-items-center archit-b archit-s">Framework</div>
      <div class="archit-logo d-flex align-items-center">
        <img src="assets/img/angular-logo.svg" alt="angular">
      </div>
    </div>
  </div>

  <div class="d-flex flex-row mt-5">
    <div class="flex-shrink-0 archit-tl archit-tl-s">
      <div class="archit-b">Development</div>
      <div class="archit-logo mt-1 archit-logo-h d-flex align-items-center">
        <img src="assets/img/nx-logo.png" alt="nx">
        <img src="assets/img/docker-logo.png" alt="docker">
      </div>
    </div>
    <div class="flex-grow-1 ms-4 archit-tl">
      <div class="archit-b">Provider</div>
      <div class="archit-logo mt-3 archit-logo-h d-flex align-items-center">
        <img src="assets/img/google-cloud-logo.svg" alt="google-cloud">
        <img class="ms-4" src="assets/img/aws-logo.svg" alt="aws">
      </div>
    </div>
    <div class="flex-grow-1 ms-4 archit-tl">
      <div class="archit-b">CI/CD</div>
      <div class="archit-logo mt-3 archit-logo-h d-flex align-items-center">
        <img src="assets/img/github-actions-logo.svg" alt="github-actions">
        <img class="ms-4" src="assets/img/terraform-logo.svg" alt="terraform">
      </div>
    </div>
    <div class="flex-grow-1 ms-4 archit-tl">
      <div class="archit-b">Design</div>
      <div class="archit-logo mt-3 archit-logo-h d-flex align-items-center">
        <img src="assets/img/figma-logo.svg" alt="figma">
      </div>
    </div>
  </div>

  <div class="d-flex flex-row mt-5">
    <div class="flex-shrink-0 archit-tl archit-tl-s">
      <div class="archit-b">Integrations</div>
    </div>
    <div class="flex-grow-1">
      <div class="d-flex align-items-center archit-b archit-s">Payment</div>
      <div class="archit-logo mt-2 d-flex align-items-center">
        <img src="assets/img/stripe-logo.svg" alt="stripe">
        <img class="ms-4" src="assets/img/paypal-logo.svg" alt="paypal">
      </div>
    </div>
    <div class="flex-grow-1">
      <div class="d-flex align-items-center archit-b archit-s">Communication</div>
      <div class="archit-logo mt-2 d-flex align-items-center">
        <img src="assets/img/twilio-logo.svg" alt="twilio">
        <img class="ms-4" src="assets/img/sendgrid-logo.svg" alt="sendgrid">
      </div>
    </div>
  </div>
</section>

<section class="fresh">
  <h2 class="text-center headline-2 pt-4 pb-3">Fresh content</h2>
  <div class="fresh-bg">
    <div class="container d-flex flex-column h-100 justify-content-end fresh-info pb-7">
      <h2>Monthly updates</h2>
      <span class="main-text">As technologies evolve and we continue to develop on Valor
        <br />Admin your subscription will allow you to continue to get updates. 
        <br />Saving you time every month and keeping you up to date with
        <br />latest trends.
      </span>
    </div>
  </div>
</section>

<section class="news container">
  <h3 class="pt-4 pb-3">Latest news</h3>
  <div class="row">
    <div class="col-5 news-l d-flex flex-column justify-content-end ps-6 pb-4">
      <span class="d-block text-left">25 Out</span>
      <span class="news-mt">Lorem ipsum dolor sit
        <br />amet. Est placeat
        <br />corporis et temporibus
      </span>
    </div>
    <div class="col-7 ps-4 d-flex flex-column justify-content-between">
      <div class="news-r-t w-100 d-flex">
        <div class="news-r-t-1"></div>
        <div class="ps-4 d-flex flex-column justify-content-center">
          <span class="d-block text-left">25 Out</span>
          <span class="news-mt py-3">Lorem ipsum
            <br />dolor sit amet.
          </span>
          <span class="d-block main-text">
            Lorem ipsum dolor sit amet. Est placeat
            <br />corporis et temporibus
          </span>
        </div>
      </div>
      <div class="news-r-t w-100 d-flex">
        <div class="news-r-t-2"></div>
        <div class="ps-4 d-flex flex-column justify-content-center">
          <span class="d-block text-left">25 Out</span>
          <span class="news-mt py-3">Est placeat corporis
            <br />et temporibus
          </span>
          <span class="d-block main-text">
            Lorem ipsum dolor sit amet. Est placeat
            <br />corporis et temporibus
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container py-6">
  <div class="full-btn py-6 d-flex justify-content-around align-items-center">
    <h3 class="headline-3">Accelerate your work</h3>
    <button class="hyaline-btn">
      <span>Start now</span>
      <i class="align-middle fas fa-fw fa-long-arrow-alt-right"></i>
    </button>
  </div>
</section>

<section class="custom">
  <div class="position-relative h-100">
    <div class="position-absolute w-100 custom-title">
      <div class="container">
        <h2 class="headline-2">Easily
          <br />customizable
        </h2>
        <span class="custom-sub pt-4">With 4, sass variable enabled, themes to get you started </span>
        <div class="d-flex mt-5">
          <div class="custom-img-1 custom-img-item mt-4"></div>
          <div class="custom-img-2 custom-img-item mt-4 ms-4"></div>
        </div>
        <div class="d-flex">
          <div class="custom-img-3 custom-img-item mt-4"></div>
          <div class="custom-img-4 custom-img-item mt-4 ms-4"></div>
        </div>
      </div>
    </div>
    <div class="custom-l-bg"></div>
    <div class="custom-r-bg"></div>
  </div>
</section>


<section class="plans">
  <h2 class="text-center headline-2 pt-4 pb-3">Plans for everyone</h2>
  <span class="d-block text-center main-text">
    Lorem ipsum dolor sit amet. Est placeat
    <br />corporis et temporibus
  </span>
  <div class="container plans-card d-flex justify-content-center mt-5">
    <div class="plans-card-item d-flex flex-column justify-content-center align-items-center">
      <div class="plans-card-item__t d-flex flex-column justify-content-center align-items-center">Free</div>
      <div class="plans-card-item__b flex-grow-1 d-flex flex-column justify-content-around align-items-center">
        <div class="d-flex flex-column justify-content-around align-items-center">
          <div class="plans-card-item__desc d-flex flex-column justify-content-around align-items-center">
            <span class="fw-bold">Start Plan</span>
            <span>For personal use</span>
          </div>
        </div>
        <button class="gradual-btn">
          <span class="purple-blue-ft">Buy This</span>
        </button>
        <span class="learn-more">Learn more</span>
      </div>
    </div>
    <div class="plans-card-item d-flex flex-column justify-content-center align-items-center">
      <div class="plans-card-item__t d-flex flex-column justify-content-center align-items-center">
        <span>$399</span>
        <del class="scribe">$499</del>
      </div>
      <div class="plans-card-item__b flex-grow-1 d-flex flex-column justify-content-around align-items-center">
        <div class="d-flex flex-column justify-content-around align-items-center">
          <div class="plans-card-item__desc d-flex flex-column justify-content-around align-items-center">
            <span class="fw-bolder">Standard / Early Bird</span>
            <span>After launch</span>
          </div>
        </div>
        <button class="gradual-btn">
          <span class="purple-blue-ft">Buy This</span>
        </button>
        <span class="learn-more">Learn more</span>
      </div>
    </div>
    <div class="plans-card-item d-flex flex-column justify-content-center align-items-center">
      <div class="plans-card-item__t d-flex flex-column justify-content-center align-items-center">
        <span>$699</span>
        <del class="scribe">$799</del>
      </div>
      <div class="plans-card-item__b flex-grow-1 d-flex flex-column justify-content-around align-items-center">
        <div class="d-flex flex-column justify-content-around align-items-center">
          <div class="plans-card-item__desc d-flex flex-column justify-content-around align-items-center">
            <span class="fw-bolder">Standard+</span>
            <span class="text-center">Includes 6 months
              <br />updates
            </span>
          </div>
        </div>
        <button class="gradual-btn">
          <span class="purple-blue-ft">Buy This</span>
        </button>
        <span class="learn-more">Learn more</span>
      </div>
    </div>
  </div>
  <div class="container plans-card d-flex justify-content-center mt-4">
    <div class="plans-card-item d-flex flex-column justify-content-center align-items-center">
      <div class="plans-card-item__t d-flex flex-column justify-content-center align-items-center">
        <span>$999</span>
        <del class="scribe">$1099</del>
      </div>
      <div class="plans-card-item__b flex-grow-1 d-flex flex-column justify-content-around align-items-center">
        <div class="d-flex flex-column justify-content-around align-items-center">
          <div class="plans-card-item__desc d-flex flex-column justify-content-around align-items-center">
            <span class="fw-bolder">Support</span>
            <span class="text-center">Includes above
              <br />and support slac...
            </span>
          </div>
        </div>
        <button class="gradual-btn">
          <span class="purple-blue-ft">Buy This</span>
        </button>
        <span class="learn-more">Learn more</span>
      </div>
    </div>
    <div class="plans-card-item d-flex flex-column justify-content-center align-items-center">
      <div class="plans-card-item__t d-flex flex-column justify-content-center align-items-center">
        <span>$1399</span>
        <del class="scribe">$1499</del>
      </div>
      <div class="plans-card-item__b flex-grow-1 d-flex flex-column justify-content-around align-items-center">
        <div class="d-flex flex-column justify-content-around align-items-center">
          <div class="plans-card-item__desc d-flex flex-column justify-content-around align-items-center">
            <span class="fw-bolder">Cloud+</span>
            <span class="text-center">Includes above
              <br />and GitHub...
            </span>
          </div>
        </div>
        <button class="gradual-btn">
          <span class="purple-blue-ft">Buy This</span>
        </button>
        <span class="learn-more">Learn more</span>
      </div>
    </div>
    <div class="plans-card-item d-flex flex-column justify-content-center align-items-center">
      <div class="plans-card-item__t d-flex flex-column justify-content-center align-items-center">
        <span class="plans-card-item__multi text-center">Multi Site License</span>
      </div>
      <div class="plans-card-item__b flex-grow-1 d-flex flex-column justify-content-around align-items-center">
        <div class="d-flex flex-column justify-content-around align-items-center">
          <div class="plans-card-item__desc d-flex flex-column justify-content-around align-items-center">
            <span class="fw-bolder">-</span>
          </div>
        </div>
        <button class="plans-btn">
          <span>Contact Us</span>
        </button>
        <span class="learn-more">Learn more</span>
      </div>
    </div>
  </div>

  <div class="container d-flex justify-content-between align-items-center mt-4 update">
    <div>
      <h3>Monthly Updates
        <br />Subscription 
      </h3>
      <span class="main-text">Get the best new features and bug fixes with an updates 
        <br />subscription! You can add an updates package for your 
        <br />purchase. This enables you to get updates as they come 
        <br />out (for the level you purchased). </span>
    </div>
    <button class="gradual-btn">
      <span class="purple-blue-ft">Buy This</span>
    </button>
  </div>
</section>

<section class="introduce thought">
  <div class="introduce-wrap container position-relative">
    <div class="position-absolute start-0 title-text">
      <h2 class="headline-2">Thought Leadership</h2>
      <span class="main-text">We are a team of 110+ talented and passionate individuals. We 
        <br />champion new technologies while making sure to always focus on 
        <br />delivering real, world impacting value.
      </span>
    </div>
    <div class="position-absolute top-50 end-0 translate-middle-y card">
      <div class="card-img flex-shrink-0"></div>
      <div class="d-flex h-100 flex-column p-6 ps-6 pe-5 justify-content-evenly">
        <div>
          <h3 class="headline-3">Dmitriy Shekhovtsov</h3>
          <span class="main-text">CEO</span>
        </div>
        <div class="d-flex">
          <span class="main-text pe-2">With a deep passion for technology and inspiring personal growth, our founder and CEO Dmitriy (Dima) started Valor Software to fix what is broken with consulting and staff augmentation.  Passion and humanity were lost in the industry, people were reduced to nothing more than "resources". Through Valor and the culture Dima created we are striving to bring humanity and passion back to the consulting and staff augmentation industry. </span>
          <i class="align-middle fas fa-fw fa-long-arrow-alt-right"></i>
        </div>
        <div>
          <a href="#">
            <img [src]="'assets/img/twitter-' + theme + '.svg'" alt="twitter">
          </a>
          <a href="#">
            <img [src]="'assets/img/facebook-' + theme + '.svg'" alt="facebook">
          </a>
          <a href="#">
            <img [src]="'assets/img/instagram-' + theme + '.svg'" alt="instagram">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faq mt-6">
  <div class="faq-wrap mx-auto d-flex flex-column h-100 align-items-center">
    <h2 class="headline-2 text-center">Frequently asked 
      <br />questions
    </h2>
    <div class="d-flex w-100 justify-content-evenly mt-5">
      <button class="plans-btn">
        <span>Development</span>
      </button>
      <button class="gradual-btn">
        <span class="purple-blue-ft">Design</span>
      </button>
      <button class="gradual-btn">
        <span class="purple-blue-ft">Integrations</span>
      </button>
    </div>
    <div class="w-100 mt-7">
      <div class="faq-li faq-expand">
        <div class="faq-expand__title">
          Why are androids dreaming of sheep?
        </div>
        <div class="main-text my-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat m dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inc.
        </div>
        <div class="faq-expand__more mb-3">
          <span class="purple-blue-ft">Read more </span>
          <i class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"></i>
        </div>
      </div>
      <div class="faq-li faq-compact">Lorem ipsum dolor sit amet?</div>
      <div class="faq-li faq-compact">Cras faucibus id feugiat sagittis urna?</div>
      <div class="faq-li faq-compact">Nascetur pretium a mauris arcu augue?</div>
      <div class="faq-li faq-compact">Vivamus pellentesque odio nisl vel neque?</div>
      <div class="faq-li faq-compact">Massa elementum volutpat elementum?</div>
    </div>
  </div>
</section>

<section class="container py-6">
  <div class="full-btn py-6 d-flex justify-content-around align-items-center">
    <h3 class="headline-3">Accelerate your work</h3>
    <button class="hyaline-btn">
      <span>Start now</span>
      <i class="align-middle fas fa-fw fa-long-arrow-alt-right"></i>
    </button>
  </div>
</section>


<section class="introduce think mb-7">
  <div class="introduce-wrap container position-relative">
    <div class="position-absolute top-50 end-0 translate-middle-y card">
      <div class="card-l-text flex-shrink-0">
        <h2 class="headline-2">What people
          <br />think about
          <br />Valor Admin
        </h2> 
      </div>
      <div class="d-flex h-100 flex-grow-1 flex-column p-6 ps-6 pe-5 justify-content-evenly">
        <div class="d-flex justify-content-center align-items-center position-relative">
          <div class="card-avatar">
          </div>
          <i class="align-middle fas fa-fw fa-long-arrow-alt-right position-absolute end-0"></i>
        </div>
        <div class="d-flex justify-content-center">
          <span class="think-answer">”Now that we have valor 
            <br />admin, my team can reach 
            <br />the highest perfomance ”
          </span>
        </div>
        <div class="d-flex flex-column align-items-center">
          <span class="think-name">Harry Smith</span>
          <span class="think-profile">Senior FullStack Developer</span>
        </div>
      </div>
    </div>
  </div>
</section>