.form-mode {
  padding-right: 2.5em;
  padding-left: 3.875rem;
  padding-bottom: 1.375rem;
  .form-check-input {
    float: right;
    margin-right: -2.5em;
    margin-left: 0;
  }
}

.navbar-text {
  padding-bottom: 0.875rem;
}

.nav-subscribe{
  justify-content: space-between;
  align-items: self-end;
}

.navbar-align {
  justify-content: space-evenly;
  flex: 1;
}

.input-group-navbar{
  width: 453px;
  align-self: center;
  .form-control {
    height: calc(3.5rem - 2px);
    border-radius: 100px;
    padding-left: 1.5rem;
  }
  .btn {
    font-weight: 700;
    height: calc(3.5rem - 2px);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-right: 1.5rem;
    transition: none;
  }
}

.creators{
  line-height: 24px;
  font-size: 12px;
}

.conduct-wrap {
  position: relative;
}

.conduct-text-wrap{
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  .lg-text{
    font-size: 80px;
    font-weight: 700;
  }
}


.list-page {
  position: relative;
  &-bg{
    background-image: url('../../../assets/img/list-page.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    z-index: -1;
    height: 500px;
    border-radius: 15px;
  }
  &-info {
    h1 {
      font-size: 66px;
      font-weight: 700;
    }
  }

  &-btn {
    border: 0.5px solid #5869FF;
    border-radius: 100px;
    background-color: transparent;
    height: 54px;
    width: 283px;
    color: #fff;
    span {
      background: linear-gradient(96.48deg, #BD54E2 3.59%, #2982E3 83.71%);
      background-clip: text;
      color: transparent;
      font-size: 1rem;
    }
    i {
      background: linear-gradient(130.31deg, #2982E3 19.71%, #6EE1F8 102.74%);
      background-clip: text;
      color: transparent;
    }
  }
}


.introduce {
  background-image: url('../../../assets/img/spot-dark.svg');
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  &-wrap{
    height: 864px;
  }
  .card {
    background-color: #1C2128;
    height: 623px;
    width: 883px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    &-info{
      line-height: 75px;
      font-size: 25px;
    }
  }

  .card-text{
    font-size: 60px;
    padding-left: 120px;
    left: 50px;
    z-index: 1;
  }
}

.save-time{
  background-image: url('../../../assets/img/save-time-dark.svg');
  background-repeat: no-repeat;
  width: 285px;
  height: 356px;
  background-position: bottom;
}

.deliver-faster{
  background-image: url('../../../assets/img/deliver-dark.svg');
  background-repeat: no-repeat;
  width: 285px;
  height: 356px;
  background-position: bottom;
  margin-left: 120px;
  margin-right: 60px;
}

.benefits {

  &-img {
    background: url('../../../assets/img/benefits-dark.svg');
    background-repeat: no-repeat;
    height: 576px;
    background-position: top;
    width: 483px;
  }
  h2 {
    font-size: 60px;
  }
}


.no-repeat{
  height: 847px;
  background: url('../../../assets/img/spot-dark.svg'),
  url('../../../assets/img/no-repeat.jpeg'),
  linear-gradient(180deg, rgba(0, 0, 0, .3) 48%, rgba(28, 33, 40, 0.9375) 100%);
  background-repeat: repeat, no-repeat, no-repeat;
  background-size: contain, cover;
  background-blend-mode: overlay;
  h2 {
    font-size: 60px;
    letter-spacing: 4px;
  }
  span {
    font-size: 28px;
    font-weight: 600;
  }
}