<section class="masthead mt-5 position-relative">
  <div class="container main-max h-100 d-flex flex-column">
    <h1 class="headline-1 pt-6">Our
      <span class="purple-blue-ft">pricing</span>
    </h1>
    <div class="masthead-text pt-4">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat accumsan in tellus non risus iaculis tempus, in vestibulum. Nisl mauris velit tristique a, tellus ut.
      </span>
    </div>
    <div class="d-flex flex-grow-1 justify-content-start align-items-center">
      <button class="get-started-btn">
        <span class="fw-bold">See our plans</span>
        <i class="align-middle fas fa-fw fa-long-arrow-alt-down shallow-gradient"></i>
      </button>
    </div>
  </div>
  <div class="masthead-bg pricing-bg h-100"></div>
</section>

<section class="plans pricing">
  <h2 class="text-center headline-2 pt-4 pb-3">Plans for everyone</h2>
  <span class="d-block text-center main-text">
    Lorem ipsum dolor sit amet. Est placeat
    <br />corporis et temporibus
  </span>
  <div class="container-fluid main-max plans-card d-flex justify-content-center mt-7">
    <div class="plans-card-item d-flex flex-column justify-content-center align-items-center">
      <div class="plans-card-item__t d-flex flex-column justify-content-center align-items-center">
        <span class="headline-2">$0</span>
        <span class="scribe">&nbsp;</span>
      </div>
      <div class="plans-card-item__m d-flex flex-column justify-content-around align-items-center">
        <span class="fw-bold">Free</span>
        <span class="desc text-center">For personal use</span>
      </div>
      <div class="plans-card-item__b flex-grow-1 d-flex flex-column align-items-center">
        <button class="gradual-btn">
          <span class="purple-blue-ft">Buy This</span>
        </button>
        <ul class="ability w-100">
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Vel sapien, porttitor arcu</span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Cursus gravida leo ultrices </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Volutpat eget morbi nunc </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Vel amet, at nulla integer </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Neque, ultricies sit in turpis </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Metus tristique purus eros </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="plans-card-item d-flex flex-column justify-content-center align-items-center">
      <div class="plans-card-item__t d-flex flex-column justify-content-center align-items-center">
        <span class="headline-2">$399</span>
        <del class="scribe">$499</del>
      </div>
      <div class="plans-card-item__m d-flex flex-column justify-content-around align-items-center">
        <span class="fw-bold">Standard</span>
        <span class="desc text-center">After launch</span>
      </div>
      <div class="plans-card-item__b flex-grow-1 d-flex flex-column align-items-center">
        <button class="gradual-btn">
          <span class="purple-blue-ft">Buy This</span>
        </button>
        <ul class="ability w-100">
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Vel sapien, porttitor arcu</span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Cursus gravida leo ultrices </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Volutpat eget morbi nunc </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Vel amet, at nulla integer </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Neque, ultricies sit in turpis </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Metus tristique purus eros </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="plans-card-item d-flex flex-column justify-content-center align-items-center">
      <div class="plans-card-item__t d-flex flex-column justify-content-center align-items-center">
        <span class="headline-2">$699</span>
        <del class="scribe">$799</del>
      </div>
      <div class="plans-card-item__m d-flex flex-column justify-content-around align-items-center">
        <span class="fw-bold">Standard +</span>
        <span class="desc text-center">Includes 6 months updates</span>
      </div>
      <div class="plans-card-item__b flex-grow-1 d-flex flex-column align-items-center">
        <button class="gradual-btn">
          <span class="purple-blue-ft">Buy This</span>
        </button>
        <ul class="ability w-100">
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Vel sapien, porttitor arcu</span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Cursus gravida leo ultrices </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Volutpat eget morbi nunc </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Vel amet, at nulla integer </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Neque, ultricies sit in turpis </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Metus tristique purus eros </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="plans-card-item d-flex flex-column justify-content-center align-items-center">
      <div class="plans-card-item__t d-flex flex-column justify-content-center align-items-center">
        <span class="headline-2">$999</span>
        <del class="scribe">$1099</del>
      </div>
      <div class="plans-card-item__m d-flex flex-column justify-content-around align-items-center">
        <span class="fw-bold">Suport</span>
        <span class="desc text-center">Includes standard and support slac...</span>
      </div>
      <div class="plans-card-item__b flex-grow-1 d-flex flex-column align-items-center">
        <button class="gradual-btn">
          <span class="purple-blue-ft">Buy This</span>
        </button>
        <ul class="ability w-100">
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Vel sapien, porttitor arcu</span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Cursus gravida leo ultrices </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Volutpat eget morbi nunc </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Vel amet, at nulla integer </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Neque, ultricies sit in turpis </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Metus tristique purus eros </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="plans-card-item d-flex flex-column justify-content-center align-items-center">
      <div class="plans-card-item__t d-flex flex-column justify-content-center align-items-center">
        <span class="headline-2">$1399</span>
        <del class="scribe">$1499</del>
      </div>
      <div class="plans-card-item__m d-flex flex-column justify-content-around align-items-center">
        <span class="fw-bold">Cloud</span>
        <span class="text-center">Includes above and GitHub...</span>
      </div>
      <div class="plans-card-item__b flex-grow-1 d-flex flex-column align-items-center">
        <button class="gradual-btn">
          <span class="purple-blue-ft">Buy This</span>
        </button>
        <ul class="ability w-100">
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Vel sapien, porttitor arcu</span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Cursus gravida leo ultrices </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Volutpat eget morbi nunc </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Vel amet, at nulla integer </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Neque, ultricies sit in turpis </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Metus tristique purus eros </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="plans-card-item d-flex flex-column justify-content-center align-items-center">
      <div class="plans-card-item__t d-flex flex-column justify-content-center align-items-center">
        <span class="headline-2">$1499</span>
        <del class="scribe">$1699</del>
      </div>
      <div class="plans-card-item__m d-flex flex-column justify-content-around align-items-center">
        <span class="fw-bold">Custom</span>
        <span class="text-center">Add updates for your purchase</span>
      </div>
      <div class="plans-card-item__b flex-grow-1 d-flex flex-column align-items-center">
        <button class="gradual-btn">
          <span class="purple-blue-ft">Buy This</span>
        </button>
        <ul class="ability w-100">
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Vel sapien, porttitor arcu</span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Cursus gravida leo ultrices </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Volutpat eget morbi nunc </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Vel amet, at nulla integer </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Neque, ultricies sit in turpis </span>
          </li>
          <li class="d-flex justify-content-start align-items-center">
            <span class="ability-icon times"></span>
            <span>Metus tristique purus eros </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="container d-flex flex-column align-items-center justify-content-center detailed">
  <h3 class="my-6">
    See detailed plan comparison
    <i class="align-middle fas fa-fw fa-long-arrow-alt-down shallow-gradient"></i>
  </h3>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Pages</th>
        <th scope="col">Free</th>
        <th scope="col">Standard</th>
        <th scope="col">Standard+</th>
        <th scope="col">Suport</th>
        <th scope="col">Cloud</th>
        <th scope="col">Custom</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Email credits</td>
        <td>50/month</td>
        <td>50/month</td>
        <td>200/month</td>
        <td>Ulimited</td>
        <td>Ulimited</td>
        <td>Ulimited</td>
      </tr>
      <tr>
        <td>Direct Dials</td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>200/month</td>
        <td>Ulimited</td>
        <td>Ulimited</td>
        <td>Ulimited</td>
      </tr>
      <tr>
        <td>Support</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>+6 months</td>
        <td>Custom</td>
        <td>3 months</td>
        <td>Ulimited</td>
      </tr>
      <tr>
        <td>Record Selection Limits</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>2500</td>
        <td>5000</td>
      </tr>
      <tr>
        <td>Linkedin Extension</td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>CSV Export</td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Basic Filters</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Advanced Filters</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Scoring Engine</td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Enrichment</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Job Change Alert</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
    </tbody>
  </table>

  <div class="table-more">   
    <span class="purple-blue-ft">View 85 more pages</span>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Integrations</th>
        <th scope="col">Free</th>
        <th scope="col">Standard</th>
        <th scope="col">Standard+</th>
        <th scope="col">Suport</th>
        <th scope="col">Cloud</th>
        <th scope="col">Custom</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>JWT/td>
        <td>50/month</td>
        <td>50/month</td>
        <td>200/month</td>
        <td>Ulimited</td>
        <td>Ulimited</td>
        <td>Ulimited</td>
      </tr>
      <tr>
        <td>Nest / Node</td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>200/month</td>
        <td>Ulimited</td>
        <td>Ulimited</td>
        <td>Ulimited</td>
      </tr>
      <tr>
        <td>Prisma</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>+6 months</td>
        <td>Custom</td>
        <td>3 months</td>
        <td>Ulimited</td>
      </tr>
      <tr>
        <td>Redis</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>2500</td>
        <td>5000</td>
      </tr>
      <tr>
        <td>My SQL</td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>ngx-Bootstrap</td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Angular</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Workspaces / Docker</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Google Cloud</td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Github / Terraform</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Figma</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Stripe</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Twilio / SendGrid</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
    </tbody>
  </table>

  <div class="table-more">   
    <span class="purple-blue-ft">View 85 more pages</span>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Developer Experience</th>
        <th scope="col">Free</th>
        <th scope="col">Standard</th>
        <th scope="col">Standard+</th>
        <th scope="col">Suport</th>
        <th scope="col">Cloud</th>
        <th scope="col">Custom</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>JWT/td>
        <td>50/month</td>
        <td>50/month</td>
        <td>200/month</td>
        <td>Ulimited</td>
        <td>Ulimited</td>
        <td>Ulimited</td>
      </tr>
      <tr>
        <td>Nest / Node</td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>200/month</td>
        <td>Ulimited</td>
        <td>Ulimited</td>
        <td>Ulimited</td>
      </tr>
      <tr>
        <td>Prisma</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>+6 months</td>
        <td>Custom</td>
        <td>3 months</td>
        <td>Ulimited</td>
      </tr>
      <tr>
        <td>Redis</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>25</td>
        <td>2500</td>
        <td>5000</td>
      </tr>
      <tr>
        <td>My SQL</td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>ngx-Bootstrap</td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Angular</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Workspaces / Docker</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Google Cloud</td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Github / Terraform</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Figma</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Stripe</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
      <tr>
        <td>Twilio / SendGrid</td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/times-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
        <td>
          <img [src]="'assets/check-' + theme + '.svg'">
        </td>
      </tr>
    </tbody>
  </table>

  <div class="table-more">   
    <span class="purple-blue-ft">View 85 more pages</span>
  </div>

</section>