<div class="page">
  <div class="group">
    <img
      class="icon-left"
      src="assets/img/detail/left-arrow.png"
    /><img
    class="logo"
    src="assets/img/detail/logo.png"
  />
  </div>
  <div class="product-wrapper"><span class="product purple-blue-ft">Product</span></div>
  <div class="group-1">
    <img
      class="icon-park"
      src="assets/img/detail/ng-bootstrap.png"
    />
    <div>
      <span class="ngx-bootstrap">ngx bootstrap</span>
      <div class="group-i0"><span class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
    </div>
  </div>
  <div class="group-1">
    <img
      class="icon-text"
      src="assets/img/detail/va.png"
    />
    <div>
      <span class="ngx-bootstrap">Valor Admin</span>
      <div class="group-i0"><span class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
    </div>
  </div>
  <div class="group-1">
    <img
      class="icon-assist"
      src="assets/img/detail/headphone.png"
    />
    <div>
      <span class="ngx-bootstrap">Community support</span>
      <div class="group-i0"><span class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
    </div>
  </div>
  <div class="group-1">
    <img
      class="icon-setting"
      src="assets/img/detail/oss.png"
    />
    <div>
      <span class="ngx-bootstrap">Other OSS</span>
      <div class="group-i0"><span class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
    </div>
  </div>

  <div class="product-wrapper"><span class="product purple-blue-ft">Services</span></div>
  <div class="group-1">
    <img
      class="icon-back"
      src="assets/img/detail/development.png"
    />
    <div>
      <span class="ngx-bootstrap">Development</span>
      <div class="group-i0"><span class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
    </div>
  </div>
  <div class="group-1">
    <img
      class="icon"
      src="assets/img/detail/design.png"
    />
    <div>
      <span class="ngx-bootstrap">Design</span>
      <div class="group-i0"><span class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
    </div>
  </div>
  <div class="group-1">
    <img
      class="icon-setting-1"
      src="assets/img/detail/devops.png"
    />
    <div>
      <span class="ngx-bootstrap">Devops</span>
      <div class="group-i0"><span class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
    </div>
  </div>
  <div class="group-1">
    <img
      class="icon-edit"
      src="assets/img/detail/technical-writing.png"
    />
    <div>
      <span class="ngx-bootstrap">Technical Writing</span>
      <div class="group-i0"><span class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
    </div>
  </div>
  <div class="group-1">
    <img
      class="icon-user"
      src="assets/img/detail/project-management.png"
    />
    <div>
      <span class="ngx-bootstrap">Project Management</span>
      <div class="group-i0"><span class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
    </div>
  </div>
  <div class="group-1">
    <img
      class="icon-chat"
      src="assets/img/detail/solutions.png"
    />
    <div>
      <span class="ngx-bootstrap">Solutions</span>
      <div class="group-i0"><span class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
    </div>
  </div>


  <div class="group-11">
    <div class="view">
      <div class="empty"></div>
    </div>
  </div>
  <div class="group-i0-1">
    <span class="large-enterprise">Large Enterprise</span><span class="info">Lorem ipsum dolor sit amet</span>
  </div>
  <div class="group-i1-1">
    <span class="startups">Startups</span><span class="info-1">Lorem ipsum dolor sit amet</span>
  </div>
  <div class="group-i2-1">
    <span class="info-2">Small / Medium Businesses</span><span class="info-3">Lorem ipsum dolor sit amet</span>
  </div>
  <div class="group-12"><span class="info-4">Non Profits & Government Organizations</span></div>
  <div class="group-13"><span class="info-5">Lorem ipsum dolor sit amet</span></div>


  <div class="product-wrapper"><span class="product purple-blue-ft">Company</span></div>
  <div class="group-1">
    <img
      class="icon-user-group"
      src="assets/img/detail/team-careers.png"
    />
    <div>
      <span class="ngx-bootstrap">Team & Careers</span>
      <div class="group-i0"><span class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
    </div>
  </div>

  <div class="group-1">
    <img
      class="icon-house"
      src="assets/img/detail/leadership.png"
    />
    <div>
      <span class="ngx-bootstrap">Leadership</span>
      <div class="group-i0"><span class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
    </div>
  </div>

  <div class="group-1">
    <img
      class="icon-house-1"
      src="assets/img/detail/company-overview.png"
    />
    <div>
      <span class="ngx-bootstrap">Company Overview</span>
      <div class="group-i0"><span class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
    </div>
  </div>

  <div class="group-1">
    <img
      class="icon-star"
      src="assets/img/detail/valor-way.png"
    />
    <div>
      <span class="ngx-bootstrap">The Valor Way</span>
      <div class="group-i0"><span class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
    </div>
  </div>
</div>
