.page {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0d0d0d;
}

.group {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 40px;
  width: 207px;
  height: 17px;
}

.icon-left {
  width: 24px;
  height: 15px;
}

.logo {
  width: 120px;
  height: 16px;
}

.product-wrapper {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 99px;
  margin-left: 36px;
  white-space: nowrap;
}

.product {
  text-align: left;
  font-size: 20px;
}

.group-1 {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: 36px;
  margin-left: 60px;
}

.icon-park {
  margin-right: 24px;
  width: 24px;
  height: 26px;
}

.ngx-bootstrap {
  line-height: 20px;
  white-space: pre;
  color: #ffffff;
  font-size: 20px;
}

.group-i0 {
  display: flex;
  position: relative;
  align-items: flex-start;
  align-self: flex-end;
  flex-direction: row;
  margin-top: 6px;
  font-weight: 300;
  line-height: 25px;
}

.title {
  width: 90%;
  text-align: left;
  color: #ffffff;
  font-size: 16px;
}


.icon-text {
  margin-right: 24px;
  width: 24px;
  height: 15px;
}

.valor-admin {
  text-align: center;
  line-height: 24px;
  white-space: pre;
  color: #ffffff;
  font-size: 20px;
}


.icon-assist {
  margin-top: -2px;
  margin-right: 26px;
  width: 22px;
  height: 22px;
}

.icon-setting {
  margin-top: -4px;
  margin-right: 28px;
  width: 20px;
  height: 20px;
}


.icon-back {
  margin-top: -1px;
  margin-right: 24px;
  width: 24px;
  height: 13px;
}


.icon-setting-1 {
  margin-top: -2px;
  margin-right: 30px;
  width: 18px;
  height: 18px;
}




.icon-edit {
  margin-right: 27px;
  width: 21px;
  height: 22px;
}

.icon-user {
  margin-top: -1px;
  margin-right: 27px;
  width: 21px;
  height: 21px;
}

.icon-chat {
  margin-right: 30px;
  width: 18px;
  height: 24px;
}


.group-11 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 34px;
  margin-left: 60px;
}

.view {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-left: 299px;
  width: 0;
}

.empty {
  margin-left: -299px;
  width: 299px;
  height: 1px;
  background: #fff;
}

.group-i0-1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 23px;
  margin-left: 60px;
  white-space: pre;
}

.large-enterprise {
  position: relative;
  margin-left: 1px;
  max-width: 174px;
  height: 47px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  line-height: 47px;
  color: #ffffff;
  font-size: 20px;
}

.info {
  position: relative;
  max-width: 174px;
  height: 15px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 15px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
}

.group-i1-1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 24px;
  margin-left: 60px;
}

.startups {
  position: relative;
  max-width: 169px;
  height: 47px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  line-height: 47px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 20px;
}

.info-1 {
  position: relative;
  text-align: left;
  line-height: 15px;
  white-space: pre;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
}

.group-i2-1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 24px;
  margin-left: 60px;
  white-space: pre;
}

.info-2 {
  position: relative;
  text-align: center;
  line-height: 47px;
  color: #ffffff;
  font-size: 20px;
}

.info-3 {
  position: relative;
  max-width: 284px;
  height: 15px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 15px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
}

.group-12 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 24px;
  margin-left: 60px;
  line-height: 64px;
}

.info-4 {
  -webkit-box-orient: vertical;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  width: 284px;
  height: 64px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: normal;
  color: #ffffff;
  font-size: 20px;
}

.group-13 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 6px;
  margin-left: 60px;
  font-weight: 300;
  line-height: 15px;
  white-space: pre;
}

.info-5 {
  text-align: left;
  color: #ffffff;
  font-size: 12px;
}


.icon-user-group {
  margin-top: -2px;
  margin-right: 24px;
  width: 24px;
  height: 20px;
}


.icon-house {
  margin-top: -1px;
  margin-right: 24px;
  width: 24px;
  height: 23px;
}



.icon-house-1 {
  margin-top: -1px;
  margin-right: 26px;
  width: 22px;
  height: 23px;
}


.icon-star {
  margin-top: -2px;
  margin-right: 26px;
  width: 22px;
  height: 20px;
}

.icon {
  margin-right: 24px;
  width: 24px;
  height: 24px;
}
