<valor-launchpad-avatar
  (click)="navProfile(activity.operator.username)"
  [src]="activity.operator.profile.avatar | valorImage"
  [alt]="activity.operator.profile.avatar?.alt"
  [firstName]="activity.operator.firstName"
  [lastName]="activity.operator.lastName"
  width="36"
  height="36"
  classes="me-2 cursor-pointer"
></valor-launchpad-avatar>
<div class="flex-grow-1" [ngSwitch]="activity.action">
  <ng-template ngSwitchCase="FOLLOWED">
    <small class="float-end">{{ activity.createdDate | timeAgo }}</small>
    <ng-container [ngTemplateOutlet]="operateUser"></ng-container>
    started following
    <ng-container [ngTemplateOutlet]="targetUser"></ng-container>
    <br />
    <small class="text-muted">{{
      activity.createdDate | date: 'MMM d h:mm a'
    }}</small
    ><br />
  </ng-template>
  <ng-template ngSwitchCase="UNFOLLOWED">
    <small class="float-end">{{ activity.createdDate | timeAgo }}</small>
    <ng-container [ngTemplateOutlet]="operateUser"></ng-container>
    stopped following
    <ng-container [ngTemplateOutlet]="targetUser"></ng-container>
    <br />
    <small class="text-muted">{{
      activity.createdDate | date: 'MMM d h:mm a'
    }}</small
    ><br />
  </ng-template>
  <ng-template ngSwitchCase="LIKED_STORY">
    <small class="float-end">{{ activity.createdDate | timeAgo }}</small>
    <ng-container [ngTemplateOutlet]="operateUser"></ng-container>
    liked
    <ng-container [ngTemplateOutlet]="targetUser"></ng-container>
    's
    <span [attr.data-story]="activity.storyId">post</span><br />
    <small class="text-muted">{{
      activity.createdDate | date: 'MMM d h:mm a'
    }}</small
    ><br />
  </ng-template>
  <ng-template ngSwitchCase="UNLIKED_STORY">
    <small class="float-end">{{ activity.createdDate | timeAgo }}</small>
    <ng-container [ngTemplateOutlet]="operateUser"></ng-container>
    stopped liking
    <ng-container [ngTemplateOutlet]="targetUser"></ng-container>
    's
    <span [attr.data-story]="activity.storyId">post</span><br />
    <small class="text-muted">{{
      activity.createdDate | date: 'MMM d h:mm a'
    }}</small
    ><br />
  </ng-template>
  <ng-template ngSwitchCase="POST_STORY">
    <ng-container [ngTemplateOutlet]="operateUser"></ng-container>
    posted a new blog<br />
    <div
      class="border text-sm text-muted p-2 mt-1"
      *ngIf="activity.story.content"
    >
      {{ activity.story.content }}
    </div>
    <div
      class="row g-0 mt-1"
      *ngIf="activity.story.mediaAsset && activity.story.mediaAsset.length > 0"
    >
      <div
        class="col-6 col-md-4 col-lg-4 col-xl-3"
        *ngFor="let photo of activity.story.mediaAsset"
      >
        <img [src]="photo.src" class="img-fluid pe-2" [alt]="photo.alt" />
      </div>
    </div>
    <small class="text-muted">{{
      activity.createdDate | date: 'MMM d h:mm a'
    }}</small
    ><br />
  </ng-template>
</div>

<ng-template #targetUser>
  <strong
    class="cursor-pointer"
    (click)="navProfile(activity.targetUser.username)"
    >{{ activity.targetUserFullName }}</strong
  >
</ng-template>

<ng-template #operateUser>
  <strong
    class="cursor-pointer"
    (click)="navProfile(activity.operator.username)"
    >{{ activity.operatorFullName }}</strong
  >
</ng-template>
