<h1 class="h3 mb-3">General</h1>


<div class="row">
  <div class="col-12 col-lg-6">
    <accordion [closeOthers]="true">
      <accordion-group>
        <h5 class="card-title my-2" accordion-heading>
          Accordion
        </h5>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </accordion-group>
      <accordion-group>
        <h5 class="card-title my-2" accordion-heading>
          Another one
        </h5>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </accordion-group>
      <accordion-group>
        <h5 class="card-title my-2" accordion-heading>
          Something else
        </h5>
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </accordion-group>
    </accordion>
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Breadcrumbs</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">Indicate the current page’s location within a navigational hierarchy.</h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Home</li>
          </ol>
        </nav>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard-default.html">Home</a></li>
            <li class="breadcrumb-item active">Library</li>
          </ol>
        </nav>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="dashboard-default.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active">Data</li>
          </ol>
        </nav>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Images</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">Lightweight styles for images.</h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <div class="text-center">
          <img class="rounded me-2 mb-2" src="assets/img/avatars/avatar.jpg" alt="Placeholder" width="140" height="140">
          <img class="rounded-circle rounded me-2 mb-2" src="assets/img/avatars/avatar.jpg" alt="Placeholder"
               width="140"
               height="140">
          <img class="img-thumbnail rounded me-2 mb-2" src="assets/img/avatars/avatar.jpg" alt="Placeholder" width="140"
               height="140">
        </div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Popovers</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">Examples for adding Bootstrap popovers.</h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <div class="text-center">
          <button valor-launchpad-button theme="secondary" popoverTitle="Popover on top" placement="top"
                  container="body"
                  popover="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa."
          >
            Popover on top
          </button>
          <button valor-launchpad-button theme="secondary" popoverTitle="Popover on bottom" placement="bottom"
                  container="body"
                  popover="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa."
                  container="body"
          >
            Popover on bottom
          </button>
          <button valor-launchpad-button theme="secondary" popoverTitle="Popover on left" placement="left"
                  container="body"
                  popover="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa."
                  container="body"
          >
            Popover on left
          </button>
          <button valor-launchpad-button theme="secondary" popoverTitle="Popover on right" placement="right"
                  container="body"
                  popover="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa."
                  container="body"
          >
            Popover on right
          </button>
        </div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Tooltips</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">Examples for adding custom Bootstrap tooltips.</h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <div class="text-center">
          <button valor-launchpad-button theme="secondary" tooltip="Tooltip on left" placement="left" container="body">
            Tooltip on left
          </button>
          <button valor-launchpad-button theme="secondary" tooltip="Tooltip on top" placement="top" container="body">
            Tooltip on top
          </button>
          <button valor-launchpad-button theme="secondary" tooltip="Tooltip on bottom" placement="bottom"
                  container="body">Tooltip on bottom
          </button>
          <button valor-launchpad-button theme="secondary" tooltip="Tooltip on right" placement="right"
                  container="body">Tooltip on right
          </button>
        </div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
  <div class="col-12 col-lg-6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Badges</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">Examples for badges.</h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <div class="mb-1">
          <span valor-launchpad-badge>Primary</span>
          <span valor-launchpad-badge theme="secondary">Secondary</span>
          <span valor-launchpad-badge theme="success">Success</span>
          <span valor-launchpad-badge theme="danger">Danger</span>
          <span valor-launchpad-badge theme="warning">Warning</span>
          <span valor-launchpad-badge theme="info">Info</span>
        </div>

        <div class="mt-1">
          <span valor-launchpad-badge [rounded]="true">Primary</span>
          <span valor-launchpad-badge theme="secondary" [rounded]="true">Secondary</span>
          <span valor-launchpad-badge theme="success" [rounded]="true">Success</span>
          <span valor-launchpad-badge theme="danger" [rounded]="true">Danger</span>
          <span valor-launchpad-badge theme="warning" [rounded]="true">Warning</span>
          <span valor-launchpad-badge theme="info" [rounded]="true">Info</span>
        </div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Dropdowns</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">Toggle contextual overlays for displaying lists of links.</h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content class="pb-0">
        <div class="row mb-3">
          <div class="col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4">
            <p class="mb-0">Basic:</p>
            <div class="dropdown-menu mb-2" style="position:static;display:block;">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4">
            <p class="mb-0">Active:</p>
            <div class="dropdown-menu mb-2" style="position:static;display:block;">
              <a class="dropdown-item" href="#">Regular link</a>
              <a class="dropdown-item active" href="#">Active link</a>
              <a class="dropdown-item" href="#">Another link</a>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4">
            <p class="mb-0">Disabled:</p>
            <div class="dropdown-menu mb-2" style="position:static;display:block;">
              <a class="dropdown-item" href="#">Regular link</a>
              <a class="dropdown-item disabled" href="#">Disabled link</a>
              <a class="dropdown-item" href="#">Another link</a>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4">
            <p class="mb-0">Header:</p>
            <div class="dropdown-menu mb-2" style="position:static;display:block;">
              <h6 class="dropdown-header">Dropdown header</h6>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4">
            <p class="mb-0">Dividers:</p>
            <div class="dropdown-menu mb-2" style="position:static;display:block;">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-4">
            <p class="mb-0">Text:</p>
            <div class="dropdown-menu p-4 text-muted" style="max-width: 200px;position:static;display:block;">
              <p class="mb-0">
                Some example text that's free-flowing within the dropdown menu.
              </p>
            </div>
          </div>
        </div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Pagination</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">Examples for showing pagination.</h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <div class="text-center">
          <pagination [boundaryLinks]="true" [totalItems]="5" [itemsPerPage]="1" class="pagination-sm"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

          </pagination>
          <pagination [boundaryLinks]="true" [totalItems]="5" [itemsPerPage]="1" class="pagination-md"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

          </pagination>
          <pagination [boundaryLinks]="true" [totalItems]="5" [itemsPerPage]="1" class="pagination-lg"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

          </pagination>
        </div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Progress Bars</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">Examples for using Bootstrap custom progress bars.</h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <div class="text-center">
          <progressbar [value]="20" class="mb-3">Default</progressbar>
          <progressbar [value]="40" [striped]="true" class="mb-3">Striped</progressbar>
          <progressbar [value]="60" class="mb-3" [striped]="true" [animate]="true">Animated</progressbar>
          <progressbar [value]="multiProgressbarVal"></progressbar>
        </div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Spinners</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">Indicate the loading state of a component with Bootstrap spinners.</h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <div class="mb-2">
          <div class="spinner-border text-dark me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-border text-primary me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-border text-secondary me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-border text-success me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-border text-danger me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-border text-warning me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-border text-info me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <div class="mb-2">
          <div class="spinner-border spinner-border-sm text-dark me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-border spinner-border-sm text-primary me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-border spinner-border-sm text-secondary me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-border spinner-border-sm text-success me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-border spinner-border-sm text-danger me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-border spinner-border-sm text-warning me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-border spinner-border-sm text-info me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <hr/>

        <div class="mb-2">
          <div class="spinner-grow text-dark me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-primary me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-secondary me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-success me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-danger me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-warning me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-info me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

        <div class="mb-2">
          <div class="spinner-grow spinner-grow-sm text-dark me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow spinner-grow-sm text-primary me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow spinner-grow-sm text-secondary me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow spinner-grow-sm text-success me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow spinner-grow-sm text-danger me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow spinner-grow-sm text-warning me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow spinner-grow-sm text-info me-2" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
</div>
