<h1 class="h3 mb-3">Project Details</h1>

<div valorLaunchpadRow>
  <div
    valorLaunchpadCol
    [lg]="6"
    [xl]="3"
    class="d-flex"
    *ngFor="let rollupItem of project?.rollupData | keyvalue"
  >
    <valor-launchpad-card class="flex-fill">
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title class="mb-0 mt-2">
          {{ rollupItem.key }}
        </h5>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content class="my-0 pt-0">
        <div valorLaunchpadRow class="d-flex align-items-center mb-3">
          <div valorLaunchpadCol [span]="8">
            <h3 class="d-flex align-items-center mb-0 fw-light">
              {{ rollupItem.value.current | number }}
            </h3>
          </div>
          <div valorLaunchpadCol [span]="4" class="text-end">
            <span class="text-muted"
              >{{
                (rollupItem.value.current / rollupItem.value.goal) * 100
                  | number: '1.0-0'
              }}%</span
            >
          </div>
        </div>

        <div class="progress progress-sm shadow-sm mb-1">
          <div
            class="progress-bar"
            [ngClass]="rollupItem.value.status"
            role="progressbar"
            [style.width]="
              (rollupItem.value.current / rollupItem.value.goal) * 100 + '%'
            "
          ></div>
        </div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
</div>

<div valorLaunchpadRow *ngIf="project">
  <div valorLaunchpadCol [lg]="6" [xxl]="8">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <div class="card-actions float-end">
          <div class="dropdown" dropdown>
            <a dropdownToggle>
              <i class="align-middle fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item" (click)="onClickAction()">Action</a>
              <a class="dropdown-item" (click)="onClickAnotherAction()"
                >Another action</a
              >
              <a class="dropdown-item" (click)="onClickSomethingElse()"
                >Something else here</a
              >
            </div>
          </div>
        </div>
        <h5 valor-launchpad-card-title class="mb-0">Upgrade CRM software</h5>
        <div
          class="badge my-2"
          [ngClass]="STATUS_MAPPING[project.status].theme"
        >
          {{ STATUS_MAPPING[project.status].label }}
        </div>
      </valor-launchpad-card-header>
      <div class="card-body pt-0">
        <h5>Description</h5>

        <p class="text-muted" [innerHTML]="project?.body"></p>

        <div>
          <h5>Assignee</h5>
          <valor-launchpad-avatar
            *ngFor="let assignee of project?.assignee"
            [src]="assignee.user?.avatar?.src"
            classes="me-1"
            [alt]="assignee.user?.avatar?.alt"
            size="md"
          ></valor-launchpad-avatar>
        </div>
      </div>
    </valor-launchpad-card>

    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <div class="card-actions float-end">
          <div class="dropdown" dropdown>
            <a dropdownToggle>
              <i class="align-middle fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item" (click)="onClickAction()">Action</a>
              <a class="dropdown-item" (click)="onClickAnotherAction()"
                >Another action</a
              >
              <a class="dropdown-item" (click)="onClickSomethingElse()"
                >Something else here</a
              >
            </div>
          </div>
        </div>
        <!--          TODO: Do comments include child comments?-->
        <!--          TODO: pluralize the comments string-->
        <!--        TODO: Have something for no comments-->
        <h5 valor-launchpad-card-title class="mb-0">
          Comments ({{ comments?.length ?? 0 }})
        </h5>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <valor-launchpad-comment-list
          #commentList
          [comments]="comments"
          (reply)="bodyInput.focus()"
          (like)="onLikeComment($event.id)"
          (unlike)="onUnlikeComment($event.id)"
          (delete)="onDeleteComment($event.id)"
        ></valor-launchpad-comment-list>
        <div class="mt-4">
          <valor-launchpad-form-label>
            <span>Reply </span>
            <span
              valor-launchpad-badge
              theme="secondary"
              *ngIf="commentList.replyingComment"
              style="position: relative"
            >
              to {{ commentList.replyingComment.author | fullName }}
              <i
                class="fas fa-times-circle cursor-pointer"
                (click)="commentList.resetReply()"
              ></i>
            </span>
          </valor-launchpad-form-label>
          <textarea
            valorLaunchpadInput
            ngModel
            #bodyInput
            #bodyControl="ngModel"
          ></textarea>
          <div class="d-flex justify-content-end mt-2">
            <button
              valor-launchpad-button
              (click)="onCreateComment(bodyControl, commentList)"
              [loading]="creatingComment"
            >
              <i class="far fa-fw fa-paper-plane"></i>
              Send
            </button>
          </div>
        </div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
  <div valorLaunchpadCol [lg]="6" [xxl]="4">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <div class="card-actions float-end">
          <div class="dropdown" dropdown container="body">
            <a dropdownToggle>
              <i class="align-middle fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <a class="dropdown-item" (click)="onClickAction()">Action</a>
              <a class="dropdown-item" (click)="onClickAnotherAction()"
                >Another action</a
              >
              <a class="dropdown-item" (click)="onClickSomethingElse()"
                >Something else here</a
              >
            </div>
          </div>
        </div>
        <h5 valor-launchpad-card-title class="mb-0">Information</h5>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <dl valorLaunchpadRow>
          <dt valorLaunchpadCol [span]="4" [xxl]="3">Assignee</dt>
          <dd valorLaunchpadCol [span]="8" [xxl]="9">
            <valor-launchpad-avatar
              *ngFor="let assignee of project?.assignee"
              [src]="assignee?.user?.avatar?.src"
              classes="me-1 mt-n1"
              [alt]="assignee?.user?.avatar?.alt"
              size="sm"
            ></valor-launchpad-avatar>
          </dd>

          <dt valorLaunchpadCol [span]="4" [xxl]="3" class="mb-0">Reporter</dt>
          <dd valorLaunchpadCol [span]="8" [xxl]="9" class="mb-0">
            <valor-launchpad-avatar
              *ngIf="project?.summary?.reporter?.avatar?.src"
              [src]="project?.summary?.reporter?.avatar?.src"
              classes="me-1 mt-n1"
              alt="Avatar"
              size="sm"
            ></valor-launchpad-avatar>
          </dd>
        </dl>

        <hr />

        <dl valorLaunchpadRow>
          <dt valorLaunchpadCol [span]="4" [xxl]="3">Created</dt>
          <dd valorLaunchpadCol [span]="8" [xxl]="9">
            <p class="mb-1">{{ project?.createdDate | date: 'medium' }}</p>
          </dd>

          <dt valorLaunchpadCol [span]="4" [xxl]="3">Start</dt>
          <dd valorLaunchpadCol [span]="8" [xxl]="9">
            <p class="mb-1">
              {{ project?.summary?.startDate | date: 'medium' }}
            </p>
          </dd>

          <dt valorLaunchpadCol [span]="4" [xxl]="3" class="mb-0">End</dt>
          <dd valorLaunchpadCol [span]="8" [xxl]="9" class="mb-0">
            <p class="mb-0">{{ project?.summary?.endDate | date: 'medium' }}</p>
          </dd>
        </dl>

        <hr />

        <dl valorLaunchpadRow>
          <dt valorLaunchpadCol [span]="4" [xxl]="3" class="mb-0">Budget</dt>
          <dd valorLaunchpadCol [span]="8" [xxl]="9" class="mb-0">
            <p class="mb-0">{{ project?.summary?.budget | currency: 'USD' }}</p>
          </dd>
        </dl>

        <hr />

        <dl valorLaunchpadRow class="mb-1">
          <dt valorLaunchpadCol [span]="4" [xxl]="3">Status</dt>
          <dd valorLaunchpadCol [span]="8" [xxl]="9">
            <span
              class="badge mb-1"
              [ngClass]="STATUS_MAPPING[project.status].theme"
              >{{ STATUS_MAPPING[project.status].label }}</span
            >
          </dd>
          <dt valorLaunchpadCol [span]="4" [xxl]="3">Logged</dt>
          <dd valorLaunchpadCol [span]="8" [xxl]="9">
            <p class="mb-1">{{ project?.summary?.logged }}</p>
          </dd>
          <dt valorLaunchpadCol [span]="4" [xxl]="3" class="mb-0">Estimated</dt>
          <dd valorLaunchpadCol [span]="8" [xxl]="9" class="mb-0">
            <p class="mb-0">{{ project?.summary?.estimated }}</p>
          </dd>
        </dl>
      </valor-launchpad-card-content>
    </valor-launchpad-card>

    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <div class="card-actions float-end">
          <div class="dropdown" dropdown container="body">
            <a dropdownToggle>
              <i class="align-middle fas fa-fw fa-ellipsis-h"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
              <!--              TODO: All card actions need to be bound and created from API-->
              <a class="dropdown-item" (click)="onClickAction()">Action</a>
              <a class="dropdown-item" (click)="onClickAnotherAction()"
                >Another action</a
              >
              <a class="dropdown-item" (click)="onClickSomethingElse()"
                >Something else here</a
              >
            </div>
          </div>
        </div>
        <h5 valor-launchpad-card-title class="mb-0">Earnings</h5>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <div class="align-self-center chart chart-lg">
          <ngx-charts-bar-vertical-2d
            [barPadding]="3"
            [scheme]="salesRevenueConfig.colorScheme"
            [results]="monthlyRevenue"
            [gradient]="salesRevenueConfig.gradient"
            [xAxis]="salesRevenueConfig.showXAxis"
            [yAxis]="salesRevenueConfig.showYAxis"
            [legend]="salesRevenueConfig.showLegend"
            [showXAxisLabel]="salesRevenueConfig.showXAxisLabel"
            [showYAxisLabel]="salesRevenueConfig.showYAxisLabel"
            [xAxisLabel]="salesRevenueConfig.xAxisLabel"
            [yAxisLabel]="salesRevenueConfig.yAxisLabel"
            [animations]="salesRevenueConfig.animations"
          ></ngx-charts-bar-vertical-2d>
        </div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
</div>
