.chat-online {
  color: lighten($success, 10%);
}

.chat-offline {
  color: lighten($danger, 10%);
}

.chat-messages {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 400px);
  overflow-y: scroll;
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0;
}

.chat-message-left {
  margin-right: auto;
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto;
}

.list-group-item.selected {
  background: $list-group-hover-bg;
}

.cdk-overlay-pane.chat-search-panel {
  box-shadow: $box-shadow-lg;
  border: $dropdown-border-width solid $dropdown-border-color;
  @include border-radius($dropdown-border-radius);
  @include box-shadow($dropdown-box-shadow);
  max-height: 400px;
  overflow: auto;
}
