.stat {
  background: $stat-bg;
  border-radius: 50%;
  padding: 0.75rem;
  width: 48px;
  height: 48px;

  svg {
    width: 24px;
    height: 24px;
    color: $stat-icon-color !important;
  }

  i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: $stat-icon-color !important;
    font-size: 26px;
  }
}

.stat-sm {
  width: 40px;
  height: 40px;
  padding: 0.625rem;

  svg {
    width: 20px;
    height: 20px;
  }
  i {
    width: 20px;
    height: 20px;
  }
}
