<div class="settings js-settings" [ngClass]="themeBuilderClass">
  <div class="settings-toggle">
    <div
      class="
        settings-toggle-option settings-toggle-option-text
        js-settings-toggle
      "
      title="Theme Builder"
      (click)="onToggleThemeBuilder()"
    >
      <i class="align-middle fas fa-cogs" data-feather="sliders"></i>
      Configurator
    </div>
    <a
      class="settings-toggle-option settings-toggle-documentation"
      title="Documentation"
      routerLink="/docs/introduction"
      target="_blank"
    >
      <i class="align-middle fas fa-book-open" data-feather="book-open"></i>
    </a>
  </div>

  <div class="settings-panel">
    <div class="settings-content">
      <div class="settings-title d-flex align-items-center">
        <button
          type="button"
          class="btn-close float-right js-settings-toggle"
          aria-label="Close"
          (click)="onCloseThemeBuilder()"
        ></button>

        <h4 class="mb-0 ms-2 d-inline-block">Valor Admin Configurator</h4>
      </div>

      <div class="settings-body" [formGroup]="themeBuilderFg">
        <div class="alert alert-primary" role="alert">
          <div class="alert-message">
            Valor Admin comes with several themes and configuration options, try
            them out by clicking below.
          </div>
        </div>

        <div class="mb-3">
          <span class="d-block font-size-lg font-weight-bold">Theme</span>
          <span class="d-block text-muted mb-2"
            >The perfect color palette for your admin panel.</span
          >

          <div class="row g-0 text-center mx-n1 mb-2">
            <div class="col">
              <label class="mx-1 d-block mb-1">
                <input
                  class="settings-scheme-label"
                  type="radio"
                  formControlName="theme"
                  name="theme"
                  value="default"
                />
                <div class="settings-scheme">
                  <div
                    class="settings-scheme-theme settings-scheme-theme-default"
                  ></div>
                </div>
              </label>
              Default
            </div>
            <div class="col">
              <label class="mx-1 d-block mb-1">
                <input
                  class="settings-scheme-label"
                  type="radio"
                  formControlName="theme"
                  name="theme"
                  value="colored"
                />
                <div class="settings-scheme">
                  <div
                    class="settings-scheme-theme settings-scheme-theme-colored"
                  ></div>
                </div>
              </label>
              Blue
            </div>
          </div>
          <div class="row g-0 text-center mx-n1">
            <div class="col">
              <label class="mx-1 d-block mb-1">
                <input
                  class="settings-scheme-label"
                  type="radio"
                  formControlName="theme"
                  name="theme"
                  value="dark"
                />
                <div class="settings-scheme">
                  <div
                    class="settings-scheme-theme settings-scheme-theme-dark"
                  ></div>
                </div>
              </label>
              Dark
            </div>
            <div class="col">
              <label class="mx-1 d-block mb-1">
                <input
                  class="settings-scheme-label"
                  type="radio"
                  formControlName="theme"
                  name="theme"
                  value="light"
                />
                <div class="settings-scheme">
                  <div
                    class="settings-scheme-theme settings-scheme-theme-light"
                  ></div>
                </div>
              </label>
              Light
            </div>
          </div>
        </div>

        <hr />

        <div class="mb-3">
          <span class="d-block font-size-lg font-weight-bold"
            >Sidebar position</span
          >
          <span class="d-block text-muted mb-2"
            >Toggle the position of the sidebar.</span
          >

          <div>
            <label>
              <input
                class="settings-button-label"
                type="radio"
                formControlName="sidebarPosition"
                name="sidebarPosition"
                value="left"
              />
              <div class="settings-button">Left</div>
            </label>
            <label>
              <input
                class="settings-button-label"
                type="radio"
                formControlName="sidebarPosition"
                name="sidebarPosition"
                value="right"
              />
              <div class="settings-button">Right</div>
            </label>
          </div>
        </div>

        <hr />

        <div class="mb-3">
          <span class="d-block font-size-lg font-weight-bold"
            >Sidebar behavior</span
          >
          <span class="d-block text-muted mb-2"
            >Change the behavior of the sidebar.</span
          >

          <div>
            <label>
              <input
                class="settings-button-label"
                type="radio"
                formControlName="sidebarBehavior"
                name="sidebarBehavior"
                value="sticky"
              />
              <div class="settings-button">Sticky</div>
            </label>
            <label>
              <input
                class="settings-button-label"
                type="radio"
                formControlName="sidebarBehavior"
                name="sidebarBehavior"
                value="fixed"
              />
              <div class="settings-button">Fixed</div>
            </label>
            <label>
              <input
                class="settings-button-label"
                type="radio"
                formControlName="sidebarBehavior"
                name="sidebarBehavior"
                value="compact"
              />
              <div class="settings-button">Compact</div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
