<h1 class="h3 mb-3 d-print-none">Invoice</h1>

<div valorLaunchpadRow class="d-print-none">
  <div valorLaunchpadCol [span]="12">
    <valor-launchpad-card>
      <valor-launchpad-card-content class="m-sm-3 m-md-5">
        <ng-container *ngTemplateOutlet="invoice"></ng-container>

        <div class="text-center d-print-none">
          <p class="text-sm">
            <strong>Extra note:</strong> Please send all items at the same time
            to the shipping address. Thanks in advance.
          </p>

          <button valor-launchpad-button (click)="onPrint()">
            Print this receipt
          </button>
        </div>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
</div>

<div class="d-none d-print-block">
  <ng-container *ngTemplateOutlet="invoice"></ng-container>
</div>

<ng-template #invoice>
  <ng-container *ngIf="invoiceDetail$ | async as invoiceDetail">
    <div class="head">
      <div class="hello">
        Hello <strong>{{ invoiceDetail.clientName }}</strong
        >, <br />
        This is the receipt for a payment of
        <strong>{{
          invoiceDetail.amount | currency: invoiceDetail.currency
        }}</strong>
        ({{ invoiceDetail.currency }}) you made to
        {{ invoiceDetail.merchantName }}.
      </div>
      <div class="logo">
        <img src="assets/Valor%20Light.svg" class="gray" />
      </div>
    </div>
    <div valorLaunchpadRow>
      <div valorLaunchpadCol [md]="6">
        <div class="text-muted">Payment No.</div>
        <strong>{{ invoiceDetail.paymentNo }}</strong>
      </div>
      <div valorLaunchpadCol [md]="6" class="text-md-right">
        <div class="text-muted">Payment Date</div>
        <strong>{{
          invoiceDetail.date | date: 'LLLL d, yyyy - hh:mm a'
        }}</strong>
      </div>
    </div>
    <hr class="my-4" />
    <div valorLaunchpadRow class="mb-4">
      <div valorLaunchpadCol [md]="6">
        <div class="text-muted">Client</div>
        <strong>
          {{ invoiceDetail.clientName }}
        </strong>
        <p>
          <ng-container *ngFor="let a of invoiceDetail.clientAddress"
            >{{ a }}<br
          /></ng-container>
          <a [href]="'mailto:' + invoiceDetail.clientEmail">
            {{ invoiceDetail.clientEmail }}
          </a>
        </p>
      </div>
      <div valorLaunchpadCol [md]="6" class="text-md-right">
        <div class="text-muted">Payment To</div>
        <strong>
          {{ invoiceDetail.merchantName }}
        </strong>
        <p>
          <ng-container *ngFor="let a of invoiceDetail.merchantAddress"
            >{{ a }}<br
          /></ng-container>
          <a [href]="'mailto:' + invoiceDetail.merchantEmail">
            {{ invoiceDetail.merchantEmail }}
          </a>
        </p>
      </div>
    </div>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Description</th>
          <th>Quantity</th>
          <th class="text-end">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let line of invoiceDetail.lines">
          <td>{{ line.desc }}</td>
          <td>{{ line.qty }}</td>
          <td class="text-end">
            {{ line.amount | currency: invoiceDetail.currency }}
          </td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <th>Subtotal</th>
          <th class="text-end">
            {{ invoiceDetail.subtotal | currency: invoiceDetail.currency }}
          </th>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <th>Shipping</th>
          <th class="text-end">
            {{ invoiceDetail.shipping | currency: invoiceDetail.currency }}
          </th>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <th>Discount</th>
          <th class="text-end">{{ invoiceDetail.discount | percent }}</th>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <th>Total</th>
          <th class="text-end">
            {{ invoiceDetail.total | currency: invoiceDetail.currency }}
          </th>
        </tr>
      </tbody>
    </table>
  </ng-container>
</ng-template>
