<a
  class="btn btn-primary float-end mt-n1"
  (click)="onOpenCreateNewProjectModal()"
  ><i class="fas fa-plus"></i> New project</a
>
<h1 class="h3 mb-3" data-qa="titleProjectsPage">Projects</h1>
<valor-launchpad-project-list-filter
  (sortRange)="handleSort($event)"
  (statusSelected)="handleStatus($event)"
  (searchKeyWord)="handleSearch($event)"
  (progress)="handleProgress($event)"
></valor-launchpad-project-list-filter>

<div class="row">
  <valor-launchpad-project-list-item
    *ngFor="let item of projects"
    [config]="item"
    (delete)="onDeleteProject($event)"
    (clone)="onCloneProject($event, item)"
  ></valor-launchpad-project-list-item>
</div>

<valor-launchpad-offcanvas
  [show]="isCreateProjectShow"
  [title]="'New Project'"
  position="end"
  (onClose)="onCloseProjectShow()"
>
  <div offcanvas-body>
    <form [formGroup]="newProjectFg">
      <valor-launchpad-form-item [errTip]="titleErr">
        <valor-launchpad-form-label [required]="true"
          >Title</valor-launchpad-form-label
        >
        <input valorLaunchpadInput formControlName="title" />
        <ng-template #titleErr let-control>
          <ng-container *ngIf="control.hasError('required')"
            >This field is required.</ng-container
          >
          <ng-container *ngIf="control.hasError('isExists')"
            >The project is exist.</ng-container
          >
        </ng-template>
      </valor-launchpad-form-item>
      <valor-launchpad-form-item>
        <valor-launchpad-form-label>Content</valor-launchpad-form-label>
        <textarea valorLaunchpadInput formControlName="body"></textarea>
      </valor-launchpad-form-item>
      <valor-launchpad-form-item>
        <valor-launchpad-form-label>Progress</valor-launchpad-form-label>
        <input type="number" valorLaunchpadInput formControlName="progress" />
      </valor-launchpad-form-item>
      <valor-launchpad-form-item>
        <valor-launchpad-form-label>Status</valor-launchpad-form-label>
        <select class="form-select" formControlName="status">
          <option
            *ngFor="let item of projectStatusItem"
            value="{{ item.value }}"
          >
            {{ item.key }}
          </option>
        </select>
      </valor-launchpad-form-item>
      <valor-launchpad-form-item>
        <valor-launchpad-form-label>Action</valor-launchpad-form-label>
        <label valor-launchpad-checkbox formControlName="deletable"
          >Delete</label
        >
        <label valor-launchpad-checkbox formControlName="cloneable"
          >Clone</label
        >
      </valor-launchpad-form-item>
      <valor-launchpad-form-item>
        <valor-launchpad-form-label>Project picture</valor-launchpad-form-label>
        <input
          type="file"
          #projectPicture
          valorLaunchpadInput
          formControlName="projectFile"
        />
        <ng-container *ngIf="newProjectFg.get('title').touched">
          <label
            class="error small form-text invalid-feedback"
            *ngIf="newProjectFg.get('projectFile').hasError('required')"
          >
            This is a required input.
          </label>
          <label
            class="error small form-text invalid-feedback"
            *ngIf="newProjectFg.get('projectFile').hasError('inValidExt')"
          >
            Only accept file suffix with {{ validPicSuffixs.join() }}.
          </label>
        </ng-container>
      </valor-launchpad-form-item>
    </form>
    <button
      type="submit"
      class="mt-3 btn btn-lg btn-primary"
      (click)="onCreateProject()"
    >
      Create Project
    </button>
  </div>
</valor-launchpad-offcanvas>
