<valor-launchpad-section-one></valor-launchpad-section-one>
<valor-launchpad-section-two [theme]="theme"></valor-launchpad-section-two>
<valor-launchpad-section-three></valor-launchpad-section-three>
<valor-launchpad-section-four></valor-launchpad-section-four>
<valor-launchpad-section-five></valor-launchpad-section-five>
<valor-launchpad-section-six></valor-launchpad-section-six>
<valor-launchpad-section-seven></valor-launchpad-section-seven>
<valor-launchpad-section-eight></valor-launchpad-section-eight>
<valor-launchpad-section-nine></valor-launchpad-section-nine>
<valor-launchpad-section-ten></valor-launchpad-section-ten>
<valor-launchpad-section-ten-one></valor-launchpad-section-ten-one>
<valor-launchpad-section-seven></valor-launchpad-section-seven>
<valor-launchpad-section-ten-two></valor-launchpad-section-ten-two>
<valor-launchpad-section-ten-three></valor-launchpad-section-ten-three>
<valor-launchpad-section-ten-four
  [theme]="theme"
></valor-launchpad-section-ten-four>
<valor-launchpad-section-ten-five></valor-launchpad-section-ten-five>
<valor-launchpad-section-seven></valor-launchpad-section-seven>
<valor-launchpad-section-ten-six></valor-launchpad-section-ten-six>