<div class="container-fluid p-0">

    <h1 class="h3 mb-3">ApexCharts</h1>

    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Line Chart</h5>
                    <h6 class="card-subtitle text-muted">Line charts are a typical pictorial representation that depicts trends and behaviors over time.</h6>
                </div>
                <div class="card-body">
                    <div class="chart w-100">
                        <div id="apexcharts-line">
                            <apx-chart
                                [chart]="chartOptionsLine.chart"
                                [dataLabels]="chartOptionsLine.dataLabels"
                                [stroke]="chartOptionsLine.stroke"
                                [series]="chartOptionsLine.series"
                                [grid]="chartOptionsLine.grid"
                                [tooltip]="chartOptionsLine.tooltip"
                                [xaxis]="chartOptionsLine.xaxis"
                                [markers]="chartOptionsLine.markers">
                            </apx-chart>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Area Chart</h5>
                    <h6 class="card-subtitle text-muted">Area charts are used to represent quantitative variations.</h6>
                </div>
                <div class="card-body">
                    <div class="chart w-100">
                        <div id="apexcharts-area">
                            <apx-chart
                                [chart]="chartOptionsArea.chart"
                                [dataLabels]="chartOptionsArea.dataLabels"
                                [stroke]="chartOptionsArea.stroke"
                                [series]="chartOptionsArea.series"
                                [xaxis]="chartOptionsArea.xaxis"
                                [tooltip]="chartOptionsArea.tooltip">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Bar Chart</h5>
                    <h6 class="card-subtitle text-muted">A bar chart is the best tool for displaying comparisons between categories of data.</h6>
                </div>
                <div class="card-body">
                    <div class="chart w-100">
                        <div id="apexcharts-bar">
                            <apx-chart
                                [chart]="chartOptionsBar.chart"
                                [plotOptions]="chartOptionsBar.plotOptions"
                                [stroke]="chartOptionsBar.stroke"
                                [series]="chartOptionsBar.series"
                                [xaxis]="chartOptionsBar.xaxis"
                                [yaxis]="chartOptionsBar.yaxis"
                                [tooltip]="chartOptionsBar.tooltip"
                                [fill]="chartOptionsBar.fill"
                                [legend]="chartOptionsBar.legend">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Column Chart</h5>
                    <h6 class="card-subtitle text-muted">A column chart uses vertical bars to display data and is used to compare values across categories.</h6>
                </div>
                <div class="card-body">
                    <div class="chart w-100">
                        <div id="apexcharts-column">
                            <apx-chart
                                [chart]="chartOptionsColumn.chart"
                                [plotOptions]="chartOptionsColumn.plotOptions"
                                [dataLabels]="chartOptionsColumn.dataLabels"
                                [stroke]="chartOptionsColumn.stroke"
                                [series]="chartOptionsColumn.series"
                                [xaxis]="chartOptionsColumn.xaxis"
                                [yaxis]="chartOptionsColumn.yaxis"
                                [tooltip]="chartOptionsColumn.tooltip"
                                [fill]="chartOptionsColumn.fill">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Pie Chart</h5>
                    <h6 class="card-subtitle text-muted">Pie charts are an instrumental visualization tool useful in expressing data and information in terms of percentages, ratio.</h6>
                </div>
                <div class="card-body text-center">
                    <div class="chart w-100">
                        <div id="apexcharts-pie" style="max-width: 440px;margin:auto;">
                            <apx-chart
                                [chart]="chartOptionsPie.chart"
                                [dataLabels]="chartOptionsPie.dataLabels"
                                [series]="chartOptionsPie.series">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Heatmap Chart</h5>
                    <h6 class="card-subtitle text-muted">Heatmap is a visualization tool that employs color the way a bar chart employs height and width in representing data.</h6>
                </div>
                <div class="card-body">
                    <div class="chart w-100">
                        <div id="apexcharts-heatmap">
                            <apx-chart
                                [chart]="chartOptionsHeatMap.chart"
                                [dataLabels]="chartOptionsHeatMap.dataLabels"
                                [colors]="chartOptionsHeatMap.colors"
                                [series]="chartOptionsHeatMap.series"
                                [xaxis]="chartOptionsHeatMap.xaxis">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Mixed Chart</h5>
                    <h6 class="card-subtitle text-muted">A Mixed Chart is a visualization that allows the combination of two or more distinct graphs.</h6>
                </div>
                <div class="card-body">
                    <div class="chart w-100">
                        <div id="apexcharts-mixed">
                            <apx-chart
                                [chart]="chartOptionsMixed.chart"
                                [stroke]="chartOptionsMixed.stroke"
                                [plotOptions]="chartOptionsMixed.plotOptions"
                                [series]="chartOptionsMixed.series"
                                [fill]="chartOptionsMixed.fill"
                                [labels]="chartOptionsMixed.labels"
                                [markers]="chartOptionsMixed.markers"
                                [xaxis]="chartOptionsMixed.xaxis"
                                [yaxis]="chartOptionsMixed.yaxis"
                                [tooltip]="chartOptionsMixed.tooltip">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Candlestick Chart</h5>
                    <h6 class="card-subtitle text-muted">A candlestick chart is a style of financial chart used to describe price movements.</h6>
                </div>
                <div class="card-body">
                    <div class="chart w-100">
                        <div id="apexcharts-candlestick">
                            <apx-chart
                                [chart]="chartOptionscandlestick.chart"
                                [stroke]="chartOptionscandlestick.stroke"
                                [series]="chartOptionscandlestick.series"
                                [xaxis]="chartOptionscandlestick.xaxis">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
