<nav class="navbar navbar-expand-md navbar-light landing-navbar">

  <div class="container">
    <a class="navbar-brand logo-brand" href="#">
      <img src="assets/valor-logo-light.svg" />
    </a>
    <ul class="navbar-nav flex-grow-1 justify-content-evenly nav-ft">
      <li class="nav-item d-inline-block">
        <a class="nav-link active fs-4 fw-bold px-lg-3" href="#">
          <span>Services</span>
        </a>
      </li>
      <li class="nav-item d-inline-block">
        <a class="nav-link active fs-4 fw-bold px-lg-3" href="#">
          <span>Clients</span>
        </a>
      </li>
      <li class="nav-item d-inline-block">
        <a class="nav-link active fs-4 fw-bold px-lg-3" href="#">
          <span>About</span>
        </a>
      </li>
      <li class="nav-item d-inline-block">
        <a class="nav-link active fs-4 fw-bold px-lg-3" href="#">
          <span>Approach</span>
        </a>
      </li>
      <li class="nav-item d-inline-block">
        <a class="nav-link active fs-4 fw-bold px-lg-3" href="#">
          <span>Approach</span>
        </a>
      </li>
      <li class="nav-item d-inline-block">
        <a class="nav-link active fs-4 fw-bold px-lg-3" href="#">
          <span>Carreers</span>
        </a>
      </li>
      <li class="nav-item d-inline-block">
        <a class="nav-link active fs-4 fw-bold px-lg-3" href="#">
          <span>Blog</span>
        </a>
      </li>
      <li class="nav-item d-inline-block">
        <a class="nav-link active fs-4 fw-bold px-lg-3" href="#">
          <span>Contact</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="cover-mask"></div>
</nav>
