<nav class="navbar navbar-expand-md navbar-light landing-navbar">

  <div class="container-fluid header-nav">
    <a class="navbar-brand logo-brand" href="#">
      <!-- <img src="assets/valor-logo-light.svg" /> -->
      <div class="valor-logo"></div>
    </a>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav flex-grow-1 justify-content-center nav-ft">
        <li class="nav-item d-inline-block">
          <a class="nav-link active nav-text fw-bold px-lg-3" href="#">
            <span>Product</span>
          </a>
        </li>
        <li class="nav-item d-inline-block">
          <a class="nav-link active nav-text fw-bold px-lg-3" href="#">
            <span>Services</span>
          </a>
        </li>
        <li class="nav-item d-inline-block">
          <a class="nav-link active nav-text fw-bold px-lg-3" href="#">
            <span>Company</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="form-check form-switch-nav flex-shrink-0 flex-row d-flex align-items-center">
      <label class="form-check-light d-flex" for="themeChecked">light</label>
      <input class="form-check-input d-flex" [checked]="checked" type="checkbox" role="switch" id="themeChecked" (change)="themeChange($event)">
      <label class="form-check-dark" for="themeChecked">dark</label>
    </div>
  </div>

  <div class="cover-mask"></div>
</nav>
