<nav id="sidebar" class="sidebar" [ngClass]="{ collapsed: collapsed }">
  <!--  TODO: Refactor entire menu into a service -->
  <div class="sidebar-content">
    <a class="sidebar-brand" routerLink="/">
      <img src="assets/Valor%20Light.svg" />

      <span class="align-middle me-3">Admin Panel</span>
    </a>

    <ul class="sidebar-nav">
      <ng-container
        *ngFor="let zone of navigationService.sideBarMenus$ | async"
      >
        <li class="sidebar-header">{{ zone.name }}</li>
        <li
          valor-launchpad-sidebar-item
          #sidebarItem
          *ngFor="let menu of zone.children"
          [menu]="menu"
          (opened)="onOpen(sidebarItem)"
        ></li>
      </ng-container>
    </ul>

    <div class="sidebar-cta">
      <div class="sidebar-cta-content">
        <strong class="d-inline-block mb-2">Monthly Sales Report</strong>
        <div class="mb-3 text-sm">
          Your monthly sales report is ready for download!
        </div>

        <div class="d-grid">
          <a
            href="https://valor-software.com/launchpad"
            class="btn btn-primary"
            target="_blank"
            >Download</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
