<nav id="sidebar" class="sidebar">
<!--  TODO: Refactor entire menu into a service -->
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="index.html">
      <img src="assets/Valor%20Light.svg">

      <span class="align-middle me-3">Admin Panel</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>
      <li class="sidebar-item" [ngClass]="{'collapsed':menuCollapseState['dashboards']}" routerLinkActive="active" data-bs-toggle="collapse" >
        <a class="sidebar-link" (click)="toggleCollapse('dashboards')">
          <i class="align-middle fas fa-fw fa-sliders-h"></i> <span class="align-middle">Dashboards</span>
          <span class="badge badge-sidebar-primary">5</span>
        </a>
        <ul id="dashboards" class="sidebar-dropdown list-unstyled" [collapse]="menuCollapseState['dashboards']">
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="dashboard-default">Default</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="dashboard-analytics">Analytics</a></li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="dashboard-saas">SaaS</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="dashboard-social">Social</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="dashboard-crypto">Crypto</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item" [ngClass]="{'collapsed':menuCollapseState['pages']}" data-bs-toggle="collapse" routerLinkActive="active">
        <a class="sidebar-link" (click)="toggleCollapse('pages')">
          <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Pages</span>
        </a>
        <ul id="pages" class="sidebar-dropdown list-unstyled" [collapse]="menuCollapseState['pages']">
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="users">Users</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="profile">Profile</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="settings">Settings</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="clients">Clients</a>
          </li>
          <li class="sidebar-item">
<!--            TODO: This needs to be fixed after submenus correction in TS-->
            <a data-bs-target="#projects" data-bs-toggle="collapse" class="sidebar-link"
               [ngClass]="{'collapsed':subMenuCollapseState['projects']}"
               (click)="toggleSubmenuCollapse('projects')"
            >
              Projects
            </a>
            <ul id="projects" class="sidebar-dropdown list-unstyled" [collapse]="subMenuCollapseState['projects']">
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="projects-list">List</a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" routerLink="projects-detail">Detail <span class="badge badge-sidebar-primary">New</span></a>
              </li>
            </ul>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="invoice">Invoice</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="pricing">Pricing</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="tasks">Tasks</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="chat">Chat <span class="badge badge-sidebar-primary">New</span></a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="blank">Blank Page</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="payments">Payments</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item" [ngClass]="{'collapsed':menuCollapseState['auth']}" routerLinkActive="active">
        <a data-bs-target="#auth" data-bs-toggle="collapse" class="sidebar-link collapsed"  (click)="toggleCollapse('auth')">
          <i class="align-middle fas fa-fw fa-users"></i> <span class="align-middle">Auth</span>
          <span class="badge badge-sidebar-secondary">Special</span>
        </a>
        <ul id="auth" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar" [collapse]="menuCollapseState['auth']">
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="sign-in">Sign In</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="sign-up">Sign Up</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="reset-password">Reset Password</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="404">404 Page</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="500">500 Page</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a data-bs-target="#documentation" data-bs-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle me-2 fas fa-fw fa-book-open"></i> <span class="align-middle">Documentation</span>
        </a>
        <ul id="documentation" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
          <li class="sidebar-item"><a class="sidebar-link" href="docs-introduction.html">Introduction</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="docs-installation.html">Getting Started</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="docs-customization.html">Customization</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="docs-plugins.html">Plugins</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="docs-changelog.html">Changelog</a></li>
        </ul>
      </li>

      <li class="sidebar-header">
        Tools & Components
      </li>
      <li class="sidebar-item" [ngClass]="{'collapsed':menuCollapseState['ui']}" data-bs-toggle="collapse" routerLinkActive="active">
        <a class="sidebar-link" (click)="toggleCollapse('ui')">
          <i class="align-middle fas fa-fw fa-border-all"></i> <span class="align-middle">UI Elements</span>
        </a>
        <ul id="ui" class="sidebar-dropdown list-unstyled" [collapse]="menuCollapseState['ui']">
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="ui-alerts">Alerts</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="ui-chips">Chips</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="ui-buttons">Buttons</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="ui-cards">Cards</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="ui-carousel">Carousel</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="ui-embed-video">Embed Video</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="ui-general">General <span class="badge badge-sidebar-primary">10+</span></a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="ui-grid">Grid</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="ui-modals">Modals</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="ui-offcanvas">Offcanvas</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="ui-tabs">Tabs</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="ui-typography">Typography</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="font-awesome">Font Awesome</a>
      </li>
      <li class="sidebar-item" [ngClass]="{'collapsed':menuCollapseState['forms']}" data-bs-toggle="collapse" routerLinkActive="active">
        <a class="sidebar-link" (click)="toggleCollapse('forms')">
          <i class="align-middle fas fa-fw fa-check-square"></i> <span class="align-middle">Forms</span>
        </a>
        <ul id="forms" class="sidebar-dropdown list-unstyled" [collapse]="menuCollapseState['forms']">
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="forms-layouts">Layouts</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="forms-basic-inputs">Basic Inputs</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="forms-input-groups">Input Groups</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink="forms-floating-labels">Floating Labels</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="tables-bootstrap.html">
          <i class="align-middle fas fa-fw fa-list"></i> <span class="align-middle">Tables</span>
        </a>
      </li>

      <li class="sidebar-header">
        Plugin & Addons
      </li>
      <li class="sidebar-item" [ngClass]="{'collapsed':menuCollapseState['formPlugins']}" data-bs-toggle="collapse" routerLinkActive="active">
        <a class="sidebar-link" (click)="toggleCollapse('formPlugins')">
          <i class="align-middle fas fa-fw fa-check-square"></i> <span class="align-middle">Form Plugins</span>
        </a>
        <ul id="form-plugins" class="sidebar-dropdown list-unstyled" [collapse]="menuCollapseState['formPlugins']">
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink='forms-advanced-inputs'>Advanced Inputs</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink='forms-editors'>Editors</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink='forms-validation'>Validation</a>
          </li>
          <li class="sidebar-item" routerLinkActive="active">
            <a class="sidebar-link" routerLink='forms-wizard'>Wizard</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a data-bs-target="#datatables" data-bs-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle fas fa-fw fa-list"></i> <span class="align-middle">DataTables</span>
        </a>
        <ul id="datatables" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
          <li class="sidebar-item"><a class="sidebar-link" href="tables-datatables-responsive.html">Responsive Table</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="tables-datatables-buttons.html">Table with Buttons</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="tables-datatables-column-search.html">Column Search</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="tables-datatables-fixed-header.html">Fixed Header</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="tables-datatables-multi.html">Multi Selection</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="tables-datatables-ajax.html">Ajax Sourced Data</a></li>
        </ul>
      </li>

      <li class="sidebar-item">
        <a data-bs-target="#charts" data-bs-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle" data-feather="pie-chart"></i> <span class="align-middle">Charts</span>
          <span class="badge badge-sidebar-primary">New</span>
        </a>
        <ul id="charts" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
          <li class="sidebar-item"><a class="sidebar-link" href="charts-chartjs.html">Chart.js</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="charts-apexcharts.html">ApexCharts <span class="badge badge-sidebar-primary">New</span></a></li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="notifications.html">
          <i class="align-middle me-2 far fa-fw fa-bell"></i> <span class="align-middle">Notifications</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a data-bs-target="#maps" data-bs-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle fas fa-fw fa-map-pin"></i> <span class="align-middle">Maps</span>
        </a>
        <ul id="maps" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
          <li class="sidebar-item"><a class="sidebar-link" href="maps-google.html">Google Maps</a></li>
          <li class="sidebar-item"><a class="sidebar-link" href="maps-vector.html">Vector Maps</a></li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink='calendar'>
          <i class="align-middle  far fa-fw fa-calendar"></i> <span class="align-middle">Calendar</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a data-bs-target="#multi" data-bs-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle fas fa-fw fa-share-alt"></i> <span class="align-middle">Multi Level</span>
        </a>
        <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a data-bs-target="#multi-2" data-bs-toggle="collapse" class="sidebar-link collapsed">
              Two Levels
            </a>
            <ul id="multi-2" class="sidebar-dropdown list-unstyled collapse">
              <li class="sidebar-item">
                <a class="sidebar-link" data-bs-target="#">Item 1</a>
                <a class="sidebar-link" data-bs-target="#">Item 2</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-item">
            <a data-bs-target="#multi-3" data-bs-toggle="collapse" class="sidebar-link collapsed">
              Three Levels
            </a>
            <ul id="multi-3" class="sidebar-dropdown list-unstyled collapse">
              <li class="sidebar-item">
                <a data-bs-target="#multi-3-1" data-bs-toggle="collapse" class="sidebar-link collapsed">
                  Item 1
                </a>
                <ul id="multi-3-1" class="sidebar-dropdown list-unstyled collapse">
                  <li class="sidebar-item">
                    <a class="sidebar-link" data-bs-target="#">Item 1</a>
                    <a class="sidebar-link" data-bs-target="#">Item 2</a>
                  </li>
                </ul>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" data-bs-target="#">Item 2</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <div class="sidebar-cta">
      <div class="sidebar-cta-content">
        <strong class="d-inline-block mb-2">Monthly Sales Report</strong>
        <div class="mb-3 text-sm">
          Your monthly sales report is ready for download!
        </div>

        <div class="d-grid">
          <a href="https://themes.getbootstrap.com/product/appstack-responsive-admin-template/" class="btn btn-primary" target="_blank">Download</a>
        </div>
      </div>
    </div>
  </div>
</nav>
