<section class="container main-max d-flex">
  <aside class="inter-side stripe">
    <div class="inter-card">
      <img src="assets/img/stripe-logo.svg" alt="">
    </div>
    <ul>
      <li class="side-item active">
        <span class="d-inline-flex position-relative">Overview</span>
      </li>
      <li class="side-item">
        <span class="d-inline-flex position-relative">Events</span>
      </li>
      <li class="side-item">
        <span class="d-inline-flex position-relative">Docs</span>
      </li>
    </ul>
  </aside>
  <main class="inter-main stripe">
    <div class="d-flex flex-column stripe-about">
      <h3 class="headline-3">About Stripe</h3>
      <span class="desc">Fermentum velit eleifend turpis augue sollicitudin nunc. Blandit blandit bibendum id malesuada malesuada.</span>
      <button class="ghost-btn">
        <span>Find out more</span>
        <i class="align-middle fas fa-fw fa-long-arrow-alt-right"></i>
      </button>
    </div>
    <div class="d-flex inter-ability">
      <ul class="ability w-100">
        <li>Features</li>
        <li class="d-flex justify-content-start align-items-center">
          <span class="ability-icon check"></span>
          <span>Data destination</span>
        </li>
        <li class="d-flex justify-content-start align-items-center">
          <span class="ability-icon check"></span>
          <span>Data source</span>
        </li>
        <li class="d-flex justify-content-start align-items-center">
          <span class="ability-icon check"></span>
          <span>Supports client-side plugin</span>
        </li>
      </ul>
      <ul class="ability w-100">
        <li>Supported Data</li>
        <li class="d-flex justify-content-start align-items-center">
          <span class="ability-icon check"></span>
          <span>Users</span>
        </li>
        <li class="d-flex justify-content-start align-items-center">
          <span class="ability-icon check"></span>
          <span>Events</span>
        </li>
        <li class="d-flex justify-content-start align-items-center">
          <span class="ability-icon check"></span>
          <span>Audiences</span>
        </li>
      </ul>
    </div>
    <div class="d-flex inter-ability">
      <ul class="ability w-100">
        <li>Supported Platforms</li>
        <li class="d-flex justify-content-start align-items-center">
          <span class="ability-icon check"></span>
          <span>Web</span>
        </li>
        <li class="d-flex justify-content-start align-items-center">
          <span class="ability-icon check"></span>
          <span>Mobile</span>
        </li>
        <li class="d-flex justify-content-start align-items-center">
          <span class="ability-icon check"></span>
          <span>Server</span>
        </li>
        <li class="d-flex justify-content-start align-items-center">
          <span class="ability-icon check"></span>
          <span>Personas</span>
        </li>
      </ul>
      <ul class="ability w-100">
        <li>Security Certifications</li>
        <li class="d-flex justify-content-start align-items-center">
          <span class="ability-icon check"></span>
          <span>ISO</span>
        </li>
        <li class="d-flex justify-content-start align-items-center">
          <span class="ability-icon check"></span>
          <span>SOC2</span>
        </li>
      </ul>
    </div>
    <div class="d-flex inter-ability">
      <ul class="ability w-100">
        <li>Supported Platforms</li>
        <li class="d-flex justify-content-start align-items-center">
          <span class="ability-icon check"></span>
          <span>Web</span>
        </li>
        <li class="d-flex justify-content-start align-items-center">
          <span class="ability-icon check"></span>
          <span>Mobile</span>
        </li>
        <li class="d-flex justify-content-start align-items-center">
          <span class="ability-icon check"></span>
          <span>Server</span>
        </li>
        <li class="d-flex justify-content-start align-items-center">
          <span class="ability-icon check"></span>
          <span>Personas</span>
        </li>
      </ul>
    </div>
  </main>
</section>