@import '../../../../../../scss/1-variables/dark';

:host {
  .m-introduce {
    .title {
      text-align: center;
      font-size: 32px;
      font-weight: 600;
    }
    .m-introduce-wrap {
      position: relative;
      display: flex;
      height: 662px;

      .background-point {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 30%;
        z-index: 0;
        background-image: url('/assets/img/spot-dark.svg');
        background-repeat: repeat;
        // background-position: left;
        background-size: 100%;
      }
      .card {
        width: calc(100% - 76px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        padding: 40px 0;
        border-radius: 20px;
        background-color: #1c2128;

        img {
          width: 150px;
          margin-bottom: 16px;
        }
      }
    }
  }
}
