<section class="m-introduce">
  <div class="title">
    Everything <br />
    you need
  </div>
  <div class="m-introduce-wrap">
    <div class="background-point"></div>
    <div class="card">
      <div class="text-center">
        <img src="/assets/img/save-time-dark.svg" />
        <h3 class="card-info">Save Time</h3>
        <span class="purple-blue-ft"
          >See more
          <i
            class="
              align-middle
              fas
              fa-fw fa-long-arrow-alt-right
              shallow-gradient
            "
          ></i>
        </span>
      </div>
      <div class="text-center">
        <img src="/assets/img/deliver-dark.svg" />
        <h3 class="card-info">Deliver Faster</h3>
        <span class="purple-blue-ft"
          >See more
          <i
            class="
              align-middle
              fas
              fa-fw fa-long-arrow-alt-right
              shallow-gradient
            "
          ></i>
        </span>
      </div>
    </div>
  </div>
</section>