<h1 class="h3 mb-3" data-qa="titlePlanAndPricingPage">Plans & Pricing</h1>

<div valorLaunchpadRow>
  <div valorLaunchpadCol md="10" xl="8" class="mx-auto">
    <h1 class="text-center">We have a plan for everyone</h1>
    <p class="lead text-center mb-4">
      Whether you're a business or an individual, 14-day trial no credit card
      required.
    </p>
    <div valorLaunchpadRow class="justify-content-center mt-3 mb-2">
      <div class="col-auto">
        <nav class="nav btn-group">
          <a
            (click)="handleMonthly()"
            class="btn btn-outline-primary"
            [ngClass]="{ active: billyBtnActive }"
            >Monthly billing</a
          >
          <a
            (click)="handleAnnual()"
            class="btn btn-outline-primary"
            [ngClass]="{ active: !billyBtnActive }"
            >Annual billing</a
          >
        </nav>
      </div>
    </div>

    <div class="tab-content">
      <div
        [ngClass]="{
          'tab-pane': true,
          fade: true,
          show: billShow,
          active: billActive
        }"
        id="monthly"
      >
        <div valorLaunchpadRow class="py-4">
          <div valorLaunchpadCol sm="4" class="mb-3 mb-md-0">
            <valor-launchpad-card class="text-center h-100">
              <valor-launchpad-card-content class="d-flex flex-column">
                <div class="mb-4">
                  <h5>Free</h5>
                  <span class="display-4">$0</span>
                </div>
                <h6>Includes:</h6>
                <ul class="list-unstyled">
                  <li class="mb-2">1 users</li>
                  <li class="mb-2">5 projects</li>
                  <li class="mb-2">5 GB storage</li>
                </ul>
                <div class="mt-auto">
                  <a href="#" class="btn btn-lg btn-outline-primary">Sign up</a>
                </div>
              </valor-launchpad-card-content>
            </valor-launchpad-card>
          </div>
          <div valorLaunchpadCol sm="4" class="mb-3 mb-md-0">
            <valor-launchpad-card class="text-center h-100">
              <valor-launchpad-card-content class="d-flex flex-column">
                <div class="mb-4">
                  <h5>Standard</h5>
                  <span class="display-4">$19</span>
                  <span>/mo</span>
                </div>
                <h6>Includes:</h6>
                <ul class="list-unstyled">
                  <li class="mb-2">5 users</li>
                  <li class="mb-2">50 projects</li>
                  <li class="mb-2">50 GB storage</li>
                  <li class="mb-2">Security policy</li>
                  <li class="mb-2">Weekly backups</li>
                </ul>
                <div class="mt-auto">
                  <a href="#" class="btn btn-lg btn-primary">Try it for free</a>
                </div>
              </valor-launchpad-card-content>
            </valor-launchpad-card>
          </div>
          <div valorLaunchpadCol sm="4" class="mb-3 mb-md-0">
            <valor-launchpad-card class="text-center h-100">
              <valor-launchpad-card-content class="d-flex flex-column">
                <div class="mb-4">
                  <h5>Plus</h5>
                  <span class="display-4">$39</span>
                  <span>/mo</span>
                </div>
                <h6>Includes:</h6>
                <ul class="list-unstyled">
                  <li class="mb-2">Unlimited users</li>
                  <li class="mb-2">Unlimited projects</li>
                  <li class="mb-2">250 GB storage</li>
                  <li class="mb-2">Priority support</li>
                  <li class="mb-2">Security policy</li>
                  <li class="mb-2">Daily backups</li>
                  <li class="mb-2">Custom CSS</li>
                </ul>
                <div class="mt-auto">
                  <a href="#" class="btn btn-lg btn-outline-primary"
                    >Try it for free</a
                  >
                </div>
              </valor-launchpad-card-content>
            </valor-launchpad-card>
          </div>
        </div>
      </div>

      <div
        [ngClass]="{
          'tab-pane': true,
          fade: true,
          show: !billShow,
          active: !billActive
        }"
        id="annual"
      >
        <div valorLaunchpadRow class="py-4">
          <div valorLaunchpadCol sm="4" class="mb-3 mb-md-0">
            <valor-launchpad-card class="text-center h-100">
              <valor-launchpad-card-content class="d-flex flex-column">
                <div class="mb-4">
                  <h5>Free</h5>
                  <span class="display-4">$0</span>
                </div>
                <h6>Includes:</h6>
                <ul class="list-unstyled">
                  <li class="mb-2">1 users</li>
                  <li class="mb-2">5 projects</li>
                  <li class="mb-2">5 GB storage</li>
                </ul>
                <div class="mt-auto">
                  <a href="#" class="btn btn-lg btn-outline-primary">Sign up</a>
                </div>
              </valor-launchpad-card-content>
            </valor-launchpad-card>
          </div>
          <div valorLaunchpadCol sm="4" class="mb-3 mb-md-0">
            <valor-launchpad-card class="text-center h-100">
              <valor-launchpad-card-content class="d-flex flex-column">
                <div class="mb-4">
                  <h5>Standard</h5>
                  <span class="display-4">$199</span>
                  <span class="text-small4">/mo</span>
                </div>
                <h6>Includes:</h6>
                <ul class="list-unstyled">
                  <li class="mb-2">5 users</li>
                  <li class="mb-2">50 projects</li>
                  <li class="mb-2">50 GB storage</li>
                  <li class="mb-2">Security policy</li>
                  <li class="mb-2">Weekly backups</li>
                </ul>
                <div class="mt-auto">
                  <a href="#" class="btn btn-lg btn-primary">Try it for free</a>
                </div>
              </valor-launchpad-card-content>
            </valor-launchpad-card>
          </div>
          <div valorLaunchpadCol sm="4" class="mb-3 mb-md-0">
            <valor-launchpad-card class="text-center h-100">
              <valor-launchpad-card-content class="d-flex flex-column">
                <div class="mb-4">
                  <h5>Plus</h5>
                  <span class="display-4">$399</span>
                  <span>/mo</span>
                </div>
                <h6>Includes:</h6>
                <ul class="list-unstyled">
                  <li class="mb-2">Unlimited users</li>
                  <li class="mb-2">Unlimited projects</li>
                  <li class="mb-2">250 GB storage</li>
                  <li class="mb-2">Priority support</li>
                  <li class="mb-2">Security policy</li>
                  <li class="mb-2">Daily backups</li>
                  <li class="mb-2">Custom CSS</li>
                </ul>
                <div class="mt-auto">
                  <a href="#" class="btn btn-lg btn-outline-primary"
                    >Try it for free</a
                  >
                </div>
              </valor-launchpad-card-content>
            </valor-launchpad-card>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div class="text-center my-4">
      <h2>Frequently asked questions</h2>
    </div>
    <div valorLaunchpadRow>
      <div
        valorLaunchpadCol
        md="5"
        SM="6"
        class="ms-auto"
        *ngFor="let faq of faqs"
      >
        <valor-launchpad-card>
          <valor-launchpad-card-content>
            <h5 class="h6 card-title">{{ faq.answer }}</h5>
            <p class="mb-0">{{ faq.question }}</p>
          </valor-launchpad-card-content>
        </valor-launchpad-card>
      </div>
    </div>
  </div>
</div>
