<section class="list-page">
  <div class="list-page-info text-center pb-5 mt-n4">
    <h1>Over 90 pages</h1>
    <span class="main-text">Totally customizable</span>
  </div>
  <div class="img-container">
    <div class="screen-show img-one"></div>
    <div class="screen-show img-two"></div>
    <div class="screen-show img-three"></div>
    <div class="screen-show img-four"></div>
  </div>
  <div class="py-4 text-center">
    <button class="gradual-btn">
      <span class="purple-blue-ft">All pages</span>
      <i
        class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"
      ></i>
    </button>
  </div>
</section>