<h1 class="h3 mb-3">Form Layouts</h1>

<div valorLaunchpadRow>
  <div valorLaunchpadCol [md]="6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 class="card-title">Basic form</h5>
        <h6 class="card-subtitle text-muted">Default Bootstrap form layout.</h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <form [formGroup]="basicFormGroup">
          <valor-launchpad-form-item>
            <label for="email" class="form-label">Email Address</label>
            <input
              type="email"
              valorLaunchpadInput
              id="email"
              placeholder="Email"
              formControlName="email"
            />
          </valor-launchpad-form-item>
          <valor-launchpad-form-item>
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              valorLaunchpadInput
              id="password"
              placeholder="Password"
              formControlName="password"
            />
          </valor-launchpad-form-item>
          <valor-launchpad-form-item>
            <label for="textarea" class="form-label">Textarea</label>
            <textarea
              rows="1"
              valorLaunchpadInput
              id="textarea"
              placeholder="Textarea"
              formControlName="textarea"
            ></textarea>
          </valor-launchpad-form-item>
          <valor-launchpad-form-item>
            <label for="file-input" class="form-label">File input</label>
            <input
              type="file"
              valorLaunchpadInput
              id="file-input"
              formControlName="files"
            />
          </valor-launchpad-form-item>
          <valor-launchpad-form-item>
            <label class="form-check m-0">
              <input
                type="checkbox"
                class="form-check-input"
                formControlName="checked"
              />
              <span class="form-check-label">Check me out</span>
            </label>
          </valor-launchpad-form-item>
          <button valor-launchpad-button>Submit</button>
        </form>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>

  <div valorLaunchpadCol [md]="6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 class="card-title">Horizontal form</h5>
        <h6 class="card-subtitle text-muted">Horizontal Bootstrap layout.</h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <form [formGroup]="horizontalFormGroup">
          <valor-launchpad-form-item>
            <div valorLaunchpadRow>
              <label
                valorLaunchpadCol
                [sm]="2"
                for="h-email"
                class="col-form-label text-sm-right"
                >Email</label
              >
              <div valorLaunchpadCol [sm]="10">
                <input
                  type="email"
                  id="h-email"
                  valorLaunchpadInput
                  placeholder="Email"
                  formControlName="email"
                />
              </div>
            </div>
          </valor-launchpad-form-item>
          <valor-launchpad-form-item>
            <div valorLaunchpadRow>
              <label
                valorLaunchpadCol
                [sm]="2"
                for="h-password"
                class="col-form-label text-sm-right"
                >Password</label
              >
              <div valorLaunchpadCol [sm]="10">
                <input
                  type="password"
                  valorLaunchpadInput
                  id="h-password"
                  placeholder="Password"
                  formControlName="password"
                />
              </div>
            </div>
          </valor-launchpad-form-item>
          <valor-launchpad-form-item>
            <div valorLaunchpadRow>
              <label
                valorLaunchpadCol
                [sm]="2"
                for="h-textarea"
                class="col-form-label text-sm-right"
                >Textarea</label
              >
              <div valorLaunchpadCol [sm]="10">
                <textarea
                  rows="3"
                  valorLaunchpadInput
                  id="h-textarea"
                  placeholder="Textarea"
                  formControlName="textarea"
                ></textarea>
              </div>
            </div>
          </valor-launchpad-form-item>
          <valor-launchpad-form-item>
            <div valorLaunchpadRow>
              <label
                valorLaunchpadCol
                [sm]="2"
                class="col-form-label text-sm-right pt-sm-0"
                >Radios</label
              >
              <div valorLaunchpadCol [sm]="10">
                <valor-launchpad-radio-group formControlName="radio">
                  <label valor-launchpad-radio value="Default radio"
                    >Default radio</label
                  >
                  <label valor-launchpad-radio value="Second default radio"
                    >Second default radio</label
                  >
                  <label
                    valor-launchpad-radio
                    value="Disabled radio"
                    [disabled]="true"
                    >Disabled radio</label
                  >
                </valor-launchpad-radio-group>
              </div>
            </div>
          </valor-launchpad-form-item>
          <valor-launchpad-form-item>
            <div valorLaunchpadRow>
              <label
                valorLaunchpadCol
                [sm]="2"
                class="col-form-label text-sm-right pt-sm-0"
                >Checkbox</label
              >
              <div valorLaunchpadCol [sm]="10">
                <label class="form-check m-0">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    formControlName="checked"
                  />
                  <span class="form-check-label">Check me out</span>
                </label>
              </div>
            </div>
          </valor-launchpad-form-item>
          <button valor-launchpad-button>Submit</button>
        </form>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>

  <div valorLaunchpadCol [span]="12">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 class="card-title">Form row</h5>
        <h6 class="card-subtitle text-muted">Bootstrap column layout.</h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <form [formGroup]="rowFormGroup">
          <div valorLaunchpadRow>
            <valor-launchpad-form-item valorLaunchpadCol [md]="6">
              <label class="form-label" for="r-email">Email</label>
              <input
                type="email"
                valorLaunchpadInput
                id="r-email"
                placeholder="Email"
                formControlName="email"
              />
            </valor-launchpad-form-item>
            <valor-launchpad-form-item valorLaunchpadCol [md]="6">
              <label class="form-label" for="r-password">Password</label>
              <input
                type="password"
                valorLaunchpadInput
                id="r-password"
                placeholder="Password"
                formControlName="password"
              />
            </valor-launchpad-form-item>
          </div>
          <valor-launchpad-form-item>
            <label class="form-label" for="r-address">Address</label>
            <input
              type="text"
              valorLaunchpadInput
              id="r-address"
              placeholder="1234 Main St"
              formControlName="address"
            />
          </valor-launchpad-form-item>
          <valor-launchpad-form-item>
            <label class="form-label" for="r-address2">Address 2</label>
            <input
              type="text"
              valorLaunchpadInput
              id="r-address2"
              placeholder="Apartment, studio, or floor"
              formControlName="address2"
            />
          </valor-launchpad-form-item>
          <div valorLaunchpadRow class="row">
            <valor-launchpad-form-item valorLaunchpadCol [md]="6">
              <label class="form-label" for="inputCity">City</label>
              <input
                type="text"
                valorLaunchpadInput
                id="inputCity"
                formControlName="city"
              />
            </valor-launchpad-form-item>
            <valor-launchpad-form-item valorLaunchpadCol [md]="4">
              <label class="form-label" for="inputState">State</label>
              <select
                id="inputState"
                class="form-select"
                formControlName="state"
              >
                <option selected="">Choose...</option>
                <option>...</option>
              </select>
            </valor-launchpad-form-item>
            <valor-launchpad-form-item valorLaunchpadCol [md]="2">
              <label class="form-label" for="inputZip">Zip</label>
              <input
                type="text"
                valorLaunchpadInput
                id="inputZip"
                formControlName="zip"
              />
            </valor-launchpad-form-item>
          </div>
          <valor-launchpad-form-item>
            <label class="form-check m-0">
              <input
                type="checkbox"
                class="form-check-input"
                formControlName="checked"
              />
              <span class="form-check-label">Check me out</span>
            </label>
          </valor-launchpad-form-item>
          <button valor-launchpad-button type="submit">Submit</button>
        </form>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>

  <div valorLaunchpadCol [span]="12">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 class="card-title">Inline form</h5>
        <h6 class="card-subtitle text-muted">Single horizontal row.</h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content>
        <form
          valorLaunchpadRow
          class="align-items-center"
          [formGroup]="inlineFormGroup"
        >
          <div valorLaunchpadCol [span]="12" [md]="'auto'">
            <label class="sr-only" for="inlineFormInputName2">Name</label>
            <input
              type="text"
              class="form-control mb-2 mr-sm-2"
              id="inlineFormInputName2"
              placeholder="Jane Doe"
              formControlName="name"
            />
          </div>

          <div valorLaunchpadCol [span]="12" [md]="'auto'">
            <label class="sr-only" for="inlineFormInputGroupUsername2"
              >Username</label
            >
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-text">@</div>
              <input
                type="text"
                class="form-control"
                id="inlineFormInputGroupUsername2"
                placeholder="Username"
                formControlName="username"
              />
            </div>
          </div>

          <div valorLaunchpadCol [span]="12" [md]="'auto'">
            <div class="form-check mb-1 mr-sm-2">
              <input
                type="checkbox"
                class="form-check-input"
                id="customControlInline"
                formControlName="remembered"
              />
              <label class="form-check-label" for="customControlInline"
                >Remember me</label
              >
            </div>
          </div>

          <div valorLaunchpadCol [span]="12" [md]="'auto'">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
          </div>
        </form>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
</div>
