<div class="text-center">
  <valor-launchpad-avatar
    *ngIf="$profile | async as profile"
    classes="img-responsive mt-2"
    width="128"
    height="128"
    [src]="!!previewSrc ? previewSrc : (profile.avatar | valorImage)"
    [alt]="profile.avatar?.alt"
    [firstName]="profile.user.firstName"
    [lastName]="profile.user.lastName"
  >
  </valor-launchpad-avatar>

  <div class="mt-2">
    <input
      #fileInput
      type="file"
      accept="image/jpeg"
      style="display: none"
      (change)="onPick(fileInput)"
      maxlength="1"
    />
    <span class="btn btn-primary" (click)="triggerFilePicker(fileInput)"
      ><i class="fas fa-upload"></i> Upload</span
    >
  </div>
  <small
    >For best results, use an image at least 128px by 128px in .jpg
    format</small
  >
</div>
