<section class="introduce">
  <div class="title-text">
    <h2 class="headline-2">Thought<br />Leadership</h2>
    <span class="main-text"
      >We are a team of 110+ talented and passionate individuals. We champion
      new technologies while making sure to always focus on delivering real,
      world impacting value.
    </span>
  </div>
  <div class="dmitriy">
    <div class="main-container">
      <div class="img-container"></div>
      <div class="text-container">
        <h3 class="title">Dmitriy Shekhovtsov</h3>
        <div class="job">CEO</div>
        <div class="main-text">
          With a deep passion for technology and inspiring personal growth, our
          founder and CEO Dmitriy (Dima) started Valor Software to fix what is
          broken with consulting and staff augmentation. Passion and humanity
          were lost in the industry, people were reduced to nothing more than
          "resources". Through Valor and the culture Dima created we are
          striving to bring humanity and passion back to the consulting and
          staff augmentation industry.
        </div>
        <div class="icons">
          <div class="icon-left">
            <a href="#">
              <img
                [src]="'assets/img/twitter-' + theme + '.svg'"
                alt="twitter"
              />
            </a>
            <a href="#">
              <img
                [src]="'assets/img/facebook-' + theme + '.svg'"
                alt="facebook"
              />
            </a>
            <a href="#">
              <img
                [src]="'assets/img/instagram-' + theme + '.svg'"
                alt="instagram"
              />
            </a>
          </div>
          <i class="align-middle fas fa-fw fa-long-arrow-alt-right"></i>
        </div>
      </div>
    </div>
  </div>
</section>
