<h1 class="h3 mb-3">Embed Video</h1>

<div class="row">
  <div class="col-12 col-lg-6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Responsive embed video 21:9</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">
          21:9 aspect ratio
        </h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content class="pt-0">
        <valor-launchpad-embed-video
          videoUrl="https://www.youtube.com/embed/hi4pzKvuEQM?autohide=0&showinfo=0&controls=0"
          videoAspect="21:9"
        ></valor-launchpad-embed-video>
      </valor-launchpad-card-content>
    </valor-launchpad-card>

    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Responsive embed video 1:1</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">
          1:1 aspect ratio
        </h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content class="pt-0">
        <valor-launchpad-embed-video
          videoUrl="https://www.youtube.com/embed/hi4pzKvuEQM?autohide=0&showinfo=0&controls=0"
          videoAspect="1:1"
        ></valor-launchpad-embed-video>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
  <div class="col-12 col-lg-6">
    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Responsive embed video 16:9</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">
          16:9 aspect ratio
        </h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content class="pt-0">
        <valor-launchpad-embed-video
          videoUrl="https://www.youtube.com/embed/hi4pzKvuEQM?autohide=0&showinfo=0&controls=0"
          videoAspect="16:9"
        ></valor-launchpad-embed-video>
      </valor-launchpad-card-content>
    </valor-launchpad-card>

    <valor-launchpad-card>
      <valor-launchpad-card-header>
        <h5 valor-launchpad-card-title>Responsive embed video 4:3</h5>
        <h6 valor-launchpad-card-subtitle class="text-muted">
          4:3 aspect ratio
        </h6>
      </valor-launchpad-card-header>
      <valor-launchpad-card-content class="pt-0">
        <valor-launchpad-embed-video
          videoUrl="https://www.youtube.com/embed/hi4pzKvuEQM?autohide=0&showinfo=0&controls=0"
          videoAspect="4:3"
        ></valor-launchpad-embed-video>
      </valor-launchpad-card-content>
    </valor-launchpad-card>
  </div>
</div>
