<h1 class="h3 mb-3">Embed Video</h1>

<div class="row">
  <div class="col-12 col-lg-6">
    <valor-launchpad-card>
      <div card-header>
        <h5 class="card-title">Responsive embed video 21:9</h5>
        <h6 class="card-subtitle text-muted">21:9 aspect ratio</h6>
      </div>
      <div card-body class="pt-0">
        <valor-launchpad-embed-video
          videoUrl="https://www.youtube.com/embed/hi4pzKvuEQM?autohide=0&showinfo=0&controls=0"
          videoAspect="21:9"
        ></valor-launchpad-embed-video>
      </div>
    </valor-launchpad-card>

    <valor-launchpad-card>
      <div card-header>
        <h5 class="card-title">Responsive embed video 1:1</h5>
        <h6 class="card-subtitle text-muted">1:1 aspect ratio</h6>
      </div>
      <div card-body class="pt-0">
        <valor-launchpad-embed-video
          videoUrl="https://www.youtube.com/embed/hi4pzKvuEQM?autohide=0&showinfo=0&controls=0"
          videoAspect="1:1"
        ></valor-launchpad-embed-video>
      </div>
    </valor-launchpad-card>
  </div>
  <div class="col-12 col-lg-6">
    <valor-launchpad-card>
      <div card-header>
        <h5 class="card-title">Responsive embed video 16:9</h5>
        <h6 class="card-subtitle text-muted">16:9 aspect ratio</h6>
      </div>
      <div card-body class="pt-0">
        <valor-launchpad-embed-video
          videoUrl="https://www.youtube.com/embed/hi4pzKvuEQM?autohide=0&showinfo=0&controls=0"
          videoAspect="16:9"
        ></valor-launchpad-embed-video>
      </div>
    </valor-launchpad-card>
    <valor-launchpad-card>
      <div card-header>
        <h5 class="card-title">Responsive embed video 4:3</h5>
        <h6 class="card-subtitle text-muted">4:3 aspect ratio</h6>
      </div>
      <div card-body class="pt-0">
        <valor-launchpad-embed-video
          videoUrl="https://www.youtube.com/embed/hi4pzKvuEQM?autohide=0&showinfo=0&controls=0"
          videoAspect="4:3"
        ></valor-launchpad-embed-video>
      </div>
    </valor-launchpad-card>
  </div>
</div>
