<a
  *ngIf="messenger"
  class="list-group-item list-group-item-action border-0"
  [class.selected]="active"
>
  <div
    class="badge float-end bg-success"
    *ngIf="messenger.unreadMessages && messenger.unreadMessages.length > 0"
  >
    {{ messenger.unreadMessages.length }}
  </div>
  <div class="d-flex align-items-start">
    <valor-launchpad-thread-avatar
      [thread]="messenger"
    ></valor-launchpad-thread-avatar>

    <div class="flex-grow-1 ms-3" style="min-width: 0">
      <div
        style="
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
          overflow: hidden;
        "
      >
        <ng-container
          *ngIf="messenger.isGroup && !messenger.name?.length; else normal"
        >
          {{ genGroupName }}
        </ng-container>
        <ng-template #normal>
          {{ messenger.name }}
        </ng-template>
      </div>
      <div class="small" *ngIf="displayStatus">
        <ng-container *ngIf="!messenger.isGroup">
          <span
            class="fas fa-circle"
            [ngClass]="messenger.isConnected ? 'chat-online' : 'chat-offline'"
          ></span>
          {{ messenger.isConnected ? 'Online' : 'Offline' }}
        </ng-container>
      </div>
    </div>
  </div>
</a>
