<section class="conduct-wrap mt-5 section-two">
  <div class="conduct-title">
    <a href="#">
      <img
        class="ngx-bootstrap-logo"
        [src]="'assets/ngx-bootstrap-' + theme + '.svg'"
        alt="ngx-bootstrap"
      />
    </a>
    <h1 class="lg-text pt-5">
      Stop wasting
      <span class="purple-blue-ft">your time</span>
    </h1>
  </div>
  <div class="get-started-btn-container">
    <button class="get-started-btn">
      <span class="fw-bold">Get started now</span>
      <i
        class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"
      ></i>
    </button>
    <div class="desc">
      <div class="wast-li">
        <li>One monorepo</li>
        <span>Everything you need in one Nx Workspace</span>
      </div>
      <div class="wast-li">
        <li>Complete</li>
        <span>Everything you need to launch in minutes</span>
      </div>
      <div class="wast-li">
        <li>Extensible</li>
        <span
          >Built with technologies and an architecture you know and trust</span
        >
      </div>
    </div>
  </div>
</section>