<div class="main d-flex justify-content-center w-100">
  <main class="content d-flex p-0">
    <div class="container d-flex flex-column">
      <div valorLaunchpadRow class="h-100">
        <div
          valorLaunchpadCol
          [sm]="10"
          [md]="8"
          [lg]="6"
          class="mx-auto d-table h-100"
        >
          <div class="d-table-cell align-middle">
            <valor-launchpad-card>
              <valor-launchpad-card-content>
                <div class="m-sm-4 text-center">
                  <h1>{{ message }}</h1>
                  <button
                    valor-launchpad-button
                    size="lg"
                    theme="primary"
                    [routerLink]="['/sign-in']"
                  >
                    Back to Sign In
                  </button>
                </div>
              </valor-launchpad-card-content>
            </valor-launchpad-card>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
