<h1 class="h3 mb-3">Grid</h1>

<valor-launchpad-card>
  <valor-launchpad-card-header>
    <h5 class="card-title">Grid system</h5>
    <h6 class="card-subtitle text-muted">Powerful mobile-first flexbox grid</h6>
  </valor-launchpad-card-header>
  <valor-launchpad-card-content>
    <div valorLaunchpadRow>
      <div class="col-md-12 text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-12</div>
        </div>
      </div>
    </div>

    <div valorLaunchpadRow>
      <div valorLaunchpadCol md="6" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-6</div>
        </div>
      </div>
      <div valorLaunchpadCol md="6" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-6</div>
        </div>
      </div>
    </div>

    <div valorLaunchpadRow>
      <div valorLaunchpadCol md="4" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-4</div>
        </div>
      </div>
      <div valorLaunchpadCol md="4" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-4</div>
        </div>
      </div>
      <div valorLaunchpadCol md="4" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-4</div>
        </div>
      </div>
    </div>

    <div valorLaunchpadRow>
      <div valorLaunchpadCol md="3" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-3</div>
        </div>
      </div>
      <div valorLaunchpadCol md="3" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-3</div>
        </div>
      </div>
      <div valorLaunchpadCol md="3" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-3</div>
        </div>
      </div>
      <div valorLaunchpadCol md="3" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-3</div>
        </div>
      </div>
    </div>

    <div valorLaunchpadRow>
      <div valorLaunchpadCol md="2" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-2</div>
        </div>
      </div>
      <div valorLaunchpadCol md="2" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-2</div>
        </div>
      </div>
      <div valorLaunchpadCol md="2" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-2</div>
        </div>
      </div>
      <div valorLaunchpadCol md="2" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-2</div>
        </div>
      </div>
      <div valorLaunchpadCol md="2" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-2</div>
        </div>
      </div>
      <div valorLaunchpadCol md="2" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-2</div>
        </div>
      </div>
    </div>

    <div valorLaunchpadRow class="d-xxl-flex">
      <div valorLaunchpadCol md="1" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-1</div>
        </div>
      </div>
      <div valorLaunchpadCol md="1" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-1</div>
        </div>
      </div>
      <div valorLaunchpadCol md="1" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-1</div>
        </div>
      </div>
      <div valorLaunchpadCol md="1" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-1</div>
        </div>
      </div>
      <div valorLaunchpadCol md="1" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-1</div>
        </div>
      </div>
      <div valorLaunchpadCol md="1" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-1</div>
        </div>
      </div>
      <div valorLaunchpadCol md="1" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-1</div>
        </div>
      </div>
      <div valorLaunchpadCol md="1" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-1</div>
        </div>
      </div>
      <div valorLaunchpadCol md="1" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-1</div>
        </div>
      </div>
      <div valorLaunchpadCol md="1" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-1</div>
        </div>
      </div>
      <div valorLaunchpadCol md="1" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-1</div>
        </div>
      </div>
      <div valorLaunchpadCol md="1" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-1</div>
        </div>
      </div>
    </div>

    <div valorLaunchpadRow>
      <div valorLaunchpadCol md="8" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-8</div>
        </div>
      </div>
      <div valorLaunchpadCol md="4" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-4</div>
        </div>
      </div>
    </div>

    <div valorLaunchpadRow>
      <div valorLaunchpadCol md="3" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-3</div>
        </div>
      </div>
      <div valorLaunchpadCol md="6" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-6</div>
        </div>
      </div>
      <div valorLaunchpadCol md="3" class="text-center">
        <div class="card bg-light py-2 py-md-3 border">
          <div class="card-body">.col-md-3</div>
        </div>
      </div>
    </div>
  </valor-launchpad-card-content>
</valor-launchpad-card>
