<section class="think-about">
  <div class="title">What people think about Valor Admin</div>
  <div class="text-container">
    <div class="img-container"></div>
    <div class="answer">
      ”Now that we have valor admin, my team can reach the highest perfomance ”
    </div>
    <div class="think-name">Harry Smith</div>
    <div class="think-profile">Senior FullStack Developer</div>
    <div class="think-bottom">
      <i
        class="
          fas
          fa-fw fa-long-arrow-alt-right
          end-0
        "
      ></i>
    </div>
  </div>
</section>
