<footer class="footer">
  <div class="container-fluid">
    <div class="row text-muted">
      <div class="col-6 text-start">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="text-muted" href="#">Support</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#">Help Center</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#">Terms of Service</a>
          </li>
        </ul>
      </div>
      <div class="col-6 text-end">
        <p class="mb-0">
          &copy; {{currentYear}} - <a href="https://valor-software.com" target="_blank" class="text-muted">Made with 💖 by Valor Software</a>
        </p>
      </div>
    </div>
  </div>
</footer>
