<section class="benefits">
  <h2 class="headline-2 title">Benefits</h2>
  <div>Lorem ipsum dolor sit amet, consectetur</div>
  <div>adipisicing elit, sed do eiusmod tempor</div>
  <div>incididunt ut labore et dolore magna.</div>
  <div class="buttons text-center">
    <button class="gradual-btn">
      <span class="purple-blue-ft">Start now</span>
      <i
        class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"
      ></i>
    </button>
    <button class="gradual-btn">
      <span class="purple-blue-ft">Watch intro</span>
      <i
        class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"
      ></i>
    </button>
  </div>
  <img src="/assets/img/benefits-dark.svg" />
</section>