<div class="page">
  <div class="wrapper">
    <div class="primary">
      <div class="empty"></div>
      <div class="empty-1"></div>
      <div class="empty-2"></div>
      <div class="group">
        <div class="empty-3"></div>
      </div>
    </div>
    <img
      class="logo"
      src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/240940d054b611ec97c5e932125f52b3.png"
    />
  </div>
  <div class="wrapper-1">
    <div class="primary-1"><span class="email">E-mail</span></div>
    <button class="btn">
      <span class="azure-gradient">Subscribe</span>
      <i class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"></i>
    </button>
  </div>
  <div class="empty-4"></div>
  <div class="wrapper-3">
        <span class="article"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat accumsan in tellus non risus iaculis
          tempus, in vestibulum. Nisl mauris velit tristique a, tellus ut.</span
        >
  </div>
  <div style="display: flex;justify-content: center;align-items: center;width: 100%;">
    <button class="see-our-plans">
      <span class="fw-bold">See our plans</span>
      <i class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"></i>
    </button>
  </div>
  <div class="wrapper-5">
    <span class="info-1">Plans for everyone</span>
  </div>
  <div class="wrapper-6">
    <span class="summary">Lorem ipsum dolor sit amet. Est placeat corporis et temporibus</span>
  </div>
  <div class="plans-card-item d-flex flex-column justify-content-center align-items-center">
    <div class="plans-card-item__t d-flex flex-column justify-content-center align-items-center">Free</div>
    <div class="plans-card-item__b flex-grow-1 d-flex flex-column justify-content-around align-items-center">
      <div class="d-flex flex-column justify-content-around align-items-center">
        <div class="plans-card-item__desc d-flex flex-column justify-content-around align-items-center">
          <span class="fw-bold">Start Plan</span>
          <span>For personal use</span>
        </div>
      </div>
      <button class="gradual-btn">
        <span class="purple-blue-ft">Buy This</span>
      </button>
      <span class="learn-more">Learn more</span>
    </div>
  </div>
  <div class="wrapper-7">
        <span class="info-3">See detailed plan comparison</span
        ><img
    class="icon-down-1"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2456c49054b611eca695f533ab6351b1.png"
  />
  </div>
  <div class="pages-wrapper purple-blue-ft"><span class="pages">Pages</span></div>
  <div class="email-credits-wrapper"><span class="email-credits">Email credits</span></div>
  <div class="wrapper-8"><span class="free-1">Free</span><span class="month">50/month</span></div>
  <div class="wrapper-9"><span class="standard">Standard</span><span class="month-1">50/month</span></div>
  <div class="wrapper-10"><span class="standard-1">Standard +</span><span class="month-2">200/month</span></div>
  <div class="wrapper-11"><span class="support">Support</span><span class="ulimited">Ulimited</span></div>
  <div class="wrapper-12"><span class="cloud">Cloud</span><span class="ulimited-1">Ulimited</span></div>
  <div class="wrapper-13"><span class="cloud">Custom</span><span class="ulimited-2">Ulimited</span></div>
  <div class="wrapper-14">
    <div class="wrapper-inner-3">
      <div class="overlayer"></div>
    </div>
  </div>
  <div class="direct-dials-wrapper"><span class="direct-dials">Direct Dials</span></div>
  <div class="wrapper-15">
        <span class="free-2">Free</span
        ><img
    class="icon-mark"
  />
  </div>
  <div class="wrapper-16">
        <span class="standard-2">Standard</span
        ><img
    class="icon-complete-1"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2426b3e054b611ec95a6b5d9bfc743b9.png"
  />
  </div>
  <div class="wrapper-17"><span class="standard-3">Standard +</span><span class="month-3">200/month</span></div>
  <div class="wrapper-18"><span class="support-1">Support</span><span class="ulimited-3">Ulimited</span></div>
  <div class="wrapper-19"><span class="cloud-1">Cloud</span><span class="ulimited-4">Ulimited</span></div>
  <div class="wrapper-20"><span class="custom-1">Custom</span><span class="ulimited-5">Ulimited</span></div>
  <div class="wrapper-21">
    <div class="wrapper-inner-4">
      <div class="layer-2"></div>
    </div>
  </div>
  <div class="support-wrapper"><span class="support-2">Support</span></div>
  <div class="wrapper-22">
        <span class="free-3">Free</span
        ><img
    class="icon-complete-2"
    src="assets/img/pricing/right.png"
  />
  </div>
  <div class="wrapper-23">
        <span class="standard-4">Standard</span
        ><img
    class="icon-complete-3"
    src="assets/img/pricing/right.png"
  />
  </div>
  <div class="wrapper-24"><span class="standard-5">Standard +</span><span class="months">+6 months</span></div>
  <div class="wrapper-25"><span class="support-3">Support</span><span class="custom-2">Custom</span></div>
  <div class="wrapper-26"><span class="cloud-2">Cloud</span><span class="months-1">3 months</span></div>
  <div class="wrapper-27"><span class="custom-3">Custom</span><span class="ulimited-6">Ulimited</span></div>
  <div class="wrapper-28">
    <div class="wrapper-inner-5">
      <div class="mask-1"></div>
    </div>
  </div>
  <div class="wrapper-29"><span class="info-4">Record Selection Limits</span></div>
  <div class="wrapper-30"><span class="free-4">Free</span><span class="num">25</span></div>
  <div class="wrapper-31"><span class="standard-6">Standard </span><span class="num-1">25</span></div>
  <div class="wrapper-32"><span class="standard-7">Standard +</span><span class="num-2">25</span></div>
  <div class="wrapper-33"><span class="support-4">Support</span><span class="num-3">25</span></div>
  <div class="wrapper-34"><span class="cloud-3">Cloud</span><span class="num-4">2500</span></div>
  <div class="wrapper-35"><span class="custom-4">Custom</span><span class="num-5">2500</span></div>
  <div class="wrapper-36">
    <div class="wrapper-inner-6">
      <div class="overlayer-1"></div>
    </div>
  </div>
  <div class="linkedin-extension-wrapper"><span class="linkedin-extension">Linkedin Extension</span></div>
  <div class="wrapper-37">
        <span class="free-5">Free</span
        ><img
    class="icon-complete-4"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2426daf054b611ec9796af92b2815103.png"
  />
  </div>
  <div class="wrapper-38">
        <span class="standard-8">Standard </span
        ><img
    class="icon-complete-5"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242af9a054b611ecad9ee319c1edd709.png"
  />
  </div>
  <div class="wrapper-39">
        <span class="standard-9">Standard +</span
        ><img
    class="icon-complete-6"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2426daf054b611ec8ea2157c737b8d1c.png"
  />
  </div>
  <div class="wrapper-40">
        <span class="support-5">Support</span
        ><img
    class="icon-complete-7"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2427502054b611ec9524c92faa47eee2.png"
  />
  </div>
  <div class="wrapper-41">
        <span class="cloud-4">Cloud</span
        ><img
    class="icon-complete-8"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242aab8054b611eca695f533ab6351b1.png"
  />
  </div>
  <div class="wrapper-42">
        <span class="custom-5">Custom</span
        ><img
    class="icon-complete-9"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2426daf054b611ec83d8c53c90f07803.png"
  />
  </div>
  <div class="wrapper-43">
    <div class="wrapper-inner-7">
      <div class="layer-3"></div>
    </div>
  </div>
  <div class="csv-export-wrapper"><span class="csv-export">CSV Export</span></div>
  <div class="wrapper-44">
        <span class="free-6">Free</span
        ><img
    class="icon-complete-10"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2427020054b611eca868a1715096657e.png"
  />
  </div>
  <div class="wrapper-45">
        <span class="standard-10">Standard </span
        ><img
    class="icon-complete-11"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2427773054b611ecb3560b3100a1d592.png"
  />
  </div>
  <div class="wrapper-46">
        <span class="standard-11">Standard +</span
        ><img
    class="icon-complete-12"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242ad29054b611ec890dff9b7ade287f.png"
  />
  </div>
  <div class="wrapper-47">
        <span class="support-6">Support</span
        ><img
    class="icon-complete-13"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242aab8054b611ec97c5e932125f52b3.png"
  />
  </div>
  <div class="wrapper-48">
        <span class="cloud-5">Cloud</span
        ><img
    class="icon-complete-14"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242b95e054b611ec97588bdc0751830e.png"
  />
  </div>
  <div class="wrapper-49">
        <span class="custom-6">Custom</span
        ><img
    class="icon-complete-15"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2429e83054b611eca4174d4b833d917d.png"
  />
  </div>
  <div class="wrapper-50">
    <div class="wrapper-inner-8">
      <div class="mask-2"></div>
    </div>
  </div>
  <div class="basic-filters-wrapper"><span class="basic-filters">Basic Filters</span></div>
  <div class="wrapper-51">
        <span class="free-7">Free</span
        ><img
    class="icon-close"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242924e054b611ec9f6f49e793eeab37.png"
  />
  </div>
  <div class="wrapper-52">
        <span class="standard-12">Standard </span
        ><img
    class="icon-close-1"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2428fdd054b611ecba14efacec06f44b.png"
  />
  </div>
  <div class="wrapper-53">
        <span class="standard-13">Standard +</span
        ><img
    class="icon-complete-16"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242924e054b611ec9af579d6aa238efd.png"
  />
  </div>
  <div class="wrapper-54">
        <span class="support-7">Support</span
        ><img
    class="icon-complete-17"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242924e054b611eca5003f0c49c89969.png"
  />
  </div>
  <div class="wrapper-55">
        <span class="cloud-6">Cloud</span
        ><img
    class="icon-complete-18"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242a0f4054b611ec821493b01e96d4a1.png"
  />
  </div>
  <div class="wrapper-56">
        <span class="custom-7">Custom</span
        ><img
    class="icon-complete-19"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242a5d6054b611ec95a6b5d9bfc743b9.png"
  />
  </div>
  <div class="wrapper-57">
    <div class="wrapper-inner-9">
      <div class="overlayer-2"></div>
    </div>
  </div>
  <div class="advanced-filters-wrapper"><span class="advanced-filters">Advanced Filters</span></div>
  <div class="wrapper-58">
        <span class="free-8">Free</span
        ><img
    class="icon-close-2"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242c322054b611ec9796af92b2815103.png"
  />
  </div>
  <div class="wrapper-59">
        <span class="standard-14">Standard </span
        ><img
    class="icon-close-3"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242c322054b611ec8ea2157c737b8d1c.png"
  />
  </div>
  <div class="wrapper-60">
        <span class="standard-15">Standard +</span
        ><img
    class="icon-complete-20"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242c804054b611eca695f533ab6351b1.png"
  />
  </div>
  <div class="wrapper-61">
        <span class="support-8">Support</span
        ><img
    class="icon-complete-21"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242c804054b611ec83d8c53c90f07803.png"
  />
  </div>
  <div class="wrapper-62">
        <span class="cloud-7">Cloud</span
        ><img
    class="icon-complete-22"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242c593054b611ec9524c92faa47eee2.png"
  />
  </div>
  <div class="wrapper-63">
        <span class="custom-8">Custom</span
        ><img
    class="icon-complete-23"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242c804054b611eca868a1715096657e.png"
  />
  </div>
  <div class="wrapper-64">
    <div class="wrapper-inner-10">
      <div class="layer-4"></div>
    </div>
  </div>
  <div class="scoring-engine-wrapper"><span class="scoring-engine">Scoring Engine</span></div>
  <div class="wrapper-65">
        <span class="free-9">Free</span
        ><img
    class="icon-complete-24"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/243002b054b611ecb3560b3100a1d592.png"
  />
  </div>
  <div class="wrapper-66">
        <span class="standard-16">Standard </span
        ><img
    class="icon-complete-25"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242f667054b611ec890dff9b7ade287f.png"
  />
  </div>
  <div class="wrapper-67">
        <span class="standard-17">Standard +</span
        ><img
    class="icon-complete-26"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242fb49054b611ec9f6f49e793eeab37.png"
  />
  </div>
  <div class="wrapper-68">
        <span class="support-9">Support</span
        ><img
    class="icon-complete-27"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242f8d8054b611ec97c5e932125f52b3.png"
  />
  </div>
  <div class="wrapper-69">
        <span class="cloud-8">Cloud</span
        ><img
    class="icon-complete-28"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242f8d8054b611eca4174d4b833d917d.png"
  />
  </div>
  <div class="wrapper-70">
        <span class="custom-9">Custom</span
        ><img
    class="icon-complete-29"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242f8d8054b611ecba14efacec06f44b.png"
  />
  </div>
  <div class="wrapper-71">
    <div class="wrapper-inner-11">
      <div class="mask-3"></div>
    </div>
  </div>
  <div class="enrichment-wrapper"><span class="enrichment">Enrichment</span></div>
  <div class="wrapper-72">
        <span class="free-10">Free</span
        ><img
    class="icon-close-4"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/242fdba054b611ec9af579d6aa238efd.png"
  />
  </div>
  <div class="wrapper-73">
        <span class="standard-18">Standard </span
        ><img
    class="icon-close-5"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2431fe8054b611eca5003f0c49c89969.png"
  />
  </div>
  <div class="wrapper-74">
        <span class="standard-19">Standard +</span
        ><img
    class="icon-complete-30"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24313b3054b611ec821493b01e96d4a1.png"
  />
  </div>
  <div class="wrapper-75">
        <span class="support-10">Support</span
        ><img
    class="icon-complete-31"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24330ff054b611ec95a6b5d9bfc743b9.png"
  />
  </div>
  <div class="wrapper-76">
        <span class="cloud-9">Cloud</span
        ><img
    class="icon-complete-32"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2433370054b611ecad9ee319c1edd709.png"
  />
  </div>
  <div class="wrapper-77">
        <span class="custom-10">Custom</span
        ><img
    class="icon-complete-33"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2433370054b611ec9796af92b2815103.png"
  />
  </div>
  <div class="wrapper-78">
    <div class="wrapper-inner-12">
      <div class="overlayer-3"></div>
    </div>
  </div>
  <div class="wrapper-79"><span class="info-5">Job Change Alert</span></div>
  <div class="wrapper-80">
        <span class="free-11">Free</span
        ><img
    class="icon-close-6"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2433ac3054b611ec8ea2157c737b8d1c.png"
  />
  </div>
  <div class="wrapper-81">
        <span class="standard-20">Standard </span
        ><img
    class="icon-close-7"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24335e1054b611ec97588bdc0751830e.png"
  />
  </div>
  <div class="wrapper-82">
        <span class="standard-21">Standard +</span
        ><img
    class="icon-close-8"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2433852054b611eca695f533ab6351b1.png"
  />
  </div>
  <div class="wrapper-83">
        <span class="support-11">Support</span
        ><img
    class="icon-close-9"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24361d3054b611eca868a1715096657e.png"
  />
  </div>
  <div class="wrapper-84">
        <span class="cloud-10">Cloud</span
        ><img
    class="icon-complete-34"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2436444054b611ec9524c92faa47eee2.png"
  />
  </div>
  <div class="wrapper-85">
        <span class="custom-11">Custom</span
        ><img
    class="icon-complete-35"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2435cf1054b611ecb3560b3100a1d592.png"
  />
  </div>
  <div class="wrapper-86">
    <div class="wrapper-inner-13">
      <div class="layer-5"></div>
    </div>
  </div>
  <div class="wrapper-87 purple-blue-ft"><span class="info-6">View 85 more pages</span></div>
  <div class="integrations-wrapper purple-blue-ft"><span class="integrations">Integrations</span></div>
  <div class="jwt-wrapper"><span class="jwt">JWT</span></div>
  <div class="wrapper-88"><span class="free-12">Free</span><span class="month-4">50/month</span></div>
  <div class="wrapper-89"><span class="standard-22">Standard</span><span class="month-5">50/month</span></div>
  <div class="wrapper-90"><span class="standard-23">Standard +</span><span class="month-6">200/month</span></div>
  <div class="wrapper-91"><span class="support-12">Support</span><span class="ulimited-7">Ulimited</span></div>
  <div class="wrapper-92"><span class="cloud-11">Cloud</span><span class="ulimited-8">Ulimited</span></div>
  <div class="wrapper-93"><span class="custom-12">Custom</span><span class="ulimited-9">Ulimited</span></div>
  <div class="wrapper-94">
    <div class="wrapper-inner-14">
      <div class="mask-4"></div>
    </div>
  </div>
  <div class="nest-node-wrapper"><span class="nest-node">Nest / Node</span></div>
  <div class="wrapper-95">
        <span class="free-13">Free</span
        ><img
    class="icon-complete-36"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2435a80054b611ec83d8c53c90f07803.png"
  />
  </div>
  <div class="wrapper-96">
        <span class="standard-24">Standard</span
        ><img
    class="icon-complete-37"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24366b5054b611eca4174d4b833d917d.png"
  />
  </div>
  <div class="wrapper-97"><span class="standard-25">Standard +</span><span class="month-7">200/month</span></div>
  <div class="wrapper-98"><span class="support-13">Support</span><span class="ulimited-10">Ulimited</span></div>
  <div class="wrapper-99"><span class="cloud-12">Cloud</span><span class="ulimited-11">Ulimited</span></div>
  <div class="wrapper-100"><span class="custom-13">Custom</span><span class="ulimited-12">Ulimited</span></div>
  <div class="wrapper-101">
    <div class="wrapper-inner-15">
      <div class="overlayer-4"></div>
    </div>
  </div>
  <div class="prisma-wrapper"><span class="prisma">Prisma</span></div>
  <div class="wrapper-102">
        <span class="free-14">Free</span
        ><img
    class="icon-complete-38"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2436926054b611ec97c5e932125f52b3.png"
  />
  </div>
  <div class="wrapper-103">
        <span class="standard-26">Standard</span
        ><img
    class="icon-complete-39"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2436b97054b611ec890dff9b7ade287f.png"
  />
  </div>
  <div class="wrapper-104"><span class="standard-27">Standard +</span><span class="months-2">+6 months</span></div>
  <div class="wrapper-105"><span class="support-14">Support</span><span class="custom-14">Custom</span></div>
  <div class="wrapper-106"><span class="cloud-13">Cloud</span><span class="months-3">3 months</span></div>
  <div class="wrapper-107"><span class="custom-15">Custom</span><span class="ulimited-13">Ulimited</span></div>
  <div class="wrapper-108">
    <div class="wrapper-inner-16">
      <div class="layer-6"></div>
    </div>
  </div>
  <div class="redis-wrapper"><span class="redis">Redis</span></div>
  <div class="wrapper-109"><span class="free-15">Free</span><span class="num-6">25</span></div>
  <div class="wrapper-110"><span class="standard-28">Standard </span><span class="num-7">25</span></div>
  <div class="wrapper-111"><span class="standard-29">Standard +</span><span class="num-8">25</span></div>
  <div class="wrapper-112"><span class="support-15">Support</span><span class="num-9">25</span></div>
  <div class="wrapper-113"><span class="cloud-14">Cloud</span><span class="num-10">2500</span></div>
  <div class="wrapper-114"><span class="custom-16">Custom</span><span class="num-11">2500</span></div>
  <div class="wrapper-115">
    <div class="wrapper-inner-17">
      <div class="mask-5"></div>
    </div>
  </div>
  <div class="sql-wrapper"><span class="sql">My SQL</span></div>
  <div class="wrapper-116">
        <span class="free-16">Free</span
        ><img
    class="icon-complete-40"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24361d3054b611ec9f6f49e793eeab37.png"
  />
  </div>
  <div class="wrapper-117">
        <span class="standard-30">Standard </span
        ><img
    class="icon-complete-41"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2435f62054b611ecba14efacec06f44b.png"
  />
  </div>
  <div class="wrapper-118">
        <span class="standard-31">Standard +</span
        ><img
    class="icon-complete-42"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2439789054b611ecad9ee319c1edd709.png"
  />
  </div>
  <div class="wrapper-119">
        <span class="support-16">Support</span
        ><img
    class="icon-complete-43"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24392a7054b611eca5003f0c49c89969.png"
  />
  </div>
  <div class="wrapper-120">
        <span class="cloud-15">Cloud</span
        ><img
    class="icon-complete-44"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2439518054b611ec95a6b5d9bfc743b9.png"
  />
  </div>
  <div class="wrapper-121">
        <span class="custom-17">Custom</span
        ><img
    class="icon-complete-45"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24392a7054b611ec9af579d6aa238efd.png"
  />
  </div>
  <div class="wrapper-122">
    <div class="wrapper-inner-18">
      <div class="overlayer-5"></div>
    </div>
  </div>
  <div class="ngxbootstrap-wrapper"><span class="ngxbootstrap">ngx-Bootstrap</span></div>
  <div class="wrapper-123">
        <span class="free-17">Free</span
        ><img
    class="icon-complete-46"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/243d492054b611ec821493b01e96d4a1.png"
  />
  </div>
  <div class="wrapper-124">
        <span class="standard-32">Standard </span
        ><img
    class="icon-complete-47"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/243a14d054b611ec8ea2157c737b8d1c.png"
  />
  </div>
  <div class="wrapper-125">
        <span class="standard-33">Standard +</span
        ><img
    class="icon-complete-48"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24392a7054b611ec97588bdc0751830e.png"
  />
  </div>
  <div class="wrapper-126">
        <span class="support-17">Support</span
        ><img
    class="icon-complete-49"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2439edc054b611eca695f533ab6351b1.png"
  />
  </div>
  <div class="wrapper-127">
        <span class="cloud-16">Cloud</span
        ><img
    class="icon-complete-50"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2439518054b611ec9796af92b2815103.png"
  />
  </div>
  <div class="wrapper-128">
        <span class="custom-18">Custom</span
        ><img
    class="icon-complete-51"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/243b746054b611ec9524c92faa47eee2.png"
  />
  </div>
  <div class="wrapper-129">
    <div class="wrapper-inner-19">
      <div class="layer-7"></div>
    </div>
  </div>
  <div class="angular-wrapper"><span class="angular">Angular</span></div>
  <div class="wrapper-130">
        <span class="free-18">Free</span
        ><img
    class="icon-close-10"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/243bc28054b611eca868a1715096657e.png"
  />
  </div>
  <div class="wrapper-131">
        <span class="standard-34">Standard </span
        ><img
    class="icon-close-11"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/243cfb0054b611ec83d8c53c90f07803.png"
  />
  </div>
  <div class="wrapper-132">
        <span class="standard-35">Standard +</span
        ><img
    class="icon-complete-52"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/243e81a054b611ec890dff9b7ade287f.png"
  />
  </div>
  <div class="wrapper-133">
        <span class="support-18">Support</span
        ><img
    class="icon-complete-53"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/243de56054b611ecb3560b3100a1d592.png"
  />
  </div>
  <div class="wrapper-134">
        <span class="cloud-17">Cloud</span
        ><img
    class="icon-complete-54"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/243d703054b611ec97c5e932125f52b3.png"
  />
  </div>
  <div class="wrapper-135">
        <span class="custom-19">Custom</span
        ><img
    class="icon-complete-55"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/243ea8b054b611eca4174d4b833d917d.png"
  />
  </div>
  <div class="wrapper-136">
    <div class="wrapper-inner-20">
      <div class="mask-6"></div>
    </div>
  </div>
  <div class="workspaces-docker-wrapper"><span class="workspaces-docker">Workspaces / Docker</span></div>
  <div class="wrapper-137">
        <span class="free-19">Free</span
        ><img
    class="icon-close-12"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/243f931054b611ec9f6f49e793eeab37.png"
  />
  </div>
  <div class="wrapper-138">
        <span class="standard-36">Standard </span
        ><img
    class="icon-close-13"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/243f931054b611ecba14efacec06f44b.png"
  />
  </div>
  <div class="wrapper-139">
        <span class="standard-37">Standard +</span
        ><img
    class="icon-complete-56"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2440566054b611eca5003f0c49c89969.png"
  />
  </div>
  <div class="wrapper-140">
        <span class="support-19">Support</span
        ><img
    class="icon-complete-57"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/243fe13054b611ec9af579d6aa238efd.png"
  />
  </div>
  <div class="wrapper-141">
        <span class="cloud-18">Cloud</span
        ><img
    class="icon-complete-58"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24407d7054b611eca695f533ab6351b1.png"
  />
  </div>
  <div class="wrapper-142">
        <span class="custom-20">Custom</span
        ><img
    class="icon-complete-59"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2442a05054b611ec95a6b5d9bfc743b9.png"
  />
  </div>
  <div class="wrapper-143">
    <div class="wrapper-inner-21">
      <div class="overlayer-6"></div>
    </div>
  </div>
  <div class="google-cloud-wrapper"><span class="google-cloud">Google Cloud</span></div>
  <div class="wrapper-144">
        <span class="free-20">Free</span
        ><img
    class="icon-complete-60"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24422b2054b611ec8ea2157c737b8d1c.png"
  />
  </div>
  <div class="wrapper-145">
        <span class="standard-38">Standard </span
        ><img
    class="icon-complete-61"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2442794054b611ec9796af92b2815103.png"
  />
  </div>
  <div class="wrapper-146">
        <span class="standard-39">Standard +</span
        ><img
    class="icon-complete-62"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2442041054b611ec97588bdc0751830e.png"
  />
  </div>
  <div class="wrapper-147">
        <span class="support-20">Support</span
        ><img
    class="icon-complete-63"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2441dd0054b611ecad9ee319c1edd709.png"
  />
  </div>
  <div class="wrapper-148">
        <span class="cloud-19">Cloud</span
        ><img
    class="icon-complete-64"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2442ee7054b611eca868a1715096657e.png"
  />
  </div>
  <div class="wrapper-149">
        <span class="custom-21">Custom</span
        ><img
    class="icon-complete-65"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24433c9054b611ec9524c92faa47eee2.png"
  />
  </div>
  <div class="wrapper-150">
    <div class="wrapper-inner-22">
      <div class="layer-8"></div>
    </div>
  </div>
  <div class="github-terraform-wrapper"><span class="github-terraform">Github / Terraform</span></div>
  <div class="wrapper-151">
        <span class="free-21">Free</span
        ><img
    class="icon-close-14"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2442ee7054b611ec821493b01e96d4a1.png"
  />
  </div>
  <div class="wrapper-152">
        <span class="standard-40">Standard </span
        ><img
    class="icon-close-15"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2443d8d054b611ecb3560b3100a1d592.png"
  />
  </div>
  <div class="wrapper-153">
        <span class="standard-41">Standard +</span
        ><img
    class="icon-complete-66"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2442ee7054b611ec83d8c53c90f07803.png"
  />
  </div>
  <div class="wrapper-154">
        <span class="support-21">Support</span
        ><img
    class="icon-complete-67"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2444751054b611ec890dff9b7ade287f.png"
  />
  </div>
  <div class="wrapper-155">
        <span class="cloud-20">Cloud</span
        ><img
    class="icon-complete-68"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24455f7054b611ec97c5e932125f52b3.png"
  />
  </div>
  <div class="wrapper-156">
        <span class="custom-22">Custom</span
        ><img
    class="icon-complete-69"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2444ea4054b611eca4174d4b833d917d.png"
  />
  </div>
  <div class="wrapper-157">
    <div class="wrapper-inner-23">
      <div class="mask-7"></div>
    </div>
  </div>
  <div class="figma-wrapper"><span class="figma">Figma</span></div>
  <div class="wrapper-158">
        <span class="free-22">Free</span
        ><img
    class="icon-close-16"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2445386054b611ec9f6f49e793eeab37.png"
  />
  </div>
  <div class="wrapper-159">
        <span class="standard-42">Standard </span
        ><img
    class="icon-close-17"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24455f7054b611eca5003f0c49c89969.png"
  />
  </div>
  <div class="wrapper-160">
        <span class="standard-43">Standard +</span
        ><img
    class="icon-close-18"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2445868054b611ecba14efacec06f44b.png"
  />
  </div>
  <div class="wrapper-161">
        <span class="support-22">Support</span
        ><img
    class="icon-close-19"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2445fbb054b611ec9af579d6aa238efd.png"
  />
  </div>
  <div class="wrapper-162">
        <span class="cloud-21">Cloud</span
        ><img
    class="icon-complete-70"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244670e054b611eca695f533ab6351b1.png"
  />
  </div>
  <div class="wrapper-163">
        <span class="custom-23">Custom</span
        ><img
    class="icon-complete-71"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244670e054b611ec95a6b5d9bfc743b9.png"
  />
  </div>
  <div class="wrapper-164">
    <div class="wrapper-inner-24">
      <div class="overlayer-7"></div>
    </div>
  </div>
  <div class="stripe-wrapper"><span class="stripe">Stripe</span></div>
  <div class="wrapper-165">
        <span class="free-23">Free</span
        ><img
    class="icon-close-20"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244697f054b611ec97588bdc0751830e.png"
  />
  </div>
  <div class="wrapper-166">
        <span class="standard-44">Standard </span
        ><img
    class="icon-close-21"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244670e054b611ecad9ee319c1edd709.png"
  />
  </div>
  <div class="wrapper-167">
        <span class="standard-45">Standard +</span
        ><img
    class="icon-close-22"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244649d054b611ec9796af92b2815103.png"
  />
  </div>
  <div class="wrapper-168">
        <span class="support-23">Support</span
        ><img
    class="icon-close-23"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244845a054b611ec8ea2157c737b8d1c.png"
  />
  </div>
  <div class="wrapper-169">
        <span class="cloud-22">Cloud</span
        ><img
    class="icon-complete-72"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2448bad054b611ec821493b01e96d4a1.png"
  />
  </div>
  <div class="wrapper-170">
        <span class="custom-24">Custom</span
        ><img
    class="icon-complete-73"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244893c054b611ec9524c92faa47eee2.png"
  />
  </div>
  <div class="wrapper-171">
    <div class="wrapper-inner-25">
      <div class="layer-9"></div>
    </div>
  </div>
  <div class="twilio-sendgrid-wrapper"><span class="twilio-sendgrid">Twilio / SendGrid</span></div>
  <div class="wrapper-172">
        <span class="free-24">Free</span
        ><img
    class="icon-close-24"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24486cb054b611ec83d8c53c90f07803.png"
  />
  </div>
  <div class="wrapper-173">
        <span class="standard-46">Standard </span
        ><img
    class="icon-close-25"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24486cb054b611eca868a1715096657e.png"
  />
  </div>
  <div class="wrapper-174">
        <span class="standard-47">Standard +</span
        ><img
    class="icon-close-26"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244eae4054b611eca868a1715096657e.png"
  />
  </div>
  <div class="wrapper-175">
        <span class="support-24">Support</span
        ><img
    class="icon-close-27"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2449571054b611ecb3560b3100a1d592.png"
  />
  </div>
  <div class="wrapper-176">
        <span class="cloud-23">Cloud</span
        ><img
    class="icon-complete-74"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24497e2054b611eca4174d4b833d917d.png"
  />
  </div>
  <div class="wrapper-177">
        <span class="custom-25">Custom</span
        ><img
    class="icon-complete-75"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2449571054b611ec97c5e932125f52b3.png"
  />
  </div>
  <div class="wrapper-178">
    <div class="wrapper-inner-26">
      <div class="mask-8"></div>
    </div>
  </div>
  <div class="wrapper-179 purple-blue-ft"><span class="info-7">View 85 more pages</span></div>
  <div class="developer-experience-wrapper purple-blue-ft"><span
    class="developer-experience">Developer Experience</span></div>
  <div class="jwt-wrapper-1"><span class="jwt-1">JWT</span></div>
  <div class="wrapper-180"><span class="free-25">Free</span><span class="month-8">50/month</span></div>
  <div class="wrapper-181"><span class="standard-48">Standard</span><span class="month-9">50/month</span></div>
  <div class="wrapper-182"><span class="standard-49">Standard +</span><span class="month-10">200/month</span></div>
  <div class="wrapper-183"><span class="support-25">Support</span><span class="ulimited-14">Ulimited</span></div>
  <div class="wrapper-184"><span class="cloud-24">Cloud</span><span class="ulimited-15">Ulimited</span></div>
  <div class="wrapper-185"><span class="custom-26">Custom</span><span class="ulimited-16">Ulimited</span></div>
  <div class="wrapper-186">
    <div class="wrapper-inner-27">
      <div class="overlayer-8"></div>
    </div>
  </div>
  <div class="nest-node-wrapper-1"><span class="nest-node-1">Nest / Node</span></div>
  <div class="wrapper-187">
        <span class="free-26">Free</span
        ><img
    class="icon-complete-76"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244ab6a054b611ec890dff9b7ade287f.png"
  />
  </div>
  <div class="wrapper-188">
        <span class="standard-50">Standard</span
        ><img
    class="icon-complete-77"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244a688054b611ec9f6f49e793eeab37.png"
  />
  </div>
  <div class="wrapper-189"><span class="standard-51">Standard +</span><span class="month-11">200/month</span></div>
  <div class="wrapper-190"><span class="support-26">Support</span><span class="ulimited-17">Ulimited</span></div>
  <div class="wrapper-191"><span class="cloud-25">Cloud</span><span class="ulimited-18">Ulimited</span></div>
  <div class="wrapper-192"><span class="custom-27">Custom</span><span class="ulimited-19">Ulimited</span></div>
  <div class="wrapper-193">
    <div class="wrapper-inner-28">
      <div class="layer-10"></div>
    </div>
  </div>
  <div class="prisma-wrapper-1"><span class="prisma-1">Prisma</span></div>
  <div class="wrapper-194">
        <span class="free-27">Free</span
        ><img
    class="icon-complete-78"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244b79f054b611ecba14efacec06f44b.png"
  />
  </div>
  <div class="wrapper-195">
        <span class="standard-52">Standard</span
        ><img
    class="icon-complete-79"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244b52e054b611eca5003f0c49c89969.png"
  />
  </div>
  <div class="wrapper-196"><span class="standard-53">Standard +</span><span class="months-4">+6 months</span></div>
  <div class="wrapper-197"><span class="support-27">Support</span><span class="custom-28">Custom</span></div>
  <div class="wrapper-198"><span class="cloud-26">Cloud</span><span class="months-5">3 months</span></div>
  <div class="wrapper-199"><span class="custom-29">Custom</span><span class="ulimited-20">Ulimited</span></div>
  <div class="wrapper-200">
    <div class="wrapper-inner-29">
      <div class="mask-9"></div>
    </div>
  </div>
  <div class="redis-wrapper-1"><span class="redis-1">Redis</span></div>
  <div class="wrapper-201"><span class="free-28">Free</span><span class="num-12">25</span></div>
  <div class="wrapper-202"><span class="standard-54">Standard </span><span class="num-13">25</span></div>
  <div class="wrapper-203"><span class="standard-55">Standard +</span><span class="num-14">25</span></div>
  <div class="wrapper-204"><span class="support-28">Support</span><span class="num-15">25</span></div>
  <div class="wrapper-205"><span class="cloud-27">Cloud</span><span class="num-16">2500</span></div>
  <div class="wrapper-206"><span class="custom-30">Custom</span><span class="num-17">2500</span></div>
  <div class="wrapper-207">
    <div class="wrapper-inner-30">
      <div class="overlayer-9"></div>
    </div>
  </div>
  <div class="sql-wrapper-1"><span class="sql-1">My SQL</span></div>
  <div class="wrapper-208">
        <span class="free-29">Free</span
        ><img
    class="icon-complete-80"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244b52e054b611ec9af579d6aa238efd.png"
  />
  </div>
  <div class="wrapper-209">
        <span class="standard-56">Standard </span
        ><img
    class="icon-complete-81"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244bc81054b611eca695f533ab6351b1.png"
  />
  </div>
  <div class="wrapper-210">
        <span class="standard-57">Standard +</span
        ><img
    class="icon-complete-82"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24516d6054b611ecba14efacec06f44b.png"
  />
  </div>
  <div class="wrapper-211">
        <span class="support-29">Support</span
        ><img
    class="icon-complete-83"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244c163054b611ec95a6b5d9bfc743b9.png"
  />
  </div>
  <div class="wrapper-212">
        <span class="cloud-28">Cloud</span
        ><img
    class="icon-complete-84"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244cb27054b611ecad9ee319c1edd709.png"
  />
  </div>
  <div class="wrapper-213">
        <span class="custom-31">Custom</span
        ><img
    class="icon-complete-85"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244dc3e054b611ec97588bdc0751830e.png"
  />
  </div>
  <div class="wrapper-214">
    <div class="wrapper-inner-31">
      <div class="layer-11"></div>
    </div>
  </div>
  <div class="ngxbootstrap-wrapper-1"><span class="ngxbootstrap-1">ngx-Bootstrap</span></div>
  <div class="wrapper-215">
        <span class="free-30">Free</span
        ><img
    class="icon-complete-86"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244cb27054b611ec9796af92b2815103.png"
  />
  </div>
  <div class="wrapper-216">
        <span class="standard-58">Standard </span
        ><img
    class="icon-complete-87"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244d27a054b611ec8ea2157c737b8d1c.png"
  />
  </div>
  <div class="wrapper-217">
        <span class="standard-59">Standard +</span
        ><img
    class="icon-complete-88"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244d4eb054b611ec821493b01e96d4a1.png"
  />
  </div>
  <div class="wrapper-218">
        <span class="support-30">Support</span
        ><img
    class="icon-complete-89"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244d009054b611ec9524c92faa47eee2.png"
  />
  </div>
  <div class="wrapper-219">
        <span class="cloud-29">Cloud</span
        ><img
    class="icon-complete-90"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2450d12054b611ec83d8c53c90f07803.png"
  />
  </div>
  <div class="wrapper-220">
        <span class="custom-32">Custom</span
        ><img
    class="icon-complete-91"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244ed55054b611ecb3560b3100a1d592.png"
  />
  </div>
  <div class="wrapper-221">
    <div class="wrapper-inner-32">
      <div class="mask-10"></div>
    </div>
  </div>
  <div class="angular-wrapper-1"><span class="angular-1">Angular</span></div>
  <div class="wrapper-222">
        <span class="free-31">Free</span
        ><img
    class="icon-close-28"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244efc6054b611ec890dff9b7ade287f.png"
  />
  </div>
  <div class="wrapper-223">
        <span class="standard-60">Standard </span
        ><img
    class="icon-close-29"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244efc6054b611ec97c5e932125f52b3.png"
  />
  </div>
  <div class="wrapper-224">
        <span class="standard-61">Standard +</span
        ><img
    class="icon-complete-92"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244f4a8054b611eca4174d4b833d917d.png"
  />
  </div>
  <div class="wrapper-225">
        <span class="support-31">Support</span
        ><img
    class="icon-complete-93"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244fe6c054b611ec9f6f49e793eeab37.png"
  />
  </div>
  <div class="wrapper-226">
        <span class="cloud-30">Cloud</span
        ><img
    class="icon-complete-94"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/244fe6c054b611ec9af579d6aa238efd.png"
  />
  </div>
  <div class="wrapper-227">
        <span class="custom-33">Custom</span
        ><img
    class="icon-complete-95"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24511f4054b611ec95a6b5d9bfc743b9.png"
  />
  </div>
  <div class="wrapper-228">
    <div class="wrapper-inner-33">
      <div class="overlayer-10"></div>
    </div>
  </div>
  <div class="workspaces-docker-wrapper-1"><span class="workspaces-docker-1">Workspaces / Docker</span></div>
  <div class="wrapper-229">
        <span class="free-32">Free</span
        ><img
    class="icon-close-30"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/246606d054b611eca4174d4b833d917d.png"
  />
  </div>
  <div class="wrapper-230">
        <span class="standard-62">Standard </span
        ><img
    class="icon-close-31"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2450aa1054b611eca695f533ab6351b1.png"
  />
  </div>
  <div class="wrapper-231">
        <span class="standard-63">Standard +</span
        ><img
    class="icon-complete-96"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2450830054b611eca5003f0c49c89969.png"
  />
  </div>
  <div class="wrapper-232">
        <span class="support-32">Support</span
        ><img
    class="icon-complete-97"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/245209a054b611ecad9ee319c1edd709.png"
  />
  </div>
  <div class="wrapper-233">
        <span class="cloud-31">Cloud</span
        ><img
    class="icon-complete-98"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2465dfc054b611ec9f6f49e793eeab37.png"
  />
  </div>
  <div class="wrapper-234">
        <span class="custom-34">Custom</span
        ><img
    class="icon-complete-99"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24569d8054b611ec95a6b5d9bfc743b9.png"
  />
  </div>
  <div class="wrapper-235">
    <div class="wrapper-inner-34">
      <div class="layer-12"></div>
    </div>
  </div>
  <div class="google-cloud-wrapper-1"><span class="google-cloud-1">Google Cloud</span></div>
  <div class="wrapper-236">
        <span class="free-33">Free</span
        ><img
    class="icon-complete-100"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2456c49054b611ecad9ee319c1edd709.png"
  />
  </div>
  <div class="wrapper-237">
        <span class="standard-64">Standard </span
        ><img
    class="icon-complete-101"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2451e29054b611ec97588bdc0751830e.png"
  />
  </div>
  <div class="wrapper-238">
        <span class="standard-65">Standard +</span
        ><img
    class="icon-complete-102"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/245257c054b611ec9796af92b2815103.png"
  />
  </div>
  <div class="wrapper-239">
        <span class="support-33">Support</span
        ><img
    class="icon-complete-103"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/245209a054b611ec8ea2157c737b8d1c.png"
  />
  </div>
  <div class="wrapper-240">
        <span class="cloud-32">Cloud</span
        ><img
    class="icon-complete-104"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2452a5e054b611ec821493b01e96d4a1.png"
  />
  </div>
  <div class="wrapper-241">
        <span class="custom-35">Custom</span
        ><img
    class="icon-complete-105"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2452f40054b611ec9524c92faa47eee2.png"
  />
  </div>
  <div class="wrapper-242">
    <div class="wrapper-inner-35">
      <div class="mask-11"></div>
    </div>
  </div>
  <div class="github-terraform-wrapper-1"><span class="github-terraform-1">Github / Terraform</span></div>
  <div class="wrapper-243">
        <span class="free-34">Free</span
        ><img
    class="icon-close-32"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2452f40054b611eca868a1715096657e.png"
  />
  </div>
  <div class="wrapper-244">
        <span class="standard-66">Standard </span
        ><img
    class="icon-close-33"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24531b1054b611ec83d8c53c90f07803.png"
  />
  </div>
  <div class="wrapper-245">
        <span class="standard-67">Standard +</span
        ><img
    class="icon-complete-106"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2466f13054b611ec9af579d6aa238efd.png"
  />
  </div>
  <div class="wrapper-246">
        <span class="support-34">Support</span
        ><img
    class="icon-complete-107"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2456eba054b611ec97588bdc0751830e.png"
  />
  </div>
  <div class="wrapper-247">
        <span class="cloud-33">Cloud</span
        ><img
    class="icon-complete-108"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2456eba054b611ec9796af92b2815103.png"
  />
  </div>
  <div class="wrapper-248">
        <span class="custom-36">Custom</span
        ><img
    class="icon-complete-109"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2458e77054b611ec8ea2157c737b8d1c.png"
  />
  </div>
  <div class="wrapper-249">
    <div class="wrapper-inner-36">
      <div class="overlayer-11"></div>
    </div>
  </div>
  <div class="figma-wrapper-1"><span class="figma-1">Figma</span></div>
  <div class="wrapper-250">
        <span class="free-35">Free</span
        ><img
    class="icon-close-34"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2453422054b611ecb3560b3100a1d592.png"
  />
  </div>
  <div class="wrapper-251">
        <span class="standard-68">Standard </span
        ><img
    class="icon-close-35"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2453693054b611ec890dff9b7ade287f.png"
  />
  </div>
  <div class="wrapper-252">
        <span class="standard-69">Standard +</span
        ><img
    class="icon-close-36"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2453de6054b611ec97c5e932125f52b3.png"
  />
  </div>
  <div class="wrapper-253">
        <span class="support-35">Support</span
        ><img
    class="icon-close-37"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2455650054b611eca4174d4b833d917d.png"
  />
  </div>
  <div class="wrapper-254">
        <span class="cloud-34">Cloud</span
        ><img
    class="icon-complete-110"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2455650054b611ec9f6f49e793eeab37.png"
  />
  </div>
  <div class="wrapper-255">
        <span class="custom-37">Custom</span
        ><img
    class="icon-complete-111"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2458c06054b611ec821493b01e96d4a1.png"
  />
  </div>
  <div class="wrapper-256">
    <div class="wrapper-inner-37">
      <div class="layer-13"></div>
    </div>
  </div>
  <div class="stripe-wrapper-1"><span class="stripe-1">Stripe</span></div>
  <div class="wrapper-257">
        <span class="free-36">Free</span
        ><img
    class="icon-close-38"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2458c06054b611ec9524c92faa47eee2.png"
  />
  </div>
  <div class="wrapper-258">
        <span class="standard-70">Standard </span
        ><img
    class="icon-close-39"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2459aac054b611eca868a1715096657e.png"
  />
  </div>
  <div class="wrapper-259">
        <span class="standard-71">Standard +</span
        ><img
    class="icon-close-40"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2466ca2054b611ecba14efacec06f44b.png"
  />
  </div>
  <div class="wrapper-260">
        <span class="support-36">Support</span
        ><img
    class="icon-close-41"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2466f13054b611eca5003f0c49c89969.png"
  />
  </div>
  <div class="wrapper-261">
        <span class="cloud-35">Cloud</span
        ><img
    class="icon-complete-112"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2467184054b611ec95a6b5d9bfc743b9.png"
  />
  </div>
  <div class="wrapper-262">
        <span class="custom-38">Custom</span
        ><img
    class="icon-complete-113"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2467184054b611eca695f533ab6351b1.png"
  />
  </div>
  <div class="wrapper-263">
    <div class="wrapper-inner-38">
      <div class="mask-12"></div>
    </div>
  </div>
  <div class="twilio-sendgrid-wrapper-1"><span class="twilio-sendgrid-1">Twilio / SendGrid</span></div>
  <div class="wrapper-264">
        <span class="free-37">Free</span
        ><img
    class="icon-close-42"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/24678d7054b611ecad9ee319c1edd709.png"
  />
  </div>
  <div class="wrapper-265">
        <span class="standard-72">Standard </span
        ><img
    class="icon-close-43"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2459d1d054b611ecb3560b3100a1d592.png"
  />
  </div>
  <div class="wrapper-266">
        <span class="standard-73">Standard +</span
        ><img
    class="icon-close-44"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/245a1ff054b611ec83d8c53c90f07803.png"
  />
  </div>
  <div class="wrapper-267">
        <span class="support-37">Support</span
        ><img
    class="icon-close-45"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2456c49054b611ecba14efacec06f44b.png"
  />
  </div>
  <div class="wrapper-268">
        <span class="cloud-36">Cloud</span
        ><img
    class="icon-complete-114"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2456285054b611eca5003f0c49c89969.png"
  />
  </div>
  <div class="wrapper-269">
        <span class="custom-39">Custom</span
        ><img
    class="icon-complete-115"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2456285054b611ec9af579d6aa238efd.png"
  />
  </div>
  <div class="wrapper-270">
    <div class="wrapper-inner-39">
      <div class="overlayer-12"></div>
    </div>
  </div>
  <div class="wrapper-271 purple-blue-ft"><span class="info-8">View 85 more pages</span></div>
  <div class="wrapper-272">
    <img
      class="logo-1"
      src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2468c5f054b611ec97588bdc0751830e.png"
    />
  </div>
  <div class="wrapper-273">
        <span class="summary-1"
        >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut laboreet.</span
        >
  </div>
  <div class="about-wrapper"><span class="about">ABOUT US</span></div>
  <div class="follow-wrapper"><span class="follow">FOLLOW US</span></div>
  <div class="contact-wrapper"><span class="contact">CONTACT US</span></div>
  <div class="wrapper-274">
        <span class="made-with">MADE WITH</span
        ><img
    class="icon-like"
    src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/2459f8e054b611ec890dff9b7ade287f.png"
  /><span class="valor-software">BY VALOR SOFTWARE</span>
  </div>
</div>
