<div class="page">
  <div class="wrapper">
    <div class="primary">
      <div class="empty"></div>
      <div class="empty-1"></div>
      <div class="empty-2"></div>
      <div class="group">
        <div class="empty-3"></div>
      </div>
    </div>
    <img
      class="logo"
      src="https://ai-sample.oss-cn-hangzhou.aliyuncs.com/figma-plugin/240940d054b611ec97c5e932125f52b3.png"
    />
  </div>
  <div class="wrapper-1">
    <div class="primary-1"><span class="email">E-mail</span></div>
    <button class="btn">
      <span class="azure-gradient">Subscribe</span>
      <i class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"></i>
    </button>
  </div>
  <div class="empty-4"></div>
  <div class="wrapper-3">
        <span class="article"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat accumsan in tellus non risus iaculis
          tempus, in vestibulum. Nisl mauris velit tristique a, tellus ut.</span
        >
  </div>
  <div style="display: flex;justify-content: center;align-items: center;width: 100%;">
    <button class="see-our-plans">
      <span class="fw-bold">See our plans</span>
      <i style="transform: rotate(90deg);" class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"></i>
    </button>
  </div>
  <div class="wrapper-5">
    <span class="info-1">Plans for everyone</span>
  </div>
  <div class="wrapper-6">
    <span class="summary">Lorem ipsum dolor sit amet. Est placeat corporis et temporibus</span>
  </div>
  <div class="plans-card-item d-flex flex-column justify-content-center align-items-center">
    <div class="plans-card-item__t d-flex flex-column justify-content-center align-items-center">Free</div>
    <div class="plans-card-item__b flex-grow-1 d-flex flex-column justify-content-around align-items-center">
      <div class="d-flex flex-column justify-content-around align-items-center">
        <div class="plans-card-item__desc d-flex flex-column justify-content-around align-items-center">
          <span class="fw-bold">Start Plan</span>
          <span>For personal use</span>
        </div>
      </div>
      <button class="gradual-btn">
        <span class="purple-blue-ft">Buy This</span>
      </button>
      <span class="learn-more">Learn more</span>
    </div>
  </div>
  <div class="wrapper-7">
    <span class="info-3">See detailed plan comparison</span>
    <i style="transform: rotate(90deg);" class="align-middle fas fa-fw fa-long-arrow-alt-right shallow-gradient"></i>
  </div>
  <div class="pages-wrapper purple-blue-ft"><span class="pages">Pages</span></div>
  <div class="email-credits-wrapper"><span class="email-credits">Email credits</span></div>
  <div class="wrapper-8"><span class="free-1">Free</span><span class="month">50/month</span></div>
  <div class="wrapper-9"><span class="standard">Standard</span><span class="month-1">50/month</span></div>
  <div class="wrapper-10"><span class="standard-1">Standard +</span><span class="month-2">200/month</span></div>
  <div class="wrapper-11"><span class="support">Support</span><span class="ulimited">Ulimited</span></div>
  <div class="wrapper-12"><span class="cloud">Cloud</span><span class="ulimited-1">Ulimited</span></div>
  <div class="wrapper-13"><span class="cloud">Custom</span><span class="ulimited-2">Ulimited</span></div>
  <div class="wrapper-14">
    <div class="wrapper-inner-3">
      <div class="overlayer"></div>
    </div>
  </div>
  <div class="direct-dials-wrapper"><span class="direct-dials">Direct Dials</span></div>
  <div class="wrapper-15">
    <span class="free-2">Free</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-16">
        <span class="standard-2">Standard</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-17"><span class="standard-3">Standard +</span><span class="month-3">200/month</span></div>
  <div class="wrapper-18"><span class="support-1">Support</span><span class="ulimited-3">Ulimited</span></div>
  <div class="wrapper-19"><span class="cloud-1">Cloud</span><span class="ulimited-4">Ulimited</span></div>
  <div class="wrapper-20"><span class="custom-1">Custom</span><span class="ulimited-5">Ulimited</span></div>
  <div class="wrapper-21">
    <div class="wrapper-inner-4">
      <div class="layer-2"></div>
    </div>
  </div>
  <div class="support-wrapper"><span class="support-2">Support</span></div>
  <div class="wrapper-22">
    <span class="free-3">Free</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-23">
    <span class="standard-4">Standard</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-24"><span class="standard-5">Standard +</span><span class="months">+6 months</span></div>
  <div class="wrapper-25"><span class="support-3">Support</span><span class="custom-2">Custom</span></div>
  <div class="wrapper-26"><span class="cloud-2">Cloud</span><span class="months-1">3 months</span></div>
  <div class="wrapper-27"><span class="custom-3">Custom</span><span class="ulimited-6">Ulimited</span></div>
  <div class="wrapper-28">
    <div class="wrapper-inner-5">
      <div class="mask-1"></div>
    </div>
  </div>
  <div class="wrapper-29"><span class="info-4">Record Selection Limits</span></div>
  <div class="wrapper-30"><span class="free-4">Free</span><span class="num">25</span></div>
  <div class="wrapper-31"><span class="standard-6">Standard </span><span class="num-1">25</span></div>
  <div class="wrapper-32"><span class="standard-7">Standard +</span><span class="num-2">25</span></div>
  <div class="wrapper-33"><span class="support-4">Support</span><span class="num-3">25</span></div>
  <div class="wrapper-34"><span class="cloud-3">Cloud</span><span class="num-4">2500</span></div>
  <div class="wrapper-35"><span class="custom-4">Custom</span><span class="num-5">2500</span></div>
  <div class="wrapper-36">
    <div class="wrapper-inner-6">
      <div class="overlayer-1"></div>
    </div>
  </div>
  <div class="linkedin-extension-wrapper"><span class="linkedin-extension">Linkedin Extension</span></div>
  <div class="wrapper-37">
    <span class="free-5">Free</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-38">
    <span class="standard-8">Standard </span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-39">
    <span class="standard-9">Standard +</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-40">
    <span class="support-5">Support</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-41">
    <span class="cloud-4">Cloud</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-42">
    <span class="custom-5">Custom</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-43">
    <div class="wrapper-inner-7">
      <div class="layer-3"></div>
    </div>
  </div>
  <div class="csv-export-wrapper"><span class="csv-export">CSV Export</span></div>
  <div class="wrapper-44">
    <span class="free-6">Free</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-45">
    <span class="standard-10">Standard </span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-46">
    <span class="standard-11">Standard +</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-47">
    <span class="support-6">Support</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-48">
    <span class="cloud-5">Cloud</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-49">
    <span class="custom-6">Custom</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-50">
    <div class="wrapper-inner-8">
      <div class="mask-2"></div>
    </div>
  </div>
  <div class="basic-filters-wrapper"><span class="basic-filters">Basic Filters</span></div>
  <div class="wrapper-51">
    <span class="free-7">Free</span>
    <span class="icon-unmark"></span>
  </div>
  <div class="wrapper-52">
    <span class="standard-12">Standard </span>
    <span class="icon-unmark"></span>
  </div>
  <div class="wrapper-53">
    <span class="standard-13">Standard +</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-54">
    <span class="support-7">Support</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-55">
    <span class="cloud-6">Cloud</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-56">
    <span class="custom-7">Custom</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-57">
    <div class="wrapper-inner-9">
      <div class="overlayer-2"></div>
    </div>
  </div>
  <div class="advanced-filters-wrapper"><span class="advanced-filters">Advanced Filters</span></div>
  <div class="wrapper-58">
    <span class="free-8">Free</span>
    <span class="icon-unmark"></span>
  </div>
  <div class="wrapper-59">
    <span class="standard-14">Standard </span>
    <span class="icon-unmark"></span>
  </div>
  <div class="wrapper-60">
    <span class="standard-15">Standard +</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-61">
    <span class="support-8">Support</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-62">
    <span class="cloud-7">Cloud</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-63">
    <span class="custom-8">Custom</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-64">
    <div class="wrapper-inner-10">
      <div class="layer-4"></div>
    </div>
  </div>
  <div class="scoring-engine-wrapper"><span class="scoring-engine">Scoring Engine</span></div>
  <div class="wrapper-65">
    <span class="free-9">Free</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-66">
    <span class="standard-16">Standard </span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-67">
    <span class="standard-17">Standard +</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-68">
    <span class="support-9">Support</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-69">
    <span class="cloud-8">Cloud</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-70">
    <span class="custom-9">Custom</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-71">
    <div class="wrapper-inner-11">
      <div class="mask-3"></div>
    </div>
  </div>
  <div class="enrichment-wrapper"><span class="enrichment">Enrichment</span></div>
  <div class="wrapper-72">
    <span class="free-10">Free</span>
    <span class="icon-unmark"></span>
  </div>
  <div class="wrapper-73">
    <span class="standard-18">Standard </span>
    <span class="icon-unmark"></span>
  </div>
  <div class="wrapper-74">
    <span class="standard-19">Standard +</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-75">
    <span class="support-10">Support</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-76">
    <span class="cloud-9">Cloud</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-77">
    <span class="custom-10">Custom</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-78">
    <div class="wrapper-inner-12">
      <div class="overlayer-3"></div>
    </div>
  </div>
  <div class="wrapper-79"><span class="info-5">Job Change Alert</span></div>
  <div class="wrapper-80">
    <span class="free-11">Free</span>
    <span class="icon-unmark"></span>
  </div>
  <div class="wrapper-81">
    <span class="standard-20">Standard </span>
    <span class="icon-unmark"></span>
  </div>
  <div class="wrapper-82">
    <span class="standard-21">Standard +</span>
    <span class="icon-unmark"></span>
  </div>
  <div class="wrapper-83">
    <span class="support-11">Support</span>
    <span class="icon-unmark"></span>
  </div>
  <div class="wrapper-84">
    <span class="cloud-10">Cloud</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-85">
    <span class="custom-11">Custom</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-86">
    <div class="wrapper-inner-13">
      <div class="layer-5"></div>
    </div>
  </div>
  <div class="wrapper-87 purple-blue-ft"><span class="info-6">View 85 more pages</span></div>
  <div class="integrations-wrapper purple-blue-ft"><span class="integrations">Integrations</span></div>
  <div class="jwt-wrapper"><span class="jwt">JWT</span></div>
  <div class="wrapper-88"><span class="free-12">Free</span><span class="month-4">50/month</span></div>
  <div class="wrapper-89"><span class="standard-22">Standard</span><span class="month-5">50/month</span></div>
  <div class="wrapper-90"><span class="standard-23">Standard +</span><span class="month-6">200/month</span></div>
  <div class="wrapper-91"><span class="support-12">Support</span><span class="ulimited-7">Ulimited</span></div>
  <div class="wrapper-92"><span class="cloud-11">Cloud</span><span class="ulimited-8">Ulimited</span></div>
  <div class="wrapper-93"><span class="custom-12">Custom</span><span class="ulimited-9">Ulimited</span></div>
  <div class="wrapper-94">
    <div class="wrapper-inner-14">
      <div class="mask-4"></div>
    </div>
  </div>
  <div class="nest-node-wrapper"><span class="nest-node">Nest / Node</span></div>
  <div class="wrapper-95">
    <span class="free-13">Free</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-96">
    <span class="standard-24">Standard</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-97"><span class="standard-25">Standard +</span><span class="month-7">200/month</span></div>
  <div class="wrapper-98"><span class="support-13">Support</span><span class="ulimited-10">Ulimited</span></div>
  <div class="wrapper-99"><span class="cloud-12">Cloud</span><span class="ulimited-11">Ulimited</span></div>
  <div class="wrapper-100"><span class="custom-13">Custom</span><span class="ulimited-12">Ulimited</span></div>
  <div class="wrapper-101">
    <div class="wrapper-inner-15">
      <div class="overlayer-4"></div>
    </div>
  </div>
  <div class="prisma-wrapper"><span class="prisma">Prisma</span></div>
  <div class="wrapper-102">
    <span class="free-14">Free</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-103">
    <span class="standard-26">Standard</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-104"><span class="standard-27">Standard +</span><span class="months-2">+6 months</span></div>
  <div class="wrapper-105"><span class="support-14">Support</span><span class="custom-14">Custom</span></div>
  <div class="wrapper-106"><span class="cloud-13">Cloud</span><span class="months-3">3 months</span></div>
  <div class="wrapper-107"><span class="custom-15">Custom</span><span class="ulimited-13">Ulimited</span></div>
  <div class="wrapper-108">
    <div class="wrapper-inner-16">
      <div class="layer-6"></div>
    </div>
  </div>
  <div class="redis-wrapper"><span class="redis">Redis</span></div>
  <div class="wrapper-109"><span class="free-15">Free</span><span class="num-6">25</span></div>
  <div class="wrapper-110"><span class="standard-28">Standard </span><span class="num-7">25</span></div>
  <div class="wrapper-111"><span class="standard-29">Standard +</span><span class="num-8">25</span></div>
  <div class="wrapper-112"><span class="support-15">Support</span><span class="num-9">25</span></div>
  <div class="wrapper-113"><span class="cloud-14">Cloud</span><span class="num-10">2500</span></div>
  <div class="wrapper-114"><span class="custom-16">Custom</span><span class="num-11">2500</span></div>
  <div class="wrapper-115">
    <div class="wrapper-inner-17">
      <div class="mask-5"></div>
    </div>
  </div>
  <div class="sql-wrapper"><span class="sql">My SQL</span></div>
  <div class="wrapper-116">
    <span class="free-16">Free</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-117">
    <span class="standard-30">Standard </span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-118">
    <span class="standard-31">Standard +</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-119">
    <span class="support-16">Support</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-120">
    <span class="cloud-15">Cloud</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-121">
    <span class="custom-17">Custom</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-122">
    <div class="wrapper-inner-18">
      <div class="overlayer-5"></div>
    </div>
  </div>
  <div class="ngxbootstrap-wrapper"><span class="ngxbootstrap">ngx-Bootstrap</span></div>
  <div class="wrapper-123">
    <span class="free-17">Free</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-124">
    <span class="standard-32">Standard </span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-125">
    <span class="standard-33">Standard +</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-126">
    <span class="support-17">Support</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-127">
    <span class="cloud-16">Cloud</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-128">
        <span class="custom-18">Custom</span
        >
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-129">
    <div class="wrapper-inner-19">
      <div class="layer-7"></div>
    </div>
  </div>
  <div class="angular-wrapper"><span class="angular">Angular</span></div>
  <div class="wrapper-130">
    <span class="free-18">Free</span>
    <span class="icon-unmark"></span>
  </div>
  <div class="wrapper-131">
    <span class="standard-34">Standard </span>
    <span class="icon-unmark"></span>
  </div>
  <div class="wrapper-132">
    <span class="standard-35">Standard +</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-133">
    <span class="support-18">Support</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-134">
    <span class="cloud-17">Cloud</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-135">
    <span class="custom-19">Custom</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-136">
    <div class="wrapper-inner-20">
      <div class="mask-6"></div>
    </div>
  </div>
  <div class="workspaces-docker-wrapper"><span class="workspaces-docker">Workspaces / Docker</span></div>
  <div class="wrapper-137">
    <span class="free-19">Free</span>
    <span class="icon-unmark"></span>
  </div>
  <div class="wrapper-138">
    <span class="standard-36">Standard </span>
    <span class="icon-unmark"></span>
  </div>
  <div class="wrapper-139">
    <span class="standard-37">Standard +</span>
    <span class="icon-mark"></span>
  </div>
  <div class="wrapper-140">
        <span class="support-19">Support</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-141">
        <span class="cloud-18">Cloud</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-142">
        <span class="custom-20">Custom</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-143">
    <div class="wrapper-inner-21">
      <div class="overlayer-6"></div>
    </div>
  </div>
  <div class="google-cloud-wrapper"><span class="google-cloud">Google Cloud</span></div>
  <div class="wrapper-144">
        <span class="free-20">Free</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-145">
        <span class="standard-38">Standard </span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-146">
        <span class="standard-39">Standard +</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-147">
        <span class="support-20">Support</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-148">
        <span class="cloud-19">Cloud</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-149">
        <span class="custom-21">Custom</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-150">
    <div class="wrapper-inner-22">
      <div class="layer-8"></div>
    </div>
  </div>
  <div class="github-terraform-wrapper"><span class="github-terraform">Github / Terraform</span></div>
  <div class="wrapper-151">
        <span class="free-21">Free</span
        ><span class="icon-unmark"></span>
  </div>
  <div class="wrapper-152">
        <span class="standard-40">Standard </span
        ><span class="icon-unmark"></span>
  </div>
  <div class="wrapper-153">
        <span class="standard-41">Standard +</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-154">
        <span class="support-21">Support</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-155">
        <span class="cloud-20">Cloud</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-156">
        <span class="custom-22">Custom</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-157">
    <div class="wrapper-inner-23">
      <div class="mask-7"></div>
    </div>
  </div>
  <div class="figma-wrapper"><span class="figma">Figma</span></div>
  <div class="wrapper-158">
        <span class="free-22">Free</span
        ><span class="icon-unmark"></span>
  </div>
  <div class="wrapper-159">
        <span class="standard-42">Standard </span
        ><span class="icon-unmark"></span>
  </div>
  <div class="wrapper-160">
        <span class="standard-43">Standard +</span
        ><span class="icon-unmark"></span>
  </div>
  <div class="wrapper-161">
        <span class="support-22">Support</span
        ><span class="icon-unmark"></span>
  </div>
  <div class="wrapper-162">
        <span class="cloud-21">Cloud</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-163">
        <span class="custom-23">Custom</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-164">
    <div class="wrapper-inner-24">
      <div class="overlayer-7"></div>
    </div>
  </div>
  <div class="stripe-wrapper"><span class="stripe">Stripe</span></div>
  <div class="wrapper-165">
        <span class="free-23">Free</span
        ><span class="icon-unmark"></span>
  </div>
  <div class="wrapper-166">
        <span class="standard-44">Standard </span
        ><span class="icon-unmark"></span>
  </div>
  <div class="wrapper-167">
        <span class="standard-45">Standard +</span
        ><span class="icon-unmark"></span>
  </div>
  <div class="wrapper-168">
        <span class="support-23">Support</span
        ><span class="icon-unmark"></span>
  </div>
  <div class="wrapper-169">
        <span class="cloud-22">Cloud</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-170">
        <span class="custom-24">Custom</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-171">
    <div class="wrapper-inner-25">
      <div class="layer-9"></div>
    </div>
  </div>
  <div class="twilio-sendgrid-wrapper"><span class="twilio-sendgrid">Twilio / SendGrid</span></div>
  <div class="wrapper-172">
        <span class="free-24">Free</span
        ><span class="icon-unmark"></span>
  </div>
  <div class="wrapper-173">
        <span class="standard-46">Standard </span
        ><span class="icon-unmark"></span>
  </div>
  <div class="wrapper-174">
        <span class="standard-47">Standard +</span
        ><span class="icon-unmark"></span>
  </div>
  <div class="wrapper-175">
        <span class="support-24">Support</span
        ><span class="icon-unmark"></span>
  </div>
  <div class="wrapper-176">
        <span class="cloud-23">Cloud</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-177">
        <span class="custom-25">Custom</span
        ><span class="icon-mark"></span>
  </div>
  <div class="wrapper-178">
    <div class="wrapper-inner-26">
      <div class="mask-8"></div>
    </div>
  </div>
  <div class="wrapper-179 purple-blue-ft"><span class="info-7">View 85 more pages</span></div>
