<section class="stop-repeat">
  <div class="background-img">
    <div class="background-point">
      <h2 class="text-center headline-2">
        We built Valor Admin out <br />of a desire to stop <br />repeating
        ourselves.
      </h2>
    </div>
    <img src="/assets/img/no-repeat.jpeg" />
  </div>

  <div class="text-reuse text-center">
    <span class="no-repeat-text"
      >Reuse the codes created for your Admin Panels in a smart way, without
      needing to build everything all over again.
    </span>
  </div>
</section>