<section class="news">
  <h3 class="title">Latest news</h3>
  <div class="img-container">
    <div class="news-desc">
      <span class="news-date">25 Out</span><br />
      <span class="news-mt"
        >Lorem ipsum dolor sit <br />amet. Est placeat corporis <br />et
        temporibus
      </span>
    </div>
  </div>
  <div class="news-item">
    <div class="img-block img-one"></div>
    <div class="news-rb">
      <div class="news-date">25 Out</div>
      <div class="news-title">Lorem ipsum dolor sit amet.</div>
      <span class="news-text">
        Lorem ipsum dolor sit amet. Est placeat corporis et temporibus
      </span>
    </div>
  </div>
  <div class="news-item">
    <div class="img-block img-two"></div>
    <div class="news-rb">
      <div class="news-date">25 Out</div>
      <div class="news-title">Lorem ipsum dolor sit amet.</div>
      <span class="news-text">
        Lorem ipsum dolor sit amet. Est placeat corporis et temporibus
      </span>
    </div>
  </div>
</section>
